<ngx-loading-bar
  [includeSpinner]="false"
  [color]="'#ffeb00'"
  ref="http"
></ngx-loading-bar>
<mat-sidenav-container class="vric-container">
  <mat-sidenav #sidenav [mode]="mode" opened>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-------------------------------------- HEADER -------------------------------------->
    <div class="header-toolbar">
      <mat-toolbar color="primary">
        <button (click)="sidenav.toggle()" mat-icon-button class="example-icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="mat-spacer"></span>
        <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
        <button
          *ngIf="!pantallaCompleta"
          (click)="openFullscreen()"
          mat-icon-button
          matTooltip="Pantalla completa"
        >
          <mat-icon>fullscreen</mat-icon>
        </button>
        <button
          *ngIf="pantallaCompleta"
          (click)="closeFullscreen()"
          mat-icon-button
          matTooltip="Salir de pantalla completa"
        >
          <mat-icon>fullscreen_exit</mat-icon>
        </button>
      </mat-toolbar>
    </div>
    <!------------------------------------ FIN HEADER ------------------------------------>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-modal-actualizaciones></app-modal-actualizaciones>
