<ngx-loading-bar
  [includeSpinner]="false"
  [color]="'#E0F2F1'"
  ref="http"
></ngx-loading-bar>
<mat-sidenav-container class="vric-container">
  <mat-sidenav #sidenav [mode]="mode" opened>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-------------------------------------- HEADER -------------------------------------->
    <div class="header-toolbar">
      <mat-toolbar color="primary">
        <button
          (click)="sidenav.toggle()"
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <span class="mat-spacer"></span>
        <button
          mat-icon-button
          class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
        >
          <mat-icon>search</mat-icon>
        </button>
        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with share icon"
        >
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
    </div>
    <!------------------------------------ FIN HEADER ------------------------------------>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-modal-actualizaciones></app-modal-actualizaciones>
