<!-- Page Dashboard Loading -->
<app-page-loader *ngIf="showLoadingPage"></app-page-loader>
<!-- <div
  class="card card-body shadow d-flex flex-column p-3"
  style="position: fixed; bottom: 20px; right: 20px; z-index: 150;"
>
  <small>Theme testing</small>

  <button
    (click)="cambiarTemaColor('vric-default-theme', '')"
    mat-button
    color="primary"
  >
    Default
  </button>
  <button
    (click)="cambiarTemaColor('vric-dark-theme', '')"
    mat-button
    color="primary"
  >
    Dark
  </button>
</div> -->

<ngx-loading-bar
  [includeSpinner]="false"
  [color]="'#ffeb00'"
  ref="http"
></ngx-loading-bar>
<mat-sidenav-container [hasBackdrop]="sidenavBackdrop" class="vric-container">
  <mat-sidenav #sidenav [mode]="sidenavMode" [opened]="sidenavOpen">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-------------------------------------- HEADER -------------------------------------->
    <div #searchToolbar class="header-search-toolbar">
      <app-search-toolbar
        (cerrar)="searchToolarOpen = $event"
        class="animate__animated"
        [class.animate__slideInDown]="searchToolarOpen"
        [class.animate__slideOutUp]="!searchToolarOpen"
      ></app-search-toolbar>
    </div>
    <!-- main toolbar -->
    <div class="header-toolbar">
      <mat-toolbar color="primary">
        <button (click)="sidenav.toggle()" mat-icon-button class="example-icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span class="mat-spacer"></span>
        <button (click)="searchToolarOpen = true" mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
        <button
          *ngIf="!pantallaCompleta"
          (click)="openFullscreen()"
          mat-icon-button
          matTooltip="Pantalla completa"
        >
          <mat-icon>fullscreen</mat-icon>
        </button>
        <button
          *ngIf="pantallaCompleta"
          (click)="closeFullscreen()"
          mat-icon-button
          matTooltip="Salir de pantalla completa"
        >
          <mat-icon>fullscreen_exit</mat-icon>
        </button>
      </mat-toolbar>
    </div>
    <!------------------------------------ FIN HEADER ------------------------------------>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <app-modal-actualizaciones></app-modal-actualizaciones> -->
