<div class="row">
  <div class="col-12">
    <div class="card card-breadcrumb">
      <div class="card-body">
        <div class="page-title">
          <h2 class="title">{{ partes[0].titulo }}</h2>
          <nav>
            <ol class="breadcrumbs-v2">
              <li class="breadcrumb-item">
                <a routerLink="/dashboard">App</a>
              </li>
              <li
                *ngFor="let parte of partes"
                class="breadcrumb-item"
                [ngClass]="{ active: parte.titulo === paginaActiva }"
              >
                <span *ngIf="parte.titulo === paginaActiva">{{
                  parte.titulo
                }}</span>
                <a
                  *ngIf="parte.titulo !== paginaActiva"
                  [routerLink]="[parte.url]"
                  >{{ parte.titulo }}</a
                >
              </li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="page-title">
  <div class="page-icon">
    <i class="material-icons">{{ gIcono }}</i>
  </div>
  <h1>{{ titulo }}</h1>
  <div class="page-options">
    <button class="btn btn-info">Haz algo</button>
  </div>
</div> -->
