<div class="content">
  <div class="container-fluid">
    <app-breadcrumb></app-breadcrumb>
    <div class="row">
      <div class="col-12">
        <div class="card BDM_fadeInUp">
          <div class="card-body">
            <!------------------- Spiner cargando información ------------------->
            <div *ngIf="cargando" class="d-flex justify-content-center">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Cargando...</span>
              </div>
            </div>
            <div
              *ngIf="!cargando"
              class="row animate__animated animate__fadeIn"
            >
              <div class="col-12 text-right">
                <button
                  (click)="crearUsuario()"
                  class="btn btn-primary btn-sm mb-3"
                >
                  <i class="material-icons"> post_add</i>
                  Crear usuario
                </button>
              </div>
              <div class="col-12">
                <div class="table-responsive animate__animated animate__fadeIn">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th>Documento</th>
                        <th>Activo</th>
                        <th>Acceso/Rol</th>
                        <th class="text-center">Tipo de cuenta</th>
                        <th>Telefono</th>
                        <th>Creado</th>
                        <th class="text-right">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let usuario of usuarios">
                        <td>
                          <b>{{ usuario.nombre }}</b>
                          <br />
                          <span class="text-muted">{{ usuario.correo }}</span>
                        </td>
                        <td>{{ usuario.documento }}</td>
                        <td>
                          <div class="custom-control custom-switch">
                            <input
                              [(ngModel)]="usuario.activo"
                              type="checkbox"
                              [id]="usuario._id"
                              class="custom-control-input"
                            />
                            <label
                              class="custom-control-label"
                              [for]="usuario._id"
                            >
                            </label>
                          </div>
                        </td>
                        <td>
                          <select
                            [(ngModel)]="usuario.rol"
                            name="usuarioRol"
                            class="form-control"
                            title="Seleccionar"
                          >
                            <option value="ADMIN">Administrador</option>
                            <option value="GESTOR">Gestor</option>
                            <option value="COORDINADOR">Coordinador</option>
                            <option value="DOCENTE">Docente</option>
                          </select>
                        </td>
                        <td class="text-center">
                          <span
                            *ngIf="usuario.google"
                            class="badge badge-success"
                            >Google</span
                          >
                          <span
                            *ngIf="!usuario.google"
                            class="badge badge-secondary"
                            >Normal</span
                          >
                        </td>
                        <td>
                          {{ usuario.telefono }}
                          <span *ngIf="usuario.telefono === ''">No tiene</span>
                        </td>
                        <td>{{ usuario.creadoEl }}</td>
                        <td class="text-right">
                          <button
                            (click)="actualizarUsuario(usuario)"
                            class="btn btn-success btn-sm mr-1"
                          >
                            <i class="fas fa-save"></i>
                          </button>
                          <button
                            (click)="editarUsuario(usuario)"
                            class="btn btn-info btn-sm mr-1"
                          >
                            <i class="fas fa-pencil"></i>
                          </button>
                          <button
                            (click)="eliminarUsuario(usuario)"
                            class="btn btn-danger btn-sm mr-1"
                          >
                            <i class="fas fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="infoUsuario" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">
          Información de beneficiario
        </h6>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="usuarioInfo !== null" class="modal-body">
        <form ngNativeValidate>
          <div class="row" style="position: relative; z-index: 1;">
            <div class="form-group col-12">
              <label for="nombre">Nombre completo</label>
              <input
                [(ngModel)]="usuarioInfo.nombre"
                name="nombre"
                type="text"
                class="form-control"
                placeholder="Nombre..."
                required
              />
            </div>
            <div class="form-group col-12">
              <label for="documento">Documento</label>
              <input
                [(ngModel)]="usuarioInfo.documento"
                name="documento"
                type="text"
                class="form-control"
                placeholder="No. documento..."
                required
              />
            </div>
            <div class="form-group col-12">
              <label for="correo">Correo</label>
              <input
                [(ngModel)]="usuarioInfo.correo"
                name="correo"
                type="email"
                class="form-control"
                placeholder="Correo..."
                required
              />
            </div>
            <div class="form-group col-12">
              <label for="telefono">Telefono</label>
              <input
                [(ngModel)]="usuarioInfo.telefono"
                name="telefono"
                type="text"
                class="form-control"
                placeholder="Telefono..."
              />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-6">
              <label for="rol">Rol</label>
              <select
                [(ngModel)]="usuarioInfo.rol"
                name="rol"
                class="form-control"
                title="Seleccionar"
                data-size="7"
                required
              >
                <option value="ADMIN">Administrador</option>
                <option value="GESTOR">Gestor</option>
                <option value="COORDINADOR">Coordinador</option>
                <option value="DOCENTE">Docente</option>
              </select>
            </div>
            <div class="form-group col-6">
              <label for="contratos">Contratos</label>
              <select
                [(ngModel)]="usuarioInfo.contratos"
                name="contratos"
                class="form-control"
                title="Seleccionar"
                multiple
              >
                <option *ngIf="contratosDisponibles.length === 0" disabled
                  >No hay contratos</option
                >
                <option
                  *ngFor="let contrato of contratosDisponibles"
                  [value]="contrato._id"
                  >{{ contrato.codigo }}</option
                >
              </select>
            </div>
            <div class="form-group col-12">
              <label for="password">Contraseña</label>
              <div class="input-group">
                <input
                  [(ngModel)]="usuarioInfo.password"
                  type="text"
                  placeholder="Contraseña..."
                  class="form-control"
                  name="password"
                />
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          (click)="actualizarUsuario(usuarioInfo)"
          type="submit"
          class="btn btn-success mr-2"
        >
          <i class="far fa-sync"></i> Actualizar
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
