<div class="sidenav-detalle border-left" *ngIf="!editMode; else formEdit">
  <form class="form-detalle">
    <div class="actions">
      <button type="button" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button type="button" (click)="editMode = true" mat-menu-item>
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
      </mat-menu>
      <button (click)="volver()" matTooltip="Cerrar" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="user-no-image">
      {{ usuario.nombre | primeraLetra }}
    </div>
    <h2 class="form-title">{{ usuario.nombre | nombrePropio }}</h2>
    <div class="badges d-flex flex-row">
      <div
        class="badge-status alert mr-1"
        [ngClass]="{
          'alert-success': usuario.activo,
          'alert-danger': !usuario.activo
        }"
      >
        <div
          class="status-indicator"
          [ngClass]="{
            'bg-success': usuario.activo,
            'bg-danger': !usuario.activo
          }"
        ></div>
        <span class="status-text" *ngIf="usuario.activo">Activo</span>
        <span class="status-text" *ngIf="!usuario.activo">Inactivo</span>
      </div>
    </div>
    <div class="form-field documento">
      <mat-icon class="form-field-icon">account_box</mat-icon>
      <div class="label">
        {{ usuario.documento | documento }}
      </div>
    </div>
    <div class="form-field correo">
      <mat-icon class="form-field-icon">mail</mat-icon>
      <div class="label">
        {{ usuario.correo }}
      </div>
    </div>
    <div class="form-field telefono">
      <mat-icon class="form-field-icon">local_phone</mat-icon>
      <div class="label">
        <span id="telefono">{{ usuario.telefono }}</span>
        <button
          type="button"
          (click)="whatsApp(usuario.telefono)"
          mat-icon-button
          matTooltip="Enviar WhatsApp"
          matTooltipPosition="right"
          class="clipboard-btn ml-2"
        >
          <mat-icon svgIcon="whatsapp"></mat-icon>
        </button>
      </div>
    </div>
    <div class="form-field rol">
      <mat-icon class="form-field-icon">verified_user</mat-icon>
      <div class="label">
        {{ usuario.rol }}
      </div>
    </div>
    <div class="form-field contratos">
      <mat-icon class="form-field-icon">book</mat-icon>
      <div class="label">
        <span *ngFor="let contrato of usuario.contratos"
          >{{ contrato.eas | uppercase }}, {{ contrato.codigo }} <br
        /></span>
      </div>
    </div>
    <div class="form-field creadoEl">
      <mat-icon class="form-field-icon">today</mat-icon>
      <div class="label">Creado el {{ usuario.creadoEl }}</div>
    </div>
  </form>
</div>
<!--------------------------------------------------------------------------------->
<!-------------------------- TEMPLATE FOR EDIT MODE FORM -------------------------->
<ng-template #formEdit>
  <div class="sidenav-detalle border-left">
    <form
      class="form-detalle modo-edicion"
      ngNativeValidate
      [formGroup]="formActualizarUsuario"
      (ngSubmit)="actualizar()"
    >
      <div class="actions">
        <button
          type="button"
          (click)="editMode = false"
          mat-icon-button
          matTooltip="Cancelar"
        >
          <mat-icon>cancel</mat-icon>
        </button>
        <button
          (click)="actualizar()"
          type="submit"
          mat-icon-button
          matTooltip="Guardar"
        >
          <mat-icon>save</mat-icon>
        </button>
        <button
          type="button"
          (click)="eliminar()"
          mat-icon-button
          matTooltip="Eliminar"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
      <div class="user-no-image">
        {{ fv.nombre | primeraLetra }}
      </div>
      <div class="nombre form-field">
        <mat-form-field appearance="outline">
          <mat-label>Nombre completo</mat-label>
          <input
            matInput
            formControlName="nombre"
            name="nombre"
            placeholder="ej. Brayan Devia Machado"
          />
        </mat-form-field>
      </div>
      <div class="activo form-field mt-4">
        <mat-slide-toggle name="activo" formControlName="activo">
          <span *ngIf="fv.activo">Activo</span>
          <span *ngIf="!fv.activo">Inactivo</span>
        </mat-slide-toggle>
      </div>
      <div class="documento form-field">
        <mat-icon class="form-field-icon">account_box</mat-icon>
        <mat-form-field appearance="outline">
          <mat-label>No. Documento</mat-label>
          <input
            matInput
            formControlName="documento"
            name="documento"
            placeholder="Número de documento..."
          />
        </mat-form-field>
      </div>
      <div class="correo form-field">
        <mat-icon class="form-field-icon">email</mat-icon>
        <mat-form-field appearance="outline">
          <mat-label>Correo electrónico</mat-label>
          <input
            matInput
            formControlName="correo"
            name="correo"
            placeholder="usuario@dominio.com"
          />
        </mat-form-field>
      </div>
      <div class="form-field telefono">
        <mat-icon class="form-field-icon">local_phone</mat-icon>
        <mat-form-field appearance="outline">
          <mat-label>telefono asignados</mat-label>
          <input
            matInput
            type="numeric"
            formControlName="telefono"
            name="telefono"
            placeholder="telefono..."
          />
        </mat-form-field>
      </div>
      <div class="form-field rol">
        <mat-icon class="form-field-icon">supervisor_account</mat-icon>
        <mat-form-field appearance="outline" class="bdm-select">
          <mat-select
            placeholder="Establecer rol"
            name="rol"
            formControlName="rol"
          >
            <mat-option *ngFor="let rol of roles" [value]="rol.value">
              <mat-icon
                fontSet="fas"
                [fontIcon]="rol.icon"
                [class]="rol.iconColor"
              ></mat-icon>
              {{ rol.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-field contratos">
        <mat-icon class="form-field-icon">book</mat-icon>
        <mat-form-field appearance="outline" class="bdm-select">
          <mat-select
            name="contratos"
            formControlName="contratos"
            placeholder="Asignar contratos"
            multiple
          >
            <mat-option
              *ngFor="let contrato of contratosDisponibles"
              [value]="contrato._id"
              >{{ contrato.codigo }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-field password">
        <mat-icon class="form-field-icon">lock</mat-icon>
        <mat-form-field appearance="outline">
          <mat-label>Nueva contraseña</mat-label>
          <input
            matInput
            name="password"
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </form>
  </div>
</ng-template>
