<header class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <div class="form-inline my-2 my-lg-0 ml-3">
    <input
      #buscador
      (keyup.enter)="buscar(buscador.value)"
      class="form-control mr-sm-2 buscador"
      type="search"
      placeholder="Buscar"
      aria-label="Buscar"
    />
    <!-- <button class="btn btn-outline-primary my-2 my-sm-0" type="button">
      <i class="fas fa-search"></i>
    </button> -->
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-nav-scroll"></div>
  <ul class="navbar-nav ml-md-auto">
    <li class="nav-item dropdown">
      <a
        class="nav-item nav-link dropdown-toggle mr-md-2"
        id="bd-versions"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="fas fa-user-circle mr-1"></i>
        {{ usuario.correo }}
      </a>
      <div
        class="dropdown-menu dropdown-menu-md-right"
        aria-labelledby="bd-versions"
      >
        <h6 class="dropdown-header">Opciones</h6>
        <a routerLink="/perfil" class="dropdown-item">Perfil</a>
        <!-- <a href="javascript:;" class="dropdown-item">Configuración</a> -->
        <div class="dropdown-divider"></div>
        <a (click)="logout()" class="dropdown-item">
          <i class="fas fa-sign-out-alt mr-1"></i> Cerrar sesión
        </a>
      </div>
    </li>
  </ul>
</header>
