.navbar {
  /* position: fixed;
  right: 0;
  z-index: 10; */
  width: 100%;
  margin-bottom: 0;
  padding: 0.688rem 1rem;
  border-radius: 0;
}

.buscador {
  outline: none;
  box-shadow: none;
  width: 200px;
  transition: width 0.2s ease;
}

.buscador:focus {
  width: 300px !important;
}
