<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="card">
          <div class="card-header card-header-icon card-header-rose">
            <div class="card-icon">
              <i class="fas fa-cog fa-spin fa-2x"></i>
            </div>
          </div>
          <div class="card-body">
            <h4 class="card-title">Here is the Icon</h4>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat
            porro, id iusto veniam ad neque perspiciatis cum adipisci cumque.
            Sequi, vel similique consequuntur asperiores consectetur nulla illum
            ex dolores sed.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
