<form [formGroup]="formIngreso" (ngSubmit)="confirmarIngreso()">
  <!--**********//********** Sección datos básicos **********//**********-->
  <div class="card border-0 shadow-sm mb-5 p-4">
    <div class="card-body form-datos-basicos">
      <p class="card-title">Información básica del beneficiario</p>
      <p class="text-muted m-0">
        Escribe aquí la información básica personal del beneficiario
      </p>
      <div class="mt-4 mb-5">
        <mat-divider></mat-divider>
      </div>
      <div class="row datos-basicos">
        <!--********************** CAMPO TIPO DE DOCUMENTO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="tipoDoc">Tipo de documento</label>
            <mat-form-field appearance="outline" class="bdm-select">
              <mat-select
                (selectionChange)="comprobarSD($event, 'documento')"
                name="tipoDoc"
                formControlName="tipoDoc"
                placeholder="Seleccionar documento"
              >
                <mat-optgroup
                  *ngFor="let doc of tiposDeDocumento"
                  [label]="doc.pais"
                >
                  <mat-option
                    *ngFor="let tipoDoc of doc.documentos"
                    [value]="tipoDoc.value"
                  >
                    <mat-icon
                      fontSet="fad"
                      [fontIcon]="tipoDoc.icon"
                    ></mat-icon>
                    {{ tipoDoc.label }}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
              <mat-icon matPrefix>account_box</mat-icon>
              <mat-error *ngIf="fc.tipoDoc.errors?.required">
                Debes seleccionar un tipo de documento
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO NUMERO DE DOCUMENTO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="documento">NUIP</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <!-- <mat-label>Outline form field</mat-label> -->
              <input
                matInput
                [value]="fv.documento"
                [readonly]="fv.tipoDoc === 'SD'"
                formControlName="documento"
                name="documento"
                autocomplete="off"
                placeholder="Número de documento"
              />
              <mat-icon matPrefix>account_box</mat-icon>
              <mat-hint *ngIf="fc.documento.dirty">
                Valor con separadores: {{ fv.documento | documento }}
              </mat-hint>
              <mat-error *ngIf="fc.documento.errors?.required">
                El documento es obligatorio
              </mat-error>
              <mat-error
                *ngIf="
                  fc.documento.errors?.documentoInvalido && fc.documento.dirty
                "
              >
                Un NUIP tiene 8 o 10 dígitos
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO NOMBRE 1 **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="nombre1">Primer nombre</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                [value]="fv.nombre1 | uppercase"
                formControlName="nombre1"
                name="nombre1"
                placeholder="ej. Brayan"
              />
              <mat-icon matPrefix>account_box</mat-icon>
              <mat-error *ngIf="fc.nombre1.errors?.required">
                El primer nombre es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO NOMBRE 2 **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="nombre2">Segundo nombre</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                [value]="fv.nombre2 | uppercase"
                formControlName="nombre2"
                name="nombre2"
              />
              <mat-icon matPrefix>account_box</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO APELLIDO 1 **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="apellido1">Primer apellido</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                [value]="fv.apellido1 | uppercase"
                formControlName="apellido1"
                name="apellido1"
                placeholder="ej. Devia"
              />
              <mat-icon matPrefix>account_box</mat-icon>
              <mat-error *ngIf="fc.apellido1.errors?.required">
                El primer apellido es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO APELLIDO 2 **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="apellido2">Segundo apellido</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                [value]="fv.apellido2 | uppercase"
                formControlName="apellido2"
                name="apellido2"
              />
              <mat-icon matPrefix>account_box</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO SEXO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="sexo">Sexo</label>
            <mat-form-field appearance="outline" class="bdm-select">
              <mat-select
                placeholder="Seleccionar sexo"
                name="sexo"
                formControlName="sexo"
              >
                <mat-option *ngFor="let sexo of sexos" [value]="sexo.value">
                  <mat-icon
                    matSuffix
                    fontSet="fad"
                    [fontIcon]="sexo.icon"
                  ></mat-icon>
                  {{ sexo.label }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>accessibility_new</mat-icon>
              <mat-error *ngIf="fc.sexo.errors?.required">
                El sexo es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO NACIMIENTO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="nacimiento">Fecha de nacimiento</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                [matDatepicker]="nacimiento"
                [min]="minNacimiento"
                [max]="maxNacimiento"
                name="nacimiento"
                formControlName="nacimiento"
                autocomplete="off"
                placeholder="Elige una fecha"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="nacimiento"
              ></mat-datepicker-toggle>
              <mat-datepicker #nacimiento></mat-datepicker>
              <mat-error *ngIf="fc.nacimiento.errors?.required">
                Debes seleccionar una fecha de nacimiento
              </mat-error>
              <mat-error *ngIf="fc.nacimiento.errors?.tipoDocRcInvalido">
                Beneficiario menor de 7 años debe tener RC
              </mat-error>
              <mat-error *ngIf="fc.nacimiento.errors?.tipoDocTiInvalido">
                Beneficiario mayor de 7 y menor de 18 años debe tener TI
              </mat-error>
              <mat-error *ngIf="fc.nacimiento.errors?.tipoDocCcInvalido">
                Beneficiario mayor de 18 años debe tener CC
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO PAIS NACIMIENTO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="paisNacimiento">País de nacimiento</label>
            <mat-form-field appearance="outline" class="bdm-select">
              <mat-select
                (selectionChange)="cambiarDepartamentos($event)"
                name="paisNacimiento"
                formControlName="paisNacimiento"
                placeholder="Seleccionar país"
              >
                <mat-option *ngFor="let pais of paises" [value]="pais.value">
                  {{ pais.label }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>language</mat-icon>
              <mat-error *ngIf="fc.paisNacimiento.errors?.required">
                Debes seleccionar país de nacimiento
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO DEPTO NACIMIENTO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="dptoNacimiento">Departamento de nacimiento</label>
            <mat-form-field appearance="outline" class="bdm-select">
              <mat-select
                (selectionChange)="cambiarCiudades($event)"
                name="dptoNacimiento"
                formControlName="dptoNacimiento"
                placeholder="Seleccionar dpto."
              >
                <mat-option
                  *ngFor="let dpto of listaDepartamentos"
                  [value]="dpto.departamento"
                >
                  {{ dpto.departamento }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>language</mat-icon>
              <mat-error *ngIf="fc.dptoNacimiento.errors?.required">
                Debes seleccionar departamento de nacimiento
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO MUNICIPIO NACIMIENTO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="municipioNacimiento">Municipio de nacimiento</label>
            <mat-form-field appearance="outline" class="bdm-select">
              <mat-select
                name="municipioNacimiento"
                formControlName="municipioNacimiento"
                placeholder="Seleccionar municipio"
              >
                <mat-option
                  *ngFor="let municipio of listaMunicipios"
                  [value]="municipio"
                >
                  {{ municipio }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>language</mat-icon>
              <mat-error *ngIf="fc.municipioNacimiento.errors?.required">
                Debes seleccionar municipio de nacimiento
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO AUTORRECONOCIMIENTO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="autorreconocimiento">Autorreconocimiento</label>
            <mat-form-field appearance="outline" class="bdm-select">
              <mat-select
                name="autorreconocimiento"
                formControlName="autorreconocimiento"
                placeholder="Seleccionar autorreconocimiento"
              >
                <mat-option
                  *ngFor="let rec of reconocimientos"
                  [value]="rec.value"
                >
                  {{ rec.label }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>perm_identity</mat-icon>
              <mat-error *ngIf="fc.autorreconocimiento.errors?.required">
                Debes seleccionar si tiene autorreconocimiento
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO DISCAPACIDAD **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group mb-0">
            <label for="discapacidad">Discapacidad</label>
            <mat-form-field appearance="outline" class="bdm-select">
              <mat-select
                name="discapacidad"
                formControlName="discapacidad"
                placeholder="Seleccionar discapacidad"
              >
                <mat-option
                  *ngFor="let disc of discapacidades"
                  [value]="disc.value"
                >
                  {{ disc.label }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>accessible</mat-icon>
              <mat-error *ngIf="fc.discapacidad.errors?.required">
                Debes seleccionar si tiene discapacidad
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--**********//********** Sección datos de ubicación **********//**********-->
  <div class="card border-0 shadow-sm mb-5 p-4">
    <div class="card-body form-datos-ubicacion">
      <p class="card-title">Ubicación y criterio de atención</p>
      <p class="text-muted m-0">
        Escribe aquí la información sobre el lugar de residencia, datos de
        contacto y el criterio de atención al servicio
      </p>
      <div class="mt-4 mb-5">
        <mat-divider></mat-divider>
      </div>
      <div class="row datos-ubicacion">
        <!--********************** CAMPO DIRECCIÓN **********************-->
        <div class="col-sm-12 col-md-7 col-xl-4">
          <div class="form-group">
            <label for="direccion">Dirección de la residencia</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                [value]="fv.direccion | uppercase"
                formControlName="direccion"
                name="direccion"
                autocomplete="off"
                placeholder="ej. Subiendo por vía principal casa verde a lado de tienda Pepita"
              />
              <mat-icon matPrefix>place</mat-icon>
              <mat-error *ngIf="fc.direccion.errors?.required">
                Debes indicar la dirección de residencia
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO BARRIO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="barrio">Barrio/zona rural</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                [value]="fv.barrio | uppercase"
                formControlName="barrio"
                name="barrio"
                autocomplete="off"
                placeholder="ej. Prados del sur"
              />
              <mat-icon matPrefix>map</mat-icon>
              <mat-error *ngIf="fc.barrio.errors?.required">
                Debes indicar el barrio o zona rural
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO TELEFONO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="telefono">Teléfono</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                formControlName="telefono"
                name="telefono"
                autocomplete="off"
                placeholder="ej. 311 507 1561"
              />
              <mat-icon matPrefix>phone</mat-icon>
              <mat-error *ngIf="fc.telefono.errors?.required">
                El teléfono es obligatorio
              </mat-error>
              <mat-error
                *ngIf="
                  fc.telefono.errors?.telefonoInvalido && fc.telefono.dirty
                "
              >
                Un teléfono tiene 7 o 10 dígitos
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO CRITERIO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group mb-0">
            <label for="criterio">Criterio de atención</label>
            <mat-form-field appearance="outline" class="bdm-select">
              <mat-select
                name="criterio"
                formControlName="criterio"
                (selectionChange)="validarCriterio($event)"
                placeholder="Seleccionar criterio"
              >
                <mat-option
                  *ngFor="let criterio of criterios"
                  [value]="criterio.value"
                >
                  {{ criterio.label }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>fact_check</mat-icon>
              <mat-error *ngIf="fc.criterio.errors?.required">
                Debes seleccionar el criterio de atención
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO DETALLE CRITERIO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group mb-0">
            <label for="infoCriterio">{{ labelInputInfoCriterio }}</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                [attr.type]="tipoInputInfoCriterio"
                formControlName="infoCriterio"
                name="infoCriterio"
                autocomplete="off"
              />
              <mat-icon matPrefix>done</mat-icon>
              <mat-error *ngIf="fc.infoCriterio.errors?.required">
                El detalle del criterio es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--**********//********** Sección datos de acudiente **********//**********-->
  <div class="card border-0 shadow-sm mb-5 p-4">
    <div class="card-body form-datos-acudiente">
      <p class="card-title">Información básica del acudiente</p>
      <p class="text-muted m-0">
        Escribe aquí la información básica personal de la persona que se hace
        responsable del beneficiario
      </p>
      <div class="mt-4 mb-5">
        <mat-divider></mat-divider>
      </div>
      <div class="row datos-acudiente">
        <!--********************** CAMPO TIPO DE DOCUMENTO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="respTipoDoc">Tipo de documento</label>
            <mat-form-field appearance="outline" class="bdm-select">
              <mat-select
                (selectionChange)="comprobarSD($event, 'respDocumento')"
                name="respTipoDoc"
                formControlName="respTipoDoc"
                placeholder="Seleccionar documento"
              >
                <mat-optgroup
                  *ngFor="let doc of tiposDeDocumento"
                  [label]="doc.pais"
                >
                  <mat-option
                    *ngFor="let tipoDoc of doc.documentos"
                    [value]="tipoDoc.value"
                  >
                    <mat-icon
                      matSuffix
                      fontSet="fad"
                      [fontIcon]="tipoDoc.icon"
                    ></mat-icon>
                    {{ tipoDoc.label }}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
              <mat-icon matPrefix>account_box</mat-icon>
              <mat-error *ngIf="fc.respTipoDoc.errors?.required">
                Debes seleccionar un tipo de documento
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO NUMERO DE DOCUMENTO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="respDocumento">NUIP</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                [value]="fv.respDocumento"
                [readonly]="fv.respTipoDoc === 'SD'"
                (focusout)="buscarRespBeneficiario($event.target.value)"
                formControlName="respDocumento"
                name="respDocumento"
                autocomplete="off"
                placeholder="Número de documento"
              />
              <mat-icon matPrefix>account_box</mat-icon>
              <mat-hint
                *ngIf="respExiste"
                class="d-flex flex-align-center text-success"
              >
                Reponsable existente
                <mat-icon style="margin: 1px 0 0 2px">check_circle</mat-icon>
              </mat-hint>
              <mat-hint *ngIf="fc.respDocumento.dirty && !respExiste">
                Valor con separadores: {{ fv.respDocumento | documento }}
              </mat-hint>
              <mat-error *ngIf="fc.respDocumento.errors?.required">
                El documento es obligatorio
              </mat-error>
              <mat-error
                *ngIf="
                  fc.respDocumento.errors?.documentoInvalido &&
                  fc.respDocumento.dirty
                "
              >
                Un NUIP tiene 7, 8 o 10 dígitos
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO NOMBRE 1 **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="respNombre1">Primer nombre</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                formControlName="respNombre1"
                name="respNombre1"
                placeholder="ej. Brayan"
              />
              <mat-icon matPrefix>account_box</mat-icon>
              <mat-error *ngIf="fc.respNombre1.errors?.required">
                El primer nombre es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO NOMBRE 2 **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="respNombre2">Segundo nombre</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                formControlName="respNombre2"
                name="respNombre2"
              />
              <mat-icon matPrefix>account_box</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO APELLIDO 1 **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="respApellido1">Primer apellido</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                formControlName="respApellido1"
                name="respApellido1"
                placeholder="ej. Devia"
              />
              <mat-icon matPrefix>account_box</mat-icon>
              <mat-error *ngIf="fc.respApellido1.errors?.required">
                El primer apellido es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO APELLIDO 2 **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="respApellido2">Segundo apellido</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                formControlName="respApellido2"
                name="respApellido2"
              />
              <mat-icon matPrefix>account_box</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO SEXO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="respSexo">Sexo</label>
            <mat-form-field appearance="outline" class="bdm-select">
              <mat-select
                placeholder="Seleccionar sexo"
                name="respSexo"
                formControlName="respSexo"
              >
                <mat-option *ngFor="let sexo of sexos" [value]="sexo.value">
                  <mat-icon
                    matSuffix
                    fontSet="fad"
                    [fontIcon]="sexo.icon"
                  ></mat-icon>
                  {{ sexo.label }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>accessibility_new</mat-icon>
              <mat-error *ngIf="fc.respSexo.errors?.required">
                El sexo es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO NACIMIENTO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="respNacimiento">Fecha de nacimiento</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                [matDatepicker]="respNacimiento"
                [min]="minNacimiento"
                [max]="maxNacimiento"
                name="respNacimiento"
                formControlName="respNacimiento"
                autocomplete="off"
                placeholder="Elige una fecha"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="respNacimiento"
              ></mat-datepicker-toggle>
              <mat-datepicker #respNacimiento></mat-datepicker>
              <mat-error *ngIf="fc.respNacimiento.errors?.required">
                Debes seleccionar una fecha de nacimiento
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO PAIS NACIMIENTO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="respPaisNacimiento">País de nacimiento</label>
            <mat-form-field appearance="outline" class="bdm-select">
              <mat-select
                (selectionChange)="cambiarDepartamentosResp($event)"
                name="respPaisNacimiento"
                formControlName="respPaisNacimiento"
                placeholder="Seleccionar país"
              >
                <mat-option *ngFor="let pais of paises" [value]="pais.value">
                  {{ pais.label }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>language</mat-icon>
              <mat-error *ngIf="fc.respPaisNacimiento.errors?.required">
                Debes seleccionar país de nacimiento
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO DEPTO NACIMIENTO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="respDptoNacimiento">Departamento de nacimiento</label>
            <mat-form-field appearance="outline" class="bdm-select">
              <mat-select
                (selectionChange)="cambiarCiudadesResp($event)"
                name="respDptoNacimiento"
                formControlName="respDptoNacimiento"
                placeholder="Seleccionar dpto."
              >
                <mat-option
                  *ngFor="let dpto of listaDepartamentosResp"
                  [value]="dpto.departamento"
                >
                  {{ dpto.departamento }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>language</mat-icon>
              <mat-error *ngIf="fc.respDptoNacimiento.errors?.required">
                Debes seleccionar departamento de nacimiento
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO MUNICIPIO NACIMIENTO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="respMunicipioNacimiento">Municipio de nacimiento</label>
            <mat-form-field appearance="outline" class="bdm-select">
              <mat-select
                name="respMunicipioNacimiento"
                formControlName="respMunicipioNacimiento"
                placeholder="Seleccionar municipio"
              >
                <mat-option
                  *ngFor="let municipio of listaMunicipiosResp"
                  [value]="municipio"
                >
                  {{ municipio }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>language</mat-icon>
              <mat-error *ngIf="fc.respMunicipioNacimiento.errors?.required">
                Debes seleccionar municipio de nacimiento
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO TIPO DE ACUEDIENTE **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group mb-0">
            <label for="tipoResponsable">Relación del acudiente</label>
            <mat-form-field appearance="outline" class="bdm-select">
              <mat-select
                name="tipoResponsable"
                formControlName="tipoResponsable"
                placeholder="Seleccionar relación"
              >
                <mat-option
                  *ngFor="let responsable of tipoResponsables"
                  [value]="responsable.value"
                >
                  {{ responsable.label }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>supervisor_account</mat-icon>
              <mat-error *ngIf="fc.tipoResponsable.errors?.required">
                Debes seleccionar la relación de acudiente
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--**********//********** Sección datos de madre **********//**********-->
  <div class="card border-0 shadow-sm mb-5 p-4">
    <div class="card-body form-datos-madre">
      <p class="card-title">Información básica de la madre del beneficiario</p>
      <p class="text-muted m-0">
        Escribe aquí la información básica personal de la madre del beneficiario
      </p>
      <div class="mt-4 mb-3">
        <mat-divider></mat-divider>
      </div>
      <div class="row datos-madre">
        <!--********************** CHECKS DE VALIDACIÓN **********************-->
        <div class="col-12 mb-4">
          <mat-checkbox
            class="mr-3"
            (change)="validarMadre()"
            [(ngModel)]="tieneMadre"
            [ngModelOptions]="{ standalone: true }"
            color="primary"
          >
            Tiene madre
          </mat-checkbox>
          <mat-checkbox
            *ngIf="tieneMadre"
            (change)="madreEsAcudiente()"
            [(ngModel)]="madreEsMismoAcudiente"
            [ngModelOptions]="{ standalone: true }"
            color="primary"
          >
            Es el mismo acudiente
          </mat-checkbox>
        </div>
        <!--********************** CAMPO TIPO DE DOCUMENTO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="madreTipoDoc">Tipo de documento</label>
            <mat-form-field appearance="outline" class="bdm-select">
              <mat-select
                (selectionChange)="comprobarSD($event, 'madreDocumento')"
                name="madreTipoDoc"
                formControlName="madreTipoDoc"
                placeholder="Seleccionar documento"
              >
                <mat-optgroup
                  *ngFor="let doc of tiposDeDocumento"
                  [label]="doc.pais"
                >
                  <mat-option
                    *ngFor="let tipoDoc of doc.documentos"
                    [value]="tipoDoc.value"
                  >
                    <mat-icon
                      matSuffix
                      fontSet="fad"
                      [fontIcon]="tipoDoc.icon"
                    ></mat-icon>
                    {{ tipoDoc.label }}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
              <mat-icon matPrefix>account_box</mat-icon>
              <mat-error *ngIf="fc.madreTipoDoc.errors?.required">
                Debes seleccionar un tipo de documento
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO NUMERO DE DOCUMENTO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="madreDocumento">NUIP</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                [value]="fv.madreDocumento"
                [readonly]="fv.madreTipoDoc === 'SD'"
                formControlName="madreDocumento"
                name="madreDocumento"
                autocomplete="off"
                placeholder="Número de documento"
              />
              <mat-icon matPrefix>account_box</mat-icon>
              <mat-hint *ngIf="fc.madreDocumento.dirty">
                Valor con separadores: {{ fv.madreDocumento | documento }}
              </mat-hint>
              <mat-error *ngIf="fc.madreDocumento.errors?.required">
                El documento es obligatorio
              </mat-error>
              <mat-error
                *ngIf="
                  fc.madreDocumento.errors?.documentoInvalido &&
                  fc.madreDocumento.dirty
                "
              >
                Un NUIP tiene 7, 8 o 10 dígitos
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO NOMBRE 1 **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="madreNombre1">Primer nombre</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                [value]="fv.madreNombre1 | uppercase"
                formControlName="madreNombre1"
                name="madreNombre1"
                placeholder="ej. Brayan"
              />
              <mat-icon matPrefix>account_box</mat-icon>
              <mat-error *ngIf="fc.madreNombre1.errors?.required">
                El primer nombre es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO NOMBRE 2 **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="madreNombre2">Segundo nombre</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                [value]="fv.madreNombre2 | uppercase"
                formControlName="madreNombre2"
                name="madreNombre2"
              />
              <mat-icon matPrefix>account_box</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO APELLIDO 1 **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="madreApellido1">Primer apellido</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                [value]="fv.madreApellido1 | uppercase"
                formControlName="madreApellido1"
                name="madreApellido1"
                placeholder="ej. Devia"
              />
              <mat-icon matPrefix>account_box</mat-icon>
              <mat-error *ngIf="fc.madreApellido1.errors?.required">
                El primer apellido es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO APELLIDO 2 **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="madreApellido2">Segundo apellido</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                [value]="fv.madreApellido2 | uppercase"
                formControlName="madreApellido2"
                name="madreApellido2"
              />
              <mat-icon matPrefix>account_box</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO SEXO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="madreSexo">Sexo</label>
            <mat-form-field appearance="outline" class="bdm-select">
              <mat-select
                placeholder="Seleccionar sexo"
                name="madreSexo"
                formControlName="madreSexo"
              >
                <mat-option *ngFor="let sexo of sexos" [value]="sexo.value">
                  <mat-icon
                    matSuffix
                    fontSet="fad"
                    [fontIcon]="sexo.icon"
                  ></mat-icon>
                  {{ sexo.label }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>accessibility_new</mat-icon>
              <mat-error *ngIf="fc.madreSexo.errors?.required">
                El sexo es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO NACIMIENTO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="madreNacimiento">Fecha de nacimiento</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                [matDatepicker]="madreNacimiento"
                [min]="minNacimiento"
                [max]="maxNacimiento"
                name="madreNacimiento"
                formControlName="madreNacimiento"
                autocomplete="off"
                placeholder="Elige una fecha"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="madreNacimiento"
              ></mat-datepicker-toggle>
              <mat-datepicker #madreNacimiento></mat-datepicker>
              <mat-error *ngIf="fc.madreNacimiento.errors?.required">
                Debes seleccionar una fecha de nacimiento
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--**********//********** Sección datos de padre **********//**********-->
  <div class="card border-0 shadow-sm mb-5 p-4">
    <div class="card-body form-datos-padre">
      <p class="card-title">Información básica del padre del beneficiario</p>
      <p class="text-muted m-0">
        Escribe aquí la información básica personal del padre del beneficiario
      </p>
      <div class="mt-4 mb-3">
        <mat-divider></mat-divider>
      </div>
      <div class="row datos-padre">
        <!--********************** CHECKS DE VALIDACIÓN **********************-->
        <div class="col-12 mb-4">
          <mat-checkbox
            class="mr-3"
            (change)="validarPadre()"
            [(ngModel)]="tienePadre"
            [ngModelOptions]="{ standalone: true }"
            color="primary"
          >
            Tiene padre
          </mat-checkbox>
          <mat-checkbox
            *ngIf="tienePadre"
            (change)="padreEsAcudiente()"
            [(ngModel)]="padreEsMismoAcudiente"
            [ngModelOptions]="{ standalone: true }"
            color="primary"
          >
            Es el mismo acudiente
          </mat-checkbox>
        </div>
        <!--********************** CAMPO TIPO DE DOCUMENTO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="padreTipoDoc">Tipo de documento</label>
            <mat-form-field appearance="outline" class="bdm-select">
              <mat-select
                (selectionChange)="comprobarSD($event, 'padreDocumento')"
                name="padreTipoDoc"
                formControlName="padreTipoDoc"
                placeholder="Seleccionar documento"
              >
                <mat-optgroup
                  *ngFor="let doc of tiposDeDocumento"
                  [label]="doc.pais"
                >
                  <mat-option
                    *ngFor="let tipoDoc of doc.documentos"
                    [value]="tipoDoc.value"
                  >
                    <mat-icon
                      matSuffix
                      fontSet="fad"
                      [fontIcon]="tipoDoc.icon"
                    ></mat-icon>
                    {{ tipoDoc.label }}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
              <mat-icon matPrefix>account_box</mat-icon>
              <mat-error *ngIf="fc.padreTipoDoc.errors?.required">
                Debes seleccionar un tipo de documento
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO NUMERO DE DOCUMENTO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="padreDocumento">NUIP</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                [value]="fv.padreDocumento"
                [readonly]="fv.padreTipoDoc === 'SD'"
                formControlName="padreDocumento"
                name="padreDocumento"
                autocomplete="off"
                placeholder="Número de documento"
              />
              <mat-icon matPrefix>account_box</mat-icon>
              <mat-hint *ngIf="fc.padreDocumento.dirty">
                Valor con separadores: {{ fv.padreDocumento | documento }}
              </mat-hint>
              <mat-error *ngIf="fc.padreDocumento.errors?.required">
                El documento es obligatorio
              </mat-error>
              <mat-error
                *ngIf="
                  fc.padreDocumento.errors?.documentoInvalido &&
                  fc.padreDocumento.dirty
                "
              >
                Un NUIP tiene 7, 8 o 10 dígitos
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO NOMBRE 1 **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="padreNombre1">Primer nombre</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                [value]="fv.padreNombre1 | uppercase"
                formControlName="padreNombre1"
                name="padreNombre1"
                placeholder="ej. Brayan"
              />
              <mat-icon matPrefix>account_box</mat-icon>
              <mat-error *ngIf="fc.padreNombre1.errors?.required">
                El primer nombre es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO NOMBRE 2 **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="padreNombre2">Segundo nombre</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                [value]="fv.padreNombre2 | uppercase"
                formControlName="padreNombre2"
                name="padreNombre2"
              />
              <mat-icon matPrefix>account_box</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO APELLIDO 1 **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="padreApellido1">Primer apellido</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                [value]="fv.padreApellido1 | uppercase"
                formControlName="padreApellido1"
                name="padreApellido1"
                placeholder="ej. Devia"
              />
              <mat-icon matPrefix>account_box</mat-icon>
              <mat-error *ngIf="fc.padreApellido1.errors?.required">
                El primer apellido es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO APELLIDO 2 **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="padreApellido2">Segundo apellido</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                [value]="fv.padreApellido2 | uppercase"
                formControlName="padreApellido2"
                name="padreApellido2"
              />
              <mat-icon matPrefix>account_box</mat-icon>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO SEXO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="padreSexo">Sexo</label>
            <mat-form-field appearance="outline" class="bdm-select">
              <mat-select
                placeholder="Seleccionar sexo"
                name="padreSexo"
                formControlName="padreSexo"
              >
                <mat-option *ngFor="let sexo of sexos" [value]="sexo.value">
                  <mat-icon
                    matSuffix
                    fontSet="fad"
                    [fontIcon]="sexo.icon"
                  ></mat-icon>
                  {{ sexo.label }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>accessibility_new</mat-icon>
              <mat-error *ngIf="fc.padreSexo.errors?.required">
                El sexo es obligatorio
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO NACIMIENTO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="padreNacimiento">Fecha de nacimiento</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                [matDatepicker]="padreNacimiento"
                [min]="minNacimiento"
                [max]="maxNacimiento"
                name="padreNacimiento"
                formControlName="padreNacimiento"
                autocomplete="off"
                placeholder="Elige una fecha"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="padreNacimiento"
              ></mat-datepicker-toggle>
              <mat-datepicker #padreNacimiento></mat-datepicker>
              <mat-error *ngIf="fc.padreNacimiento.errors?.required">
                Debes seleccionar una fecha de nacimiento
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--**********//********** Sección UDS e Ingreso **********//**********-->
  <div class="card border-0 shadow-sm mb-5 p-4">
    <div class="card-body form-datos-ingreso">
      <p class="card-title">Ingreso</p>
      <p class="text-muted m-0">
        Selecciona la Unidad De Servicio dónde ingresa el beneficiario y la
        fecha del inicio del servicio.
      </p>
      <div class="mt-4 mb-5">
        <mat-divider></mat-divider>
      </div>
      <div class="row datos-ingreso">
        <!--********************** CAMPO UDS **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="udsId">Unidad De Servicio</label>
            <mat-form-field appearance="outline" class="bdm-select">
              <mat-select
                (selectionChange)="cambiarCodigoUds($event)"
                name="udsId"
                formControlName="udsId"
                placeholder="Seleccionar UDS."
              >
                <mat-option *ngFor="let uds of udsAsignadas" [value]="uds._id">
                  {{ uds.nombre }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>home_work</mat-icon>
              <mat-hint>Cód. UDS: {{ codigoUdsSeleccionada }}</mat-hint>
              <mat-error *ngIf="fc.udsId.errors?.required">
                Debes seleccionar la UDS
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO FECHA DE INGRESO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="ingreso">Fecha de ingreso</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                [matDatepicker]="ingreso"
                [matDatepickerFilter]="filtroFinDeSemana"
                [min]="minIngreso"
                [max]="maxIngreso"
                name="ingreso"
                formControlName="ingreso"
                autocomplete="off"
                placeholder="Elige una fecha"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="ingreso"
              ></mat-datepicker-toggle>
              <mat-datepicker #ingreso></mat-datepicker>
              <mat-error *ngIf="fc.ingreso.errors?.required">
                Debes seleccionar una fecha de ingreso
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO COMENTARIO **********************-->
        <div class="col-sm-12 col-md-8 col-xl-4">
          <div class="form-group">
            <label for="comentario">Cometario adicional</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                formControlName="comentario"
                name="comentario"
                placeholder="ej. El beneficiario no ha recibido su RC"
              />
              <mat-icon matPrefix>feedback</mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--**********//********** ACCIONES DEL FORMULARIO **********//**********-->
  <div class="row">
    <div class="col-lg-12 col-xl-12 text-right">
      <button
        (click)="limpiarFormulario()"
        mat-button
        type="button"
        class="mr-2"
      >
        <mat-icon>clear</mat-icon>
        Limpiar formulario
      </button>
      <button mat-flat-button color="primary" type="submit">
        <mat-icon>how_to_reg</mat-icon>
        Reportar ingreso
      </button>
    </div>
  </div>
</form>
