<form
  ngNativeValidate
  [formGroup]="formIngreso"
  (ngSubmit)="ingresarBeneficiario()"
>
  <!------------------- Sección datos básicos ------------------->
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title text-success">
        <i class="fas fa-clipboard-user mr-2"></i>Datos básicos
      </h5>
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label for="tipoDoc">Tipo de documento</label>
            <ng-select
              #tipoDoc
              [items]="tiposDeDocumento"
              bindValue="value"
              bindLabel="label"
              groupBy="group"
              placeholder="Seleccionar tipo de documento"
              (change)="comprobarSD($event)"
              formControlName="tipoDoc"
              name="tipoDoc"
              required
            >
              <ng-template ng-label-tmp let-item="item">
                <i [class]="item.icon"></i>
                {{ item.label }}
              </ng-template>
            </ng-select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="documento">NUIP</label>
            <input
              #documento
              [ngModel]="formIngreso.value.documento | documento"
              (ngModelChange)="formIngreso.value.documento = $event"
              formControlName="documento"
              name="documento"
              type="text"
              class="form-control"
              placeholder="Número de NUIP"
              autocomplete="off"
              required
            />
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="nombre1">Primer nombre</label>
            <input
              #nombre1
              formControlName="nombre1"
              name="nombre1"
              type="text"
              class="form-control"
              placeholder="Escribe un nombre"
              required
            />
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="nombre2">Segundo nombre</label>
            <input
              #nombre2
              formControlName="nombre2"
              name="nombre2"
              type="text"
              class="form-control"
              placeholder="Escribe un nombre"
            />
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="apellido1">Primer apellido</label>
            <input
              #apellido1
              formControlName="apellido1"
              name="apellido1"
              type="text"
              class="form-control"
              placeholder="Escribe un apellido"
              required
            />
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="apellido2">Segundo apellido</label>
            <input
              #apellido2
              formControlName="apellido2"
              name="apellido2"
              type="text"
              class="form-control"
              placeholder="Escribe un apellido"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label for="sexo">Sexo</label>
            <ng-select
              #sexo
              [items]="sexos"
              bindValue="value"
              bindLabel="label"
              placeholder="Seleccionar sexo"
              formControlName="sexo"
              name="sexo"
              required
            >
              <ng-template ng-label-tmp let-item="item">
                <i [class]="item.icon"></i>
                {{ item.label }}
              </ng-template>
            </ng-select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label class="label-control" for="nacimiento"
              >Fecha nacimiento</label
            >
            <input
              formControlName="nacimiento"
              name="nacimiento"
              type="date"
              class="form-control"
              autocomplete="off"
            />
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="paisNacimiento">País de nacimiento</label>
            <ng-select
              #paisNacimiento
              [items]="paises"
              bindValue="value"
              bindLabel="label"
              placeholder="Seleccionar país"
              (change)="cambiarDepartamentos($event)"
              formControlName="paisNacimiento"
              name="paisNacimiento"
              required
            >
            </ng-select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="dptoNacimiento">Dpto. de nacimiento</label>
            <ng-select
              #dptoNacimiento
              [items]="listaDepartamentos"
              bindValue="departamento"
              bindLabel="departamento"
              placeholder="Seleccionar departamento"
              (change)="cambiarCiudades($event)"
              formControlName="dptoNacimiento"
              name="dptoNacimiento"
              required
            >
            </ng-select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="municipioNacimiento">Municipio de nacimiento</label>
            <ng-select
              #municipioNacimiento
              [items]="listaMunicipios"
              bindValue="municipio"
              bindLabel="municipio"
              placeholder="Seleccionar municipio"
              formControlName="municipioNacimiento"
              name="municipioNacimiento"
              required
            >
            </ng-select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="autorreconocimiento">Autorreconocimiento</label>
            <ng-select
              #autorreconocimiento
              [items]="reconocimientos"
              bindValue="value"
              bindLabel="label"
              placeholder="Seleccionar autorreconocimiento"
              formControlName="autorreconocimiento"
              name="autorreconocimiento"
              required
            >
            </ng-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label for="discapacidad">Discapacidad</label>
            <ng-select
              #discapacidad
              [items]="discapacidades"
              bindValue="value"
              bindLabel="label"
              placeholder="Seleccionar autorreconocimiento"
              formControlName="discapacidad"
              name="discapacidad"
              required
            >
            </ng-select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------------------- Sección datos de ubicación ------------------->
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title text-success">
        <i class="fas fa-map-marked"></i> Datos de ubicación
      </h5>
      <div class="row">
        <div class="col-4">
          <div class="form-group">
            <label for="direccion">Dirección</label>
            <input
              #direccion
              formControlName="direccion"
              name="direccion"
              type="text"
              class="form-control"
              placeholder="Dirección exacta"
              autocomplete="off"
              required
            />
            <small class="form-text text-muted">
              <b>Ejemplo rural:</b> Subiendo por vía principal casa verde a lado
              de tienda Pepita
            </small>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="barrio">Barrio</label>
            <input
              #barrio
              formControlName="barrio"
              name="barrio"
              type="text"
              class="form-control"
              placeholder="Barrio"
              autocomplete="off"
              required
            />
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="telefono">Teléfono</label>
            <input
              #telefono
              formControlName="telefono"
              name="telefono"
              type="text"
              class="form-control"
              placeholder="Telefono"
              autocomplete="off"
              required
            />
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="autorreconocimiento">Criterio de atención</label>
            <ng-select
              #criterio
              [items]="criterios"
              bindValue="value"
              bindLabel="label"
              placeholder="Seleccionar criterio"
              (change)="validarCriterio($event)"
              formControlName="criterio"
              name="criterio"
              required
            >
            </ng-select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="infoCriterio">{{ labelInputInfoCriterio }}</label>
            <input
              #infoCriterio
              formControlName="infoCriterio"
              name="infoCriterio"
              [attr.type]="tipoInputInfoCriterio"
              class="form-control"
              placeholder="Escriba"
              autocomplete="off"
              required
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------------------- Sección datos de acudiente ------------------->

  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title text-success">
        <i class="fas fa-users mr-2"></i>Datos de responsable o acudiente
      </h5>
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label for="respTipoDoc">Tipo de documento</label>
            <ng-select
              #respTipoDoc
              [items]="tiposDeDocumento"
              bindValue="value"
              bindLabel="label"
              groupBy="group"
              labelForId="respTipoDoc"
              placeholder="Seleccionar tipo de documento"
              (change)="comprobarRespSD($event)"
              formControlName="respTipoDoc"
              name="respTipoDoc"
              required
            >
              <ng-template ng-label-tmp let-item="item">
                <i [class]="item.icon"></i>
                {{ item.label }}
              </ng-template>
            </ng-select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="documento">NUIP</label>
            <input
              #respDocumento
              [ngModel]="formIngreso.value.respDocumento | documento"
              (ngModelChange)="formIngreso.value.respDocumento = $event"
              (focusout)="buscarRespBeneficiario($event.target.value)"
              formControlName="respDocumento"
              name="respDocumento"
              type="text"
              class="form-control"
              [ngClass]="{ 'is-valid': respExiste }"
              placeholder="Número de NUIP"
              autocomplete="off"
              required
            />
            <div *ngIf="respExiste" class="valid-feedback">
              Responsable existente
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="respNombre1">Primer nombre</label>
            <input
              #respNombre1
              formControlName="respNombre1"
              name="respNombre1"
              type="text"
              class="form-control"
              placeholder="Escribe un nombre"
              required
            />
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="respNombre2">Segundo nombre</label>
            <input
              #respNombre2
              formControlName="respNombre2"
              name="respNombre2"
              type="text"
              class="form-control"
              placeholder="Escribe un nombre"
            />
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="respApellido1">Primer apellido</label>
            <input
              #respApellido1
              formControlName="respApellido1"
              name="respApellido1"
              type="text"
              class="form-control"
              placeholder="Escribe un apellido"
              required
            />
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="respApellido2">Segundo apellido</label>
            <input
              #respApellido2
              formControlName="respApellido2"
              name="respApellido2"
              type="text"
              class="form-control"
              placeholder="Escribe un apellido"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label for="respSexo">Sexo</label>
            <ng-select
              #respSexo
              [items]="sexos"
              bindValue="value"
              bindLabel="label"
              labelForId="respSexo"
              placeholder="Seleccionar sexo"
              formControlName="respSexo"
              name="respSexo"
              required
            >
              <ng-template ng-label-tmp let-item="item">
                <i [class]="item.icon"></i>
                {{ item.label }}
              </ng-template>
            </ng-select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label class="label-control" for="respNacimiento"
              >Fecha nacimiento</label
            >
            <input
              #respNacimiento
              formControlName="respNacimiento"
              name="respNacimiento"
              id="respNacimiento"
              type="date"
              class="form-control"
              autocomplete="off"
            />
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="respPaisNacimiento">País de nacimiento</label>
            <ng-select
              #respPaisNac
              [items]="paises"
              bindValue="value"
              bindLabel="label"
              labelForId="respPaisNacimiento"
              placeholder="Seleccionar país"
              (change)="cambiarDepartamentosResp($event)"
              formControlName="respPaisNacimiento"
              name="respPaisNacimiento"
              required
            >
            </ng-select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="respDptoNacimiento">Dpto. de nacimiento</label>
            <ng-select
              #respDptoNac
              [items]="listaDepartamentosResp"
              bindValue="departamento"
              bindLabel="departamento"
              labelForId="respDptoNacimiento"
              placeholder="Seleccionar departamento"
              (change)="cambiarCiudadesResp($event)"
              formControlName="respDptoNacimiento"
              name="respDptoNacimiento"
              required
            >
            </ng-select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="respMunicipioNacimiento">Municipio de nacimiento</label>
            <ng-select
              #respMunicipioNac
              [items]="listaMunicipiosResp"
              bindValue="municipio"
              bindLabel="municipio"
              labelForId="respMunicipioNacimiento"
              placeholder="Seleccionar municipio"
              formControlName="respMunicipioNacimiento"
              name="respMunicipioNacimiento"
              required
            >
            </ng-select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="tipoResponsable">Tipo de responsable/acudiente</label>
            <ng-select
              #respTipoResp
              [items]="tipoResponsables"
              bindValue="value"
              bindLabel="label"
              placeholder="Seleccionar relación"
              formControlName="tipoResponsable"
              name="tipoResponsable"
              required
            >
            </ng-select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------------------- Sección UDS e Ingreso ------------------->
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title text-success">
        <i class="fas fa-address-book mr-2"></i>Datos de ingreso
      </h5>
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label for="codigo">Código UDS</label>
            <input
              [ngModel]="codigoUdsSeleccionada"
              formControlName="codigo"
              name="codigo"
              type="text"
              class="form-control"
              disabled
              required
            />
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label for="udsId">Unidad De Servicio</label>
            <ng-select
              [items]="udsAsignadas"
              bindValue="_id"
              bindLabel="nombre"
              placeholder="Seleccionar Unidad de Servicio"
              (change)="cambiarCodigoUds($event)"
              formControlName="udsId"
              name="udsId"
              required
            >
            </ng-select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <label class="label-control" for="ingreso">Fecha de ingreso</label>
            <input
              formControlName="ingreso"
              name="ingreso"
              type="date"
              class="form-control"
              autocomplete="off"
              required
            />
          </div>
        </div>
        <div class="col-4">
          <div class="form-group">
            <label for="comentario">Comentario (opcional)</label>
            <input
              formControlName="comentario"
              name="comentario"
              type="text"
              class="form-control"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-right">
      <button type="submit" class="btn btn-success btn-sm">
        <i class="fas fa-user-plus mr-1"></i>
        Reportar ingreso
      </button>
    </div>
  </div>
</form>
