<!-- MODAL -->
<div class="modal fade" id="infoBeneficiario" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">
          Información de beneficiario
        </h6>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="beneficiarioInfo" class="modal-body">
        <h5 class="text-center">
          <i class="fas fa-user mr-1"></i>
          {{ beneficiarioInfo.nombre1 }} {{ beneficiarioInfo.nombre2 }}
          {{ beneficiarioInfo.apellido1 }} {{ beneficiarioInfo.apellido2 }}
        </h5>
        <h6 class="text-muted text-center">
          <i class="fad fa-id-card mr-1"></i>
          {{ beneficiarioInfo.tipoDoc }}.
          {{ beneficiarioInfo.documento | documento }}
        </h6>
        <hr />
        <div class="row">
          <div class="col-5">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <i class="fad fa-calendar-day"></i>
                Nacimiento: {{ beneficiarioInfo.nacimiento }}
              </li>
              <li class="list-group-item">
                <i class="fad fa-venus-mars"></i>
                Sexo: {{ beneficiarioInfo.sexo }}
              </li>
              <li class="list-group-item">
                <i class="fad fa-wheelchair"></i>
                Discapacidad:
                <span *ngIf="beneficiarioInfo.discapacidad">Si</span
                ><span *ngIf="!beneficiarioInfo.discapacidad">No</span>
              </li>
              <li class="list-group-item">
                <i class="fas fa-globe-americas"></i>
                Autorreconocimiento: {{ beneficiarioInfo.autorreconocimiento }}
              </li>
              <li class="list-group-item">
                <i class="fas fa-flag-alt"></i>
                Lugar de nacimiento: <br />
                {{ beneficiarioInfo.paisNacimiento }} -
                {{ beneficiarioInfo.dptoNacimiento }},
                {{ beneficiarioInfo.municipioNacimiento }}
              </li>
              <li class="list-group-item">
                <i class="fas fa-user-check"></i>
                Criterio de atención: <br />
                {{ beneficiarioInfo.criterio }} ({{
                  beneficiarioInfo.infoCriterio
                }})
              </li>
            </ul>
          </div>
          <div class="col-7">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <i class="fad fa-map-marker-alt"></i>
                Dirección: {{ beneficiarioInfo.direccion }},
                {{ beneficiarioInfo.barrio }}
              </li>
              <li class="list-group-item">
                <i class="fad fa-phone-alt"></i>
                Teléfono: {{ beneficiarioInfo.telefono }}
              </li>
              <li class="list-group-item">
                <i class="fad fa-tag"></i>
                Estado: {{ beneficiarioInfo.estado }}
              </li>
              <li
                *ngIf="beneficiarioInfo.estado !== 'Desvinculado'"
                class="list-group-item"
              >
                <span>
                  <i class="fad fa-calendar-check"></i>
                  Ingreso: {{ beneficiarioInfo.ingreso }}
                </span>
              </li>
              <li
                *ngIf="
                  beneficiarioInfo.estado === 'Desvinculado' ||
                  beneficiarioInfo.estado === 'Pendiente desvincular'
                "
                class="list-group-item"
              >
                <span>
                  <i class="fad fa-calendar-times"></i>
                  Egreso: {{ beneficiarioInfo.egreso }}
                </span>
              </li>
              <li
                *ngIf="
                  beneficiarioInfo.estado === 'Desvinculado' ||
                  beneficiarioInfo.estado === 'Pendiente desvincular'
                "
                class="list-group-item"
              >
                <span>
                  <i class="fad fa-running"></i>
                  Motivo de egreso: {{ beneficiarioInfo.motivoEgreso }}
                </span>
              </li>
            </ul>
          </div>
          <div class="col-12 mt-3">
            <h6 class="card-subtitle mb-0">
              Comentario
              <button
                (click)="editarComentario = !editarComentario"
                class="btn btn-light btn-sm"
                data-toggle="popover"
                data-placement="right"
                data-content="Editar comentario"
              >
                <i class="fa fa-pencil"></i>
              </button>
            </h6>
            <div
              class="alert mt-1"
              [ngClass]="{
                'alert-primary': beneficiarioInfo.comentario !== null,
                'alert-secondary': beneficiarioInfo.comentario === null
              }"
            >
              <span *ngIf="beneficiarioInfo.comentario === null"
                >No tiene un comentario</span
              >
              <span *ngIf="!editarComentario">{{
                beneficiarioInfo.comentario
              }}</span>
              <!-- Editar comentario -->
              <textarea
                *ngIf="editarComentario"
                [(ngModel)]="beneficiarioInfo.comentario"
                class="form-control"
                rows="3"
              ></textarea>
            </div>
          </div>
        </div>
        <p>
          <a
            class="btn btn-sm btn-outline-info mt-3"
            data-toggle="collapse"
            href="#infoResponsable"
            role="button"
            aria-expanded="false"
            aria-controls="infoResponsable"
          >
            Ver información de acudiente
          </a>
          <a
            *ngIf="beneficiarioInfo.madreId !== null"
            class="btn btn-sm btn-outline-info mt-3 ml-2"
            data-toggle="collapse"
            href="#infoMadre"
            role="button"
            aria-expanded="false"
            aria-controls="infoMadre"
          >
            Ver información de la madre
          </a>
          <a
            *ngIf="beneficiarioInfo.padreId !== null"
            class="btn btn-sm btn-outline-info mt-3 ml-2"
            data-toggle="collapse"
            href="#infoPadre"
            role="button"
            aria-expanded="false"
            aria-controls="infoPadre"
          >
            Ver información del padre
          </a>
        </p>
        <div class="row">
          <!--/*/*/*/**/*/*/**//*//* COLLAPSE INFO RESPONSABLE /*/*/*/**/*/*/**//*//*-->
          <div class="col-12">
            <div class="collapse multi-collapse" id="infoResponsable">
              <div class="card card-body mb-2">
                <div class="row">
                  <div class="col-6">
                    <p class="mb-0">
                      <i class="fas fa-users"></i>
                      {{ beneficiarioInfo.responsableId.nombre1 }}
                      {{ beneficiarioInfo.responsableId.nombre2 }}
                      {{ beneficiarioInfo.responsableId.apellido1 }}
                      {{ beneficiarioInfo.responsableId.apellido2 }} ({{
                        beneficiarioInfo.tipoResponsable
                      }})
                      <br />
                      <i class="fas fa-id-card"></i>
                      {{ beneficiarioInfo.responsableId.tipoDoc }}.
                      {{ beneficiarioInfo.responsableId.documento }}
                      <br />
                      <i class="fas fa-calendar-day"></i>
                      Nacimiento:
                      {{ beneficiarioInfo.responsableId.nacimiento }}
                    </p>
                  </div>
                  <div class="col-6">
                    <p>
                      <i class="fas fa-map-marker-alt"></i>
                      Lugar de nacimiento:
                      {{ beneficiarioInfo.responsableId.paisNacimiento }},
                      {{ beneficiarioInfo.responsableId.dptoNacimiento }} -
                      {{ beneficiarioInfo.responsableId.municipioNacimiento }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--/*/*/*/**/*/*/**//*//* COLLAPSE INFO MADRE /*/*/*/**/*/*/**//*//*-->
          <div class="col-12">
            <div class="collapse multi-collapse" id="infoMadre">
              <div class="card card-body mb-2">
                <div *ngIf="beneficiarioInfo.madreId !== null" class="row">
                  <div class="col-6">
                    <p class="mb-0">
                      <i class="fas fa-users"></i>
                      {{ beneficiarioInfo.madreId.nombre1 }}
                      {{ beneficiarioInfo.madreId.nombre2 }}
                      {{ beneficiarioInfo.madreId.apellido1 }}
                      {{ beneficiarioInfo.madreId.apellido2 }}
                      <br />
                      <i class="fas fa-id-card"></i>
                      {{ beneficiarioInfo.madreId.tipoDoc }}.
                      {{ beneficiarioInfo.madreId.documento }}
                      <br />
                      <i class="fas fa-calendar-day"></i>
                      Nacimiento:
                      {{ beneficiarioInfo.madreId.nacimiento }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--/*/*/*/**/*/*/**//*//* COLLAPSE INFO PADRE /*/*/*/**/*/*/**//*//*-->
          <div class="col-12">
            <div class="collapse multi-collapse" id="infoPadre">
              <div class="card card-body mb-2">
                <div *ngIf="beneficiarioInfo.padreId !== null" class="row">
                  <div class="col-6">
                    <p class="mb-0">
                      <i class="fas fa-users"></i>
                      {{ beneficiarioInfo.padreId.nombre1 }}
                      {{ beneficiarioInfo.padreId.nombre2 }}
                      {{ beneficiarioInfo.padreId.apellido1 }}
                      {{ beneficiarioInfo.padreId.apellido2 }}
                      <br />
                      <i class="fas fa-id-card"></i>
                      {{ beneficiarioInfo.padreId.tipoDoc }}.
                      {{ beneficiarioInfo.padreId.documento }}
                      <br />
                      <i class="fas fa-calendar-day"></i>
                      Nacimiento:
                      {{ beneficiarioInfo.padreId.nacimiento }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card bg-light">
              <div class="card-body">
                <span class="text-muted">
                  <b>Reportado por: </b>
                  {{ beneficiarioInfo.creadoPor.nombre }}
                  ({{ beneficiarioInfo.creadoPor.correo }})
                  <br />
                  <b>Reportado el: </b>{{ beneficiarioInfo.creadoEl }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          *ngIf="editarComentario"
          (click)="actualizarComentario()"
          type="button"
          class="btn btn-success"
        >
          <i class="fa fa-sync"></i>
          Actualizar
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
