<div class="content">
  <div class="container-fluid">
    <app-breadcrumb></app-breadcrumb>
    <div class="row BDM_fadeInUp">
      <div class="col-7">
        <div class="card">
          <div class="card-header">
            Debuggin
          </div>
          <div class="card-body">
            <div class="content-placeholder ml-0" *ngIf="cargando">
              <ngx-content-loading
                [speed]="'600ms'"
                [width]="280"
                [preserveAspectRatio]="'none'"
              >
                <svg:g ngx-code-preset></svg:g>
              </ngx-content-loading>
            </div>
            <div
              *ngIf="!cargando && reportes.length === 0; else listaReportes"
              class="text-muted"
            >
              <h4>No tienes reportes</h4>
            </div>
            <ng-template #listaReportes>
              <div
                *ngFor="let reporte of reportes"
                class="card shadow-sm mb-4 position-relative"
              >
                <div
                  class="form-check position-absolute"
                  style="top: 15px; right: 10px; z-index: 1;"
                >
                  <input
                    (change)="actualizarReporte(reporte)"
                    class="form-check-input"
                    type="checkbox"
                    [(ngModel)]="reporte.completado"
                    [id]="'completado' + reporte._id"
                  />
                  <label
                    class="form-check-label"
                    [for]="'completado' + reporte._id"
                  >
                    Completado
                  </label>
                </div>
                <div
                  class="card-body"
                  [ngClass]="{ 'texto-tachado': reporte.completado }"
                >
                  <h6 class="card-title mb-1">
                    Reporte de {{ reporte.reportadoPor.nombre }}
                    <span
                      class="badge"
                      style="font-size: .7rem;"
                      [ngClass]="{
                        'badge-danger': reporte.tipo === 'Fallo',
                        'badge-primary': reporte.tipo === 'Sugerencia',
                        'badge-info': reporte.tipo === 'Mensaje'
                      }"
                    >
                      {{ reporte.tipo }}
                    </span>
                  </h6>
                  <p class="card-subtitle text-muted">
                    {{ reporte.reportadoPor.correo }}
                  </p>
                  <p class="card-text mt-2">{{ reporte.descripcion }}</p>

                  <small class="text-muted"
                    >creado el: {{ reporte.creadoEl }}</small
                  >
                </div>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="card">
          <div class="card-header">
            Agregar registros
          </div>
          <div class="card-body">
            <h5 class="card-title">Importar beneficiarios desde Excel</h5>
            <div class="row">
              <div class="col-12 mb-3">
                <div class="custom-file">
                  <input
                    (change)="validarArchivo($event.target.files)"
                    type="file"
                    class="custom-file-input"
                    id="customFileLang"
                    lang="es"
                  />
                  <label class="custom-file-label" for="customFileLang">{{
                    archivoPlaceholder
                  }}</label>
                </div>
              </div>
            </div>
            <div *ngIf="formData" class="row">
              <div class="col-6">
                <ul class="list-group">
                  <li class="list-group-item">
                    <b>Nombre archivo:</b> {{ archivoPlaceholder }}
                  </li>
                  <li class="list-group-item">
                    <b>Tamaño:</b> {{ tamanioArchivo | number: '.2-2' }} Kb
                  </li>
                  <li class="list-group-item">
                    <b>Estado: </b>
                    <span *ngIf="!haSubido">Pendiente</span>
                    <span *ngIf="haSubido">Completado</span>
                  </li>
                </ul>
              </div>
              <div class="col-6">
                <div *ngIf="estaSubiendo" class="alert alert-info">
                  <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status"></div>
                  </div>
                </div>
                <ul *ngIf="haSubido" class="list-group">
                  <li class="list-group-item">
                    <b>Registros en archivo: </b>{{ registrosAImportar }}
                  </li>
                  <li class="list-group-item">
                    <b>Registros importados:</b> {{ registrosImportados }}
                  </li>
                  <li class="list-group-item">
                    <b>Beneficiarios existentes:</b>
                    {{ beneficiariosExistentes }}
                  </li>
                  <li class="list-group-item">
                    <b>Responsables existentes:</b>
                    {{ responsablesExistentes }}
                  </li>
                </ul>
              </div>
              <div class="col-12 mt-2 text-right">
                <button
                  (click)="importarExcel()"
                  type="button"
                  class="btn btn-success"
                >
                  <i class="fas fa-file-upload mr-1"></i>
                  Importar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
