<div class="page-wrapper BDM_fadeInUp">
  <div class="page-header row m-0">
    <div class="page-title col-xl-6 p-0">
      <h2 class="title-bold m-0">Administrar</h2>
      <div class="text-muted ml-1">
        <div>Panel de administración a reportes y registros</div>
      </div>
    </div>
    <div class="page-actions col-xl-6 p-0">
      <!-- nothing -->
    </div>
  </div>
  <!-- PAGE CONTENT -->
  <mat-tab-group dynamicHeight class="mat-tab-header">
    <!-- REPORTES ENVIADOS A APP -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="mr-1">bug_report</mat-icon>
        Debugging app
      </ng-template>
      <!-- TAB CONTENT -->
      <div class="page-content">
        <div class="card card-body">
          <div class="content-placeholder ml-0" *ngIf="cargando">
            <ngx-content-loading
              [speed]="'600ms'"
              [width]="280"
              [preserveAspectRatio]="'none'"
            >
              <svg:g ngx-code-preset></svg:g>
            </ngx-content-loading>
          </div>
          <div
            *ngIf="!cargando && reportes.length === 0; else listaReportes"
            class="text-muted"
          >
            <h4>No tienes reportes</h4>
          </div>
          <ng-template #listaReportes>
            <div
              *ngFor="let reporte of reportes"
              class="card shadow border-0 mb-4 position-relative"
            >
              <div
                class="form-check position-absolute"
                style="top: 15px; right: 10px; z-index: 1"
              >
                <mat-checkbox
                  class="example-margin"
                  [(ngModel)]="reporte.completado"
                  (change)="actualizarReporte(reporte)"
                  >Completado</mat-checkbox
                >
              </div>
              <div
                class="card-body"
                [ngClass]="{ 'texto-tachado': reporte.completado }"
              >
                <h5 class="card-title d-flex flex-row align-items-center mb-1">
                  {{ reporte.asunto }}
                  <span
                    class="badge m-0 ml-2 p-1 alert"
                    style="font-size: 0.7rem"
                    [ngClass]="{
                      'bg-danger': reporte.tipo === 'Fallo',
                      'bg-primary': reporte.tipo === 'Sugerencia',
                      'bg-info': reporte.tipo === 'Mensaje'
                    }"
                  >
                    {{ reporte.tipo }}
                  </span>
                </h5>
                <p class="card-text mt-2">{{ reporte.descripcion }}</p>
                <p class="card-subtitle text-muted m-0">
                  {{ reporte.reportadoPor.nombre }},
                  {{ reporte.reportadoPor.correo }}
                </p>
                <small class="text-muted"
                  >creado el: {{ reporte.creadoEl }}</small
                >
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </mat-tab>
    <!-- SUBIDA DE BENEFICIARIOS -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="mr-1">cloud_upload</mat-icon>
        Importar registros
      </ng-template>
      <!-- TAB CONTENT -->
      <div class="page-content">
        <div class="card">
          <div class="card-body p-5 pt-4 pb-4">
            <h5 class="card-title">Importar datos desde archivo Excel</h5>
            <div class="row">
              <div class="col-6 mb-3">
                <div class="drag-n-drop-zone">
                  <span>Arrastra el archivo .xlsx</span>
                  <span>o</span>
                  <div class="action">
                    <input
                      type="file"
                      style="display: none"
                      lang="es"
                      #fileInput
                      (change)="onChangeFileInput($event.target.files)"
                    />
                    <button
                      mat-raised-button
                      color="primary"
                      class="file-select-button"
                      (click)="onClickFileInputButton()"
                    >
                      <mat-icon>attach_file</mat-icon>
                      Seleccionar un archivo
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-6 mb-3">
                <!-- FILE DESC -->
                <mat-list *ngIf="formData">
                  <div mat-subheader>Descripción del archivo</div>
                  <mat-list-item>
                    <mat-icon mat-list-icon>description</mat-icon>
                    <div mat-line>{{ archivoPlaceholder }}</div>
                    <div mat-line>
                      Tamaño: {{ tamanioArchivo | number: '.2-2' }} kb
                    </div>
                  </mat-list-item>
                  <div *ngIf="haSubido" class="finalizado">
                    <mat-divider></mat-divider>
                    <div mat-subheader>Resultados</div>
                    <mat-list-item>
                      <mat-icon mat-list-icon>list</mat-icon>
                      <div mat-line>
                        Registros en archivo: {{ registrosAImportar }}
                      </div>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon mat-list-icon>cloud_done</mat-icon>
                      <div mat-line>
                        Registros importados: {{ registrosAImportar }}
                      </div>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon mat-list-icon>fact_check</mat-icon>
                      <div mat-line>
                        Beneficiarios existentes: {{ beneficiariosExistentes }}
                      </div>
                    </mat-list-item>
                    <mat-list-item>
                      <mat-icon mat-list-icon>fact_check</mat-icon>
                      <div mat-line>
                        Responsables existentes: {{ responsablesExistentes }}
                      </div>
                    </mat-list-item>
                  </div>
                </mat-list>
              </div>
              <div class="col-12 text-right">
                <button
                  (click)="importarExcel()"
                  [disabled]="!archivo"
                  mat-raised-button
                  color="accent"
                >
                  <mat-icon class="mr-1">publish</mat-icon>
                  importar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="card">
        <div class="card-header">
          Agregar registros
        </div>
        <div class="card-body">
          <h5 class="card-title">Importar beneficiarios desde Excel</h5>
          <div class="row">
            <div class="col-12 mb-3">
              <div class="custom-file">
                <input
                  (change)="validarArchivo($event.target.files)"
                  type="file"
                  class="custom-file-input"
                  id="customFileLang"
                  lang="es"
                />
                <label class="custom-file-label" for="customFileLang">{{
                  archivoPlaceholder
                }}</label>
              </div>
            </div>
          </div>
          <div *ngIf="formData" class="row">
            <div class="col-6">
              <ul class="list-group">
                <li class="list-group-item">
                  <b>Nombre archivo:</b> {{ archivoPlaceholder }}
                </li>
                <li class="list-group-item">
                  <b>Tamaño:</b> {{ tamanioArchivo | number: '.2-2' }} Kb
                </li>
                <li class="list-group-item">
                  <b>Estado: </b>
                  <span *ngIf="!haSubido">Pendiente</span>
                  <span *ngIf="haSubido">Completado</span>
                </li>
              </ul>
            </div>
            <div class="col-6">
              <div *ngIf="estaSubiendo" class="alert alert-info">
                <div class="d-flex justify-content-center">
                  <div class="spinner-border" role="status"></div>
                </div>
              </div>
              <ul *ngIf="haSubido" class="list-group">
                <li class="list-group-item">
                  <b>Registros en archivo: </b>{{ registrosAImportar }}
                </li>
                <li class="list-group-item">
                  <b>Registros importados:</b> {{ registrosImportados }}
                </li>
                <li class="list-group-item">
                  <b>Beneficiarios existentes:</b>
                  {{ beneficiariosExistentes }}
                </li>
                <li class="list-group-item">
                  <b>Responsables existentes:</b>
                  {{ responsablesExistentes }}
                </li>
              </ul>
            </div>
            <div class="col-12 mt-2 text-right">
              <button
                (click)="importarExcel()"
                type="button"
                class="btn btn-success"
              >
                <i class="fas fa-file-upload mr-1"></i>
                Importar
              </button>
            </div>
          </div>
        </div>
      </div> -->
    </mat-tab>
    <!-- INACTIVAR TODOS LOS BENEFICIARIOS -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="mr-1">engineering</mat-icon>
        Actualización masiva
      </ng-template>
      <!-- TAB CONTENT -->
      <div class="page-content">
        <div class="card card-body">
          <div class="row">
            <div class="col-sm-12">
              <!-- INFORMACIÓN SOBRE ACTUALIZACIONES MASIVAS -->
              <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Importante!</h4>
                <p>
                  Este componente permite actualizar el campo elegido para todos
                  los beneficiarios existentes en la base de datos actual. Una
                  vez realizado el proceso, no se puede revertir, sea
                  cuidadoso/a.
                </p>
              </div>
            </div>
          </div>
          <!-- FORMULARIO DE ACTUALIZACIÓN -->
          <form [formGroup]="formMasivo" (ngSubmit)="actualizacionMasiva()">
            <div class="row">
              <!-- SELECCIONAR CAMPO A ACTUALIZAR -->
              <div class="col-sm-12 col-md-6 col-lg-4 col-xl-2">
                <div class="form-group">
                  <label for="campo">Campo a actualizar</label>
                  <mat-form-field appearance="outline" class="bdm-select">
                    <mat-select
                      name="campo"
                      formControlName="campo"
                      placeholder="Seleccionar campo"
                    >
                      <mat-option value="estado">
                        Estado de beneficiario
                      </mat-option>
                      <mat-option value="ingreso">
                        Fecha de ingreso
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <!-- SI SELECCIONA ESTADO SE MUESTRA ESTE SELECT PARA FILTRAR /////////////// -->
              <div
                *ngIf="fmv.campo === 'estado'"
                class="col-sm-12 col-md-6 col-lg-4 col-xl-2"
              >
                <div class="form-group">
                  <label for="filtro">Estado de los beneficiarios</label>
                  <mat-form-field appearance="outline" class="bdm-select">
                    <mat-select
                      name="filtro"
                      formControlName="filtro"
                      placeholder="Seleccionar filtro"
                    >
                      <mat-option
                        *ngFor="let estado of estadosBeneficiarios"
                        [value]="estado.value"
                        ><mat-icon
                          fontSet="fas"
                          fontIcon="fa-circle"
                          [class]="estado.iconColor"
                        ></mat-icon>
                        {{ estado.label }}</mat-option
                      >
                    </mat-select>
                    <mat-icon matPrefix>filter_alt</mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <!-- SI SELECCIONA INGRESO SE MUESTRA ESTE DATEPICKER PARA FILTRAR /////////////// -->
              <div
                *ngIf="fmv.campo === 'ingreso'"
                class="col-sm-12 col-md-6 col-lg-4 col-xl-2"
              >
                <div class="form-group">
                  <label for="filtro">Beneficiarios que ingresaron el</label>
                  <mat-form-field appearance="outline" class="bdm-input">
                    <input
                      matInput
                      [matDatepicker]="filtro"
                      [min]="minFechaIngreso"
                      [max]="maxFechaIngreso"
                      name="filtro"
                      formControlName="filtro"
                      autocomplete="off"
                      placeholder="Elige una fecha"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="filtro"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #filtro></mat-datepicker>
                    <mat-error *ngIf="fmc.filtro.errors?.required">
                      Debes seleccionar una fecha de filtro
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <!-- FLECHA VERDE ///////////////////// -->
              <div
                *ngIf="fmv.campo && fmv.filtro"
                class="col-1 d-flex align-items-center justify-content-center"
              >
                <mat-icon class="text-success icon-2x">arrow_forward</mat-icon>
              </div>
              <!-- SI SELECCIONA FILTRO DE ESTADO SE MUESTRA ESTE SELECT /////////////// -->
              <div
                *ngIf="fmv.campo === 'estado' && fmv.filtro"
                class="col-sm-12 col-md-6 col-lg-4 col-xl-2"
              >
                <div class="form-group">
                  <label for="nuevoValor">Actualizar a nuevo estado</label>
                  <mat-form-field appearance="outline" class="bdm-select">
                    <mat-select
                      name="nuevoValor"
                      formControlName="nuevoValor"
                      placeholder="Selec. nuevo estado"
                    >
                      <mat-option
                        *ngFor="let estado of estadosBeneficiarios"
                        [value]="estado.value"
                        ><mat-icon
                          fontSet="fas"
                          fontIcon="fa-circle"
                          [class]="estado.iconColor"
                        ></mat-icon>
                        {{ estado.label }}</mat-option
                      >
                    </mat-select>
                    <mat-icon matPrefix>filter_alt</mat-icon>
                  </mat-form-field>
                </div>
              </div>
              <!-- SI SELECCIONA FILTRO DE INGRESO SE MUESTRA DATEPICKER /////////////// -->
              <div
                *ngIf="fmv.campo === 'ingreso' && fmv.filtro"
                class="col-sm-12 col-md-6 col-lg-4 col-xl-2"
              >
                <div class="form-group">
                  <label for="nuevoValor">Nueva fecha de ingreso</label>
                  <mat-form-field appearance="outline" class="bdm-input">
                    <input
                      matInput
                      [matDatepicker]="nuevoValor"
                      [min]="minNuevaFechaIngreso"
                      [max]="maxFechaIngreso"
                      name="nuevoValor"
                      formControlName="nuevoValor"
                      autocomplete="off"
                      placeholder="Elige una fecha"
                    />
                    <mat-datepicker-toggle
                      matSuffix
                      [for]="nuevoValor"
                    ></mat-datepicker-toggle>
                    <mat-datepicker #nuevoValor></mat-datepicker>
                    <mat-error *ngIf="fmc.nuevoValor.errors?.required">
                      Debes seleccionar una fecha
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <button
              type="submit"
              [disabled]="actualizandoMasivamente || formMasivo.invalid"
              mat-raised-button
              color="primary"
              class="mb-2"
            >
              Realizar actualización masiva
            </button>
          </form>
          <!-- LISTA DE BENEFICIARIOS EN EL SISTEMA -->
          <div
            *ngIf="resultadoMasivo.length > 0"
            class="beneficiarios-en-sistema"
          >
            <mat-divider></mat-divider>
            <mat-list>
              <div mat-subheader>Información actualizada</div>
              <mat-list-item>
                <mat-icon mat-list-icon>fact_check</mat-icon>
                <div mat-line>
                  Registros encontrados: {{ resultadoMasivo[0] }}
                </div>
              </mat-list-item>
              <mat-list-item>
                <mat-icon mat-list-icon>check_circle</mat-icon>
                <div mat-line>
                  Registros actualizados: {{ resultadoMasivo[1] }}
                </div>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>
    </mat-tab>
    <!-- ENVIAR NOTIFICACIÓN GENERAL -->
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="mr-1">announcement</mat-icon>
        Notificacion general
      </ng-template>
      <!-- TAB CONTENT -->
      <div class="page-content">
        <div class="card card-body">
          <!-- FORMULARIO DE ACTUALIZACIÓN -->
          <form [formGroup]="formNotif" (ngSubmit)="enviarNotificacion()">
            <div class="row">
              <!--********************** CAMPO TITULO **********************-->
              <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="form-group">
                  <label for="titulo">Título</label>
                  <mat-form-field appearance="outline" class="bdm-input">
                    <input
                      matInput
                      formControlName="titulo"
                      name="titulo"
                      placeholder="ej. Aviso"
                    />
                    <mat-icon matPrefix>label</mat-icon>
                    <mat-error *ngIf="fnc.titulo.errors?.required">
                      El título es obligatorio
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <!--********************** CAMPO APELLIDO 1 **********************-->
              <div class="col-sm-12 col-md-6 col-lg-8 col-xl-9">
                <div class="form-group">
                  <label for="descripcion">Descripción</label>
                  <mat-form-field appearance="outline" class="bdm-input">
                    <input
                      matInput
                      formControlName="descripcion"
                      name="descripcion"
                      placeholder="ej. La platforma se deshabilitará..."
                    />
                    <mat-icon matPrefix>chat</mat-icon>
                    <mat-error *ngIf="fnc.descripcion.errors?.required">
                      La descripción es obligatoria
                    </mat-error>
                    <mat-error *ngIf="fnc.descripcion.errors?.maxlength">
                      Máximo 150 carácteres
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <button
              type="submit"
              [disabled]="formNotif.invalid"
              mat-raised-button
              color="primary"
              class="mb-2"
            >
              Enviar notificación
            </button>
          </form>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
