<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="logo"></div>
    <span class="badge badge-success">Beta</span>
    <div class="navbar-nav ml-md-auto">
      <button
        class="btn btn-outline-info btn-sm"
        type="button"
        data-toggle="modal"
        data-target="#exampleModal"
      >
        Acerca de
      </button>
    </div>
  </div>
</nav>
<div class="wrapper text-center">
  <form
    ngNativeValidate
    [formGroup]="formLogin"
    (ngSubmit)="login()"
    class="form-signin card card-body p-5 shadow"
  >
    <p class="text-primary icon-users">
      <i class="fad fa-users fa-3x BDM_fadeInUp"></i>
    </p>
    <h3 class="font-weight-normal mb-5">Ingresa tus credenciales</h3>
    <div class="form-group mb-2">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fas fa-envelope mr-1 ml-1"></i>
          </div>
        </div>
        <input
          formControlName="correo"
          name="correo"
          [ngModel]="recordarCorreo"
          type="email"
          class="form-control"
          placeholder="Correo..."
          required
        />
      </div>
    </div>
    <div class="form-group mb-2">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fas fa-key mr-1 ml-1"></i>
          </div>
        </div>
        <input
          formControlName="password"
          type="password"
          name="password"
          class="form-control"
          placeholder="Contraseña..."
          required
        />
      </div>
    </div>
    <div class="form-group">
      <div class="checkbox mb-3">
        <label>
          <input
            formControlName="recuerdame"
            name="recuerdame"
            [ngModel]="recordar"
            class="form-check-input"
            type="checkbox"
            value=""
          />
          Recordarme
        </label>
      </div>
    </div>
    <button
      *ngIf="!cargando"
      class="btn btn-lg btn-primary btn-block btn-login"
      type="submit"
    >
      Iniciar sesión
    </button>
    <button
      *ngIf="cargando"
      class="btn btn-lg btn-primary btn-block btn-login"
      type="button"
      disabled
    >
      <span
        class="spinner-border spinner-border-sm mr-1"
        role="status"
        aria-hidden="true"
      ></span>
      Iniciando sesión...
    </button>
    <div class="text-center mt-5">
      <p class="description text-center">También puedes ingresar con</p>
      <a (click)="googleLogin()" class="btn btn-light btn-google">
        <img src="assets/img/iconos/google.png" width="12" />
        Google
      </a>
    </div>
  </form>
  <p class="text-muted">Brayan Ðevia M.© 2020-2022</p>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="acercaDe"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="acercaDe">Acerca de</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Esta aplicación permite a las Entidades Administradoras de Servicicio
          - EAS (Aliados estratégicos del Insituto Colombiano del Bienestar
          Familiar) a administrar la información de sus servicios, las personas
          autorizadas al uso de esta aplicación reconocen que se manipula la
          información personal de sus beneficiarios y se comprometen a registrar
          sólo la información solicitada.
        </p>
        <p>
          Es importante resaltar que esta aplicación amplía las herramientas
          básicas utilizada por la EAS para la manipulación de la información de
          sus beneficiarios, la información aquí consignada perdurará hasta la
          fecha que la EAS tenga contratada con ICBF, posterior a la fecha de
          finalización de contrato se eliminará toda la información relacionada
          a los beneficiarios sin copia de seguridad alguna para garantizar la
          privacidad de los mismos.
        </p>
        <p>
          Actualmente la aplicación se encuentra en fase de desarrollo (beta),
          por ende, es probable que se realicen cambios a nivel técnico y/o
          visual.
        </p>
        <p>
          Esta aplicación hace uso de Cookies para almacenar datos se sesión.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">
          Entendido
        </button>
      </div>
    </div>
  </div>
</div>
