.example-icon {
  padding: 0 14px;
}

.login-navbar {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

span.beta {
  background-color: #36c2ff;
  color: #fff;
  padding: 0.19rem 0.5rem;
  font-size: 0.7rem;
  border-radius: 2rem;
}

.mat-toolbar {
  background-color: #f9fafc;
}

.login-wrapper {
  background-color: #f9fafc;
  /* height: calc(100vh - 64px); */
  height: 100vh;
  display: flex;
  align-items: center;
}

.login-wrapper .login-form {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding-bottom: 1rem;
}

.login-form .welcome-text {
  margin-bottom: 2.5rem;
}

.login-form form .form-options {
  padding: 0.3rem 0.8rem;
  margin-bottom: 2rem;
}

.login-form form .form-options .forgot-password {
  text-decoration: none;
  color: #adadad;
}

.login-form form mat-form-field {
  width: 100%;
}

.login-form
  form
  ::ng-deep
  .mat-form-field-appearance-fill
  .mat-form-field-flex {
  background-color: #fff;
}

.login-form form ::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0.5em;
}

.login-form form ::ng-deep .mat-form-field-prefix {
  color: #d6d7da;
  margin-right: 0.8rem;
}

.login-form form ::ng-deep .mat-form-field-underline {
  display: none;
}

mat-form-field.mat-form-field {
  font-size: 1rem;
}

.login-form .form-submit {
  margin-bottom: 2rem;
}

.mat-btn-rounded {
  border-radius: 3rem;
}

.spinner-wrapper {
  padding: 5px;
}

:host ::ng-deep .spinner-white circle {
  stroke: #fff;
}

.btn-login {
  font-weight: 100;
}

.btn-google {
  background-color: #fff;
  box-shadow: 0 2px 5px 0px #d6d6d6;
}
