.notificaciones-wrapper {
  background-color: #fff;
  max-width: 360px;
  min-width: 360px;
  border-radius: 3px;
  overflow: hidden;
}

.notificaciones-wrapper .header {
  display: flex;
  align-items: center;
  padding: 15px 16px 15px 24px;
  border-top-width: 4px;
  border-bottom-width: 1px;
  border-top: 4px solid;
  border-bottom: 1px solid;
  /* separar en css de tema */
  border-top-color: #afafaf;
  /* border-top-color: #009788; */
  border-bottom-color: #e2e8f0;
  background: #f1f5f9;
}
.notificaciones-wrapper .header .titulo {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.notificaciones-wrapper .notificaciones {
  max-height: 480px;
  overflow-y: auto;
}
.notificaciones-wrapper .notificacion-wrapper {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid;
  /* tema */
  border-color: #e2e8f0;
}
.notificacion-wrapper .notificacion {
  display: flex;
  flex: 1 1 auto;
  padding: 20px 0 20px 24px;
}
.notificacion .icono {
  background-color: #00968830;
  color: #009688;
  height: fit-content;
  padding: 0.2rem;
  border-radius: 50%;
  margin-right: 15px;
}
.notificacion .icono .mat-icon {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notificaciones .notificacion .titulo {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-weight: 600;
  font-size: 15px;
}
.notificaciones .notificacion .descripcion .titulo + span {
  font-size: 13px;
  line-height: 16px;
}
.notificaciones .notificacion .descripcion {
  display: flex;
  flex-direction: column;
}
.notificaciones .notificacion .tiempo {
  margin-top: 8px;
  font-size: 12px;
  line-height: 1;
  /* tema */
  color: #64748b;
}

.notificacion-wrapper:hover .acciones button {
  opacity: 1;
}
.notificaciones-wrapper .acciones {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px 24px 20px 8px;
}
.notificaciones-wrapper .acciones button {
  width: 25px;
  height: 25px;
  line-height: 24px;
}
.notificaciones-wrapper .acciones .mat-icon {
  font-size: 0.6rem;
  color: #d9e2f1;
}
