<mat-sidenav-container [hasBackdrop]="sidenavBackdrop">
  <mat-sidenav
    #contrato
    [mode]="sidenavMode"
    [opened]="sidenavOpen"
    position="end"
  >
    <!-- CHILD ROUTES -->
    <router-outlet
      (activate)="sidenavOpen = true"
      (deactivate)="sidenavOpen = false"
    ></router-outlet>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="page-wrapper BDM_fadeInUp">
      <div class="page-header row border-bottom m-0">
        <div class="page-title col p-0">
          <h2 class="title-bold m-0">Contratos</h2>
          <div class="text-muted ml-1">
            <span *ngIf="numRegistros !== 1">{{ numRegistros }} Contratos</span>
            <span *ngIf="numRegistros === 1">{{ numRegistros }} Contrato</span>
          </div>
        </div>
        <div class="page-actions col p-0">
          <mat-form-field
            appearance="outline"
            class="bdm-input input-search-header mr-3"
          >
            <!-- <mat-label></mat-label> -->
            <input
              matInput
              (keyup)="filtrarTabla($event)"
              placeholder="Buscar contratos"
              autocomplete="off"
              #buscar
            />
            <mat-icon matPrefix>search</mat-icon>
            <!-- <mat-hint>Hint</mat-hint> -->
          </mat-form-field>
          <button
            *ngIf="puedeCrear"
            (click)="crear()"
            mat-flat-button
            color="primary"
            class="btn-md"
          >
            <mat-icon>add</mat-icon> Crear
          </button>
        </div>
      </div>
      <table
        mat-table
        *ngIf="contratos.length > 0; else noContratos"
        [dataSource]="tablaData"
        class="mat-table contratos-lista"
      >
        <!-- Position Column -->
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let contrato">
            {{ contrato.codigo }}
          </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="eas">
          <th mat-header-cell *matHeaderCellDef>eas</th>
          <td mat-cell *matCellDef="let contrato">{{ contrato.eas }}</td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="nit">
          <th mat-header-cell *matHeaderCellDef>nit</th>
          <td mat-cell *matCellDef="let contrato">{{ contrato.nit }}</td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="regional">
          <th mat-header-cell *matHeaderCellDef>regional</th>
          <td mat-cell *matCellDef="let contrato">{{ contrato.regional }}</td>
        </ng-container>
        <ng-container matColumnDef="cupos">
          <th mat-header-cell *matHeaderCellDef>cupos</th>
          <td mat-cell *matCellDef="let contrato">
            {{ contrato.cupos }}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="tablaColumnas"></tr>
        <tr
          mat-row
          (click)="verContrato(contrato._id)"
          *matRowDef="let row; columns: tablaColumnas; let contrato"
        ></tr>
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="5">
            No se encontraton contratos con "{{ buscar.value }}"
          </td>
        </tr>
      </table>

      <ng-template #noContratos>
        <div class="no-data">
          <span>No hay contratos!</span>
        </div>
      </ng-template>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
