<div class="content">
  <div class="container-fluid">
    <app-breadcrumb></app-breadcrumb>
    <div class="row">
      <div class="col-12">
        <div class="card BDM_fadeInUp">
          <div class="card-body">
            <!------------------- Spiner cargando información ------------------->
            <div *ngIf="cargando" class="d-flex justify-content-center">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Cargando...</span>
              </div>
            </div>
            <div *ngIf="!cargando" class="row">
              <div class="col-12 text-right">
                <button (click)="crear()" class="btn btn-primary btn-sm mb-3">
                  <i class="material-icons"> post_add</i>
                  Crear contrato
                </button>
              </div>
              <div class="col-12">
                <div
                  *ngIf="!cargando && contratos.length === 0"
                  class="text-center"
                >
                  <img
                    src="assets/img/empty_state.jpg"
                    alt="No hay contratos"
                  />
                  <h4 class="text-muted mb-5">No hay contratos :D</h4>
                </div>
                <div *ngIf="contratos.length > 0" class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Código</th>
                        <th>EAS</th>
                        <th>NIT</th>
                        <th>Regional</th>
                        <th>Centro Zonal</th>
                        <th>Cupos</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let contrato of contratos">
                        <td>{{ contrato.codigo }}</td>
                        <td>{{ contrato.eas }}</td>
                        <td>{{ contrato.nit }}</td>
                        <td>{{ contrato.regional }}</td>
                        <td>{{ contrato.cz }}</td>
                        <td>{{ contrato.cupos }}</td>
                        <td class="text-center">
                          <span
                            *ngIf="contrato.activo"
                            class="badge badge-success"
                            >Activo</span
                          >
                          <span
                            *ngIf="!contrato.activo"
                            class="badge badge-danger"
                            >Inactivo</span
                          >
                        </td>
                        <td class="text-right">
                          <button
                            [routerLink]="['/contratos/contrato', contrato._id]"
                            class="btn btn-info btn-sm mr-1"
                          >
                            <i class="fas fa-pencil"></i>
                          </button>
                          <button
                            (click)="eliminarContrato(contrato)"
                            class="btn btn-danger btn-sm mr-1"
                          >
                            <i class="fas fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
