<table class="table table-hover">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Documento</th>
      <th>1er Nombre</th>
      <th>2do Nombre</th>
      <th>1er Apellido</th>
      <th>2do Apellido</th>
      <th>Fecha nacimiento</th>
      <th class="text-center">Estado</th>
      <th>Ingreso</th>
      <th>Reportado</th>
      <th *ngIf="!listarPorUds">UDS</th>
      <th class="text-right">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let beneficiario of beneficiarios">
      <td>{{ beneficiario.tipoDoc }}</td>
      <td>{{ beneficiario.documento }}</td>
      <td>{{ beneficiario.nombre1 }}</td>
      <td>{{ beneficiario.nombre2 }}</td>
      <td>{{ beneficiario.apellido1 }}</td>
      <td>{{ beneficiario.apellido2 }}</td>
      <td>{{ beneficiario.nacimiento }}</td>
      <td>
        <div *ngIf="!puedeEditar" class="text center">
          <span
            [ngClass]="{
              'badge-info': beneficiario.estado === 'Pendiente vincular',
              'badge-danger': beneficiario.estado === 'Pendiente desvincular',
              'badge-warning': beneficiario.estado === 'Dato sensible',
              'badge-secondary': beneficiario.estado === 'Concurrencia',
              'badge-success': beneficiario.estado === 'Vinculado',
              'badge-dark': beneficiario.estado === 'Desvinculado'
            }"
            class="badge badge-success"
            >{{ beneficiario.estado }}</span
          >
        </div>
        <ng-select
          *ngIf="puedeEditar"
          [items]="estados"
          bindValue="value"
          bindLabel="label"
          placeholder="Seleccionar estado"
          [(ngModel)]="beneficiario.estado"
        ></ng-select>
      </td>
      <td>{{ beneficiario.ingreso }}</td>
      <td>{{ beneficiario.creadoEl }}</td>
      <td *ngIf="!listarPorUds">{{ beneficiario.uds.nombre }}</td>
      <td class="text-right">
        <button
          *ngIf="puedeEditar"
          (click)="actualizarBeneficiario(beneficiario)"
          type="button"
          class="btn btn-outline-success btn-sm btn-circle mr-1"
          data-toggle="popover"
          data-placement="bottom"
          data-content="Guardar"
        >
          <i class="fas fa-save"></i>
        </button>
        <button
          (click)="verInfoBeneficiario(beneficiario)"
          type="button"
          class="btn btn-outline-info btn-sm btn-circle mr-1"
          data-toggle="popover"
          data-placement="bottom"
          data-content="Ver"
        >
          <i class="fas fa-eye"></i>
        </button>
        <button
          *ngIf="puedeEditar"
          (click)="editarBeneficiario(beneficiario)"
          type="button"
          class="btn btn-outline-warning btn-sm btn-circle mr-1"
          data-toggle="popover"
          data-placement="bottom"
          data-content="Editar"
        >
          <i class="fas fa-pencil"></i>
        </button>
        <button
          *ngIf="puedeEditar || beneficiario.estado === 'Pendiente vincular'"
          (click)="eliminarBeneficiario(beneficiario)"
          type="button"
          class="btn btn-outline-danger btn-sm btn-circle mr-1"
          data-toggle="popover"
          data-placement="bottom"
          data-content="Eliminar"
        >
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
