<div
  *ngIf="!rutaHijaActiva"
  class="page-wrapper d-flex justify-content-center bg-blue-grey help-center"
>
  <div class="main">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="header text-left">
            <a
              [routerLink]="['/ayuda']"
              mat-button
              color="primary"
              class="btn-back mb-4"
            >
              <mat-icon>arrow_back</mat-icon> Volver al centro de ayuda
            </a>
            <h1 class="m-0">Guías y Recursos</h1>
            <p class="text-muted m-0">
              <i class="fas fa-cog fa-spin"></i> Guías en construcción
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Guia -->
    <div class="container-fluid">
      <div class="row mb-5">
        <div class="col">
          <h2>Iniciando</h2>
          <ul class="list-unstyled guide">
            <li>
              <a routerLink="que-es-esta-aplicacion">Qué es esta aplicación?</a>
            </li>
            <li>
              <a class="text-muted">Iniciar usando esta aplicación</a>
            </li>
            <li>
              <a class="text-muted">Navegando dentro de la app</a>
            </li>
          </ul>
        </div>
        <div class="col">
          <h2>Beneficiarios</h2>
          <ul class="list-unstyled guide">
            <li>
              <a class="text-muted">Reportar ingreso</a>
            </li>
            <li>
              <a class="text-muted">Reportar egreso</a>
            </li>
            <li>
              <a routerLink="reportar-nacimiento">Reportar nacimiento</a>
            </li>
            <li>
              <a class="text-muted">Ver beneficiarios</a>
            </li>
            <li>
              <a class="text-muted">Cancelar reporte de ingreso</a>
            </li>
            <li>
              <a class="text-muted">Estados</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Guia -->
      <div class="row mb-5">
        <div class="col">
          <h2>Contratos</h2>
          <ul class="list-unstyled guide">
            <li>
              <a class="text-muted">Crea contrato</a>
            </li>
            <li>
              <a class="text-muted">Editar contrato</a>
            </li>
            <li>
              <a class="text-muted">Eliminar contrato</a>
            </li>
          </ul>
        </div>
        <div class="col">
          <h2>Unidades De Servicio</h2>
          <ul class="list-unstyled guide">
            <li>
              <a class="text-muted">Crea unidad de servicio</a>
            </li>
            <li>
              <a class="text-muted">Editar unidad de servicio</a>
            </li>
            <li>
              <a class="text-muted">Eliminar unidad de servicio</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Guia -->
      <div class="row mb-5">
        <div class="col">
          <h2>Usuarios</h2>
          <ul class="list-unstyled guide">
            <li>
              <a class="text-muted">Crear usuarios</a>
            </li>
            <li>
              <a class="text-muted">Editar usuarios</a>
            </li>
            <li>
              <a class="text-muted">Eliminar usuarios</a>
            </li>
            <li>
              <a class="text-muted">Roles</a>
            </li>
          </ul>
        </div>
        <div class="col">
          <h2>Administrar</h2>
          <ul class="list-unstyled guide">
            <li>
              <a class="text-muted">Mensajes de soporte</a>
            </li>
            <li>
              <a class="text-muted">Importación de registros</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Guia -->
      <div class="row mb-5">
        <div class="col">
          <h2>Ajustes</h2>
          <ul class="list-unstyled guide">
            <li>
              <a class="text-muted">Perfil</a>
            </li>
            <li>
              <a class="text-muted">Seguridad</a>
            </li>
            <li>
              <a class="text-muted">Tema</a>
            </li>
            <li>
              <a class="text-muted">Notificaciones</a>
            </li>
          </ul>
        </div>
        <div class="col">
          <h2>Pagos</h2>
          <ul class="list-unstyled guide">
            <li>
              <a class="text-muted">Subscripciones</a>
            </li>
            <li>
              <a class="text-muted">Descuentos</a>
            </li>
            <li>
              <a class="text-muted">Métodos de pago</a>
            </li>
            <li>
              <a class="text-muted">Pagos atrasados</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet
  (activate)="rutaHijaActiva = true"
  (deactivate)="rutaHijaActiva = false"
></router-outlet>
