.chart-title {
  text-transform: uppercase;
  color: #64748b;
  font-weight: 600;
  font-size: 1.1rem;
}

.pie-chart {
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-group {
  font-size: 0.9rem;
}
.list-group .list-group-item {
  align-items: center;
}

.label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50%;
}

.label-color {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 10px;
}

.data {
  font-weight: 500;
  width: 35px;
  margin: 0 auto;
  text-align: end;
}

.percent {
  width: 55px;
  text-align: end;
}

.percent,
.chart-time {
  color: #64748b;
}
