<div
  class="page-wrapper d-flex justify-content-center bg-blue-grey help-center"
>
  <div class="main">
    <div class="container-fluid pb-5">
      <div class="header text-left">
        <a routerLink="../" mat-button color="primary" class="btn-back mb-4">
          <mat-icon>arrow_back</mat-icon> Volver a Guías y Recursos
        </a>
        <h1 class="m-0">Qué es esta aplicación?</h1>
        <p class="text-muted m-0">
          Información sobre Proyecto-VRIC
        </p>
      </div>
      <!-- Guia -->
      <div class="card card-body border-0 shadow-sm p-5">
        <section class="mb-4">
          <h2>Proyecto-VRIC</h2>
          <p>
            Esta aplicación nace con la idea de mejorar, rastrear y optimizar el
            trabajo realizado en las Entidades Administradoras de Servicio
            (EAS), aplicando tecnologías modernas, ya que, por lo general las
            EAS sólo cuentan con la plataforma oficial del Instituto Colombiano
            del Bienestar Familiar (ICBF) llamado
            <a href="https://rubonline.icbf.gov.co/" target="_blank"
              >CUÉNTAME</a
            >
            y paquetes de ofimática para administrar su información.
          </p>
        </section>

        <section class="mb-4">
          <h3>¿Es lo mismo que el CUÉNTAME?</h3>
          <p>
            Aunque algunas funciones son similares, la estructura y el objetivo
            de cada plataforma son distintas. El CUÉNTAME fue creada por y para
            el ICBF, es decir, esta construída para satisfacer específicamente
            las necesidades del ICBF, esta aplicación/plataforma esta construída
            para satisfacer las necesidades de la EAS, brindando herramientas
            que ayuden a la misma.
          </p>
        </section>

        <section class="mb-4">
          <h3>Objetivo</h3>
          <p>
            Normalmente las/os docentes son la fuente principal de la
            información, son ellas/os quienes realizan el proceso de capturar y
            almacenar la información de los beneficiarios, posteriormente deben
            reportar al gestor o auxiliar administrativo dicha información, esto
            usualmente suele hacerce con un formato digital en una hoja de
            cálculo. El objetivo es reemplazar esa hoja de cálculo por un
            formulario de una sola página en esta aplicación y trabajar en
            tiempo real los registros creados por las/os docentes.
          </p>
          <p>
            Esta aplicación procesa dicha información y explota todos los
            indicadores de datos posibles permitiendo el análisis,
            automatización, actualización y visualización en tiempo real,
            mejorando notablemente los tiempos de repsuesta ante cualquier
            situación. Por otra parte, el permitir la supervisión sin la
            necesidad de generar un reporte del CUÉNTAME.
          </p>
        </section>

        <section class="mb-4">
          <h4>Ventajas</h4>
          <ul>
            <li>
              Los formularios validan que la información ingresada no contenga
              errores y se registre todo lo necesario.
            </li>
            <li>
              La información es almacenada en una base de datos y leída en
              tiempo real.
            </li>
            <li>
              Se pueden hacer todos los movimientos necesarios sin riesgo de
              "dañar" registros ya creados ni copiar y pegar información en una
              hoja de cálculo.
            </li>
            <li>
              El tiempo de reporte es instantaneo, reduciento tiempos de
              compilación, envío por correo, descarga, etc.
            </li>
            <li>
              Las/os docentes pueden corregir la información una vez guardada la
              información (antes de vincular).
            </li>
            <li>
              Se pueden ver gráficas en el panel de control en tiempo real, sin
              necesidad de realizar exportaciones desde el CUÉNTAME.
              <ul>
                <li>
                  Gráficas de beneficiarios vinculados y cupos disponibles
                  generales.
                </li>
                <li>
                  Gráficas de beneficiarios vinculados y cupos disponibles por
                  UDS.
                </li>
                <li>Gráficas de población generales y por UDS.</li>
                <li>Gráficas de reportes realizados (ingresos y egresos).</li>
                <li>
                  Gráficas con criterios específicos, por ejemplo, beneficiarios
                  mayores de 2 años, etc.
                </li>
              </ul>
            </li>
            <li>
              Toda la información relacionada sobre la EAS se puede listar
              rápidamente en un sólo espacio.
            </li>
            <li>
              Responsabilidad de información al registrar el colaborador que
              realiza los registros.
            </li>
            <li>
              Notificaciones en tiempo real para la gestión de datos sensibles,
              estados y novedades.
            </li>
            <li>
              Roles de perfil.
            </li>
          </ul>
        </section>

        <section class="mb-4">
          <h5>Seguridad de la información</h5>
          <p>
            Trabajar la información en un sólo ecosistema permite resguardar la
            información y manipularla de manera segura, ya que la aplicación
            cuenta con Roles asignados a cada perfil, por ejemplo, las docentes
            tienen el rol DOCENTE y los coordinadores el rol COORDINADOR, esto
            permite que sólo las/os docentes puedan ver y realizar los reportes
            de ingreso, egreso y/o cambios de gestantes, pero, los coordinadores
            sólo podrán supervisar y no editar la información.
          </p>
        </section>

        <section class="mb-4">
          <h5>Roles</h5>
          <ul>
            <li>
              <b>DOCENTE: </b>Puede ver los panel de control, realizar reportes
              de beneficiarios (ingresos, egresos, cambios) y listar sus
              beneficiarios.
            </li>
            <li>
              <b>COORDINADOR: </b>Puede ver los panel de control, listar UDS,
              listar usuarios y listar sus beneficiarios.
            </li>
            <li>
              <b>GESTOR: </b>Puede ver los panel de control, listar, crear,
              eliminar y actualizar UDS, beneficiarios, contratos y usuarios.
            </li>
            <li>
              <b>VISITANTE: </b>Perfil de supervisor/tour, puede ver todo, pero
              no editar, actualizar ni eliminar.
            </li>
            <li><b>ADMIN: </b>Control total.</li>
          </ul>
        </section>

        <div class="guia-imagen">
          <img src="assets/img/guias/iniciando/login.png" alt="" />
        </div>
        <p class="text-muted"><em>Página: Inicio de sesión</em></p>

        <div class="guia-footer mt-3">
          <mat-divider></mat-divider>
          <div class="ultima-actualizacion pt-4">
            <small class="text-muted"
              ><b>Última actualización {{ fechaDeGuia }}</b></small
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
