<div
  class="page-wrapper d-flex justify-content-center bg-blue-grey help-center"
>
  <div class="main">
    <div class="container-fluid pb-5">
      <div class="header text-left">
        <a routerLink="../" mat-button color="primary" class="btn-back mb-4">
          <mat-icon>arrow_back</mat-icon> Volver a Guías y Recursos
        </a>
        <h1 class="m-0">Qué es esta aplicación?</h1>
        <p class="text-muted m-0">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, quos
          quia?
        </p>
      </div>
      <!-- Guia -->
      <div class="card card-body border-0 shadow-sm p-5">
        <section>
          <h2>Header level 2</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit.
            Accusantium, sunt consequatur, deleniti facilis earum aspernatur ut
            voluptatibus iure molestiae vero, magni nesciunt? Veritatis ex nemo
            voluptatibus repellendus reprehenderit dolore fugiat. Lorem ipsum
            dolor sit amet consectetur, adipisicing elit. Quos temporibus
            suscipit accusamus, sunt perferendis aspernatur hic atque veritatis
            facere adipisci laborum et officia in id quae nulla voluptatibus
            quis sit?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perferendis, quaerat reprehenderit deleniti fugit nostrum nobis
            aliquid ut ratione distinctio, nemo expedita natus voluptatibus
            culpa odit quibusdam. Sit officia suscipit voluptatum.
          </p>
        </section>

        <section>
          <h3>Header level 3</h3>
          <div class="guia-imagen">
            <img src="assets/img/guias/iniciando/login.png" alt="" />
          </div>
          <p class="text-muted"><em>Página: Inicio de sesión</em></p>
        </section>

        <section>
          <h4>Header level 4</h4>
          <ol>
            <li>Lista ordenada</li>
            <li>Con insrucciones</li>
            <li>De pasos a seguir</li>
            <li>Por el usuario</li>
          </ol>
        </section>

        <section>
          <h5>Header level 5</h5>
          <ul>
            <li>Lista sin ordenar</li>
            <li>Para cosas que deben</li>
            <li>Tener en cuenta</li>
          </ul>
        </section>

        <div class="guia-footer mt-3">
          <mat-divider></mat-divider>
          <div class="ultima-actualizacion pt-4">
            <small class="text-muted"
              ><b>Última actualización hace 3 meses</b></small
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
