<form ngNativeValidate [formGroup]="formEgreso" (ngSubmit)="reportarEgreso()">
  <div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title text-danger">
        <i class="fas fa-calendar-times"></i>
        Reportar egreso
      </h5>
      <div class="row">
        <div class="col-lg-4 col-xl-3">
          <div class="form-group">
            <label for="udsId">Seleccionar UDS</label>
            <ng-select
              [items]="udsAsignadas"
              bindValue="_id"
              bindLabel="nombre"
              placeholder="Seleccionar Unidad de Servicio"
              [loading]="!udsAsignadas"
              (change)="traerBeneficiarios($event)"
              formControlName="udsId"
              name="udsId"
              required
            >
            </ng-select>
          </div>
        </div>
        <div class="col-lg-4 col-xl-3">
          <div class="form-group">
            <label for="beneficiarioId">Beneficiario a desvincular</label>
            <ng-select
              [items]="beneficiarios"
              bindValue="_id"
              bindLabel="nombre1"
              placeholder="Seleccionar beneficiario"
              [loading]="cargandoBeneficiarios"
              formControlName="beneficiarioId"
              name="beneficiarioId"
              required
            >
              <!-- item seleccionado (label) -->
              <ng-template ng-label-tmp let-item="item">
                {{ item.nombre1 }} {{ item.nombre2 }} {{ item.apellido1 }}
                {{ item.apellido2 }}
              </ng-template>
              <!-- opciones -->
              <ng-template ng-option-tmp let-item="item">
                {{ item.nombre1 }} {{ item.nombre2 }} {{ item.apellido1 }}
                {{ item.apellido2 }}
              </ng-template>
            </ng-select>
          </div>
        </div>
        <div class="col-lg-4 col-xl-3">
          <div class="form-group">
            <label for="motivo">Motivo de egreso</label>
            <ng-select
              [items]="motivosDeEgreso"
              bindValue="value"
              bindLabel="label"
              placeholder="Seleccionar el motivo"
              formControlName="motivo"
              name="motivo"
              required
            >
            </ng-select>
          </div>
        </div>
        <div class="col-lg-4 col-xl-2">
          <div class="form-group">
            <label for="egreso">Fecha de desvinculación</label>
            <input
              formControlName="egreso"
              name="egreso"
              type="date"
              class="form-control"
              autocomplete="off"
              required
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-right">
          <button
            *ngIf="!actualizando"
            type="submit"
            class="btn btn-danger btn-sm"
          >
            <i class="fas fa-user-times mr-1"></i>
            Reportar egreso
          </button>
          <button
            *ngIf="actualizando"
            [disabled]="actualizando"
            type="button"
            class="btn btn-danger btn-sm"
          >
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            Reportando...
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
