<form ngNativeValidate [formGroup]="formEgreso" (ngSubmit)="reportarEgreso()">
  <!--**********//********** Sección datos básicos **********//**********-->
  <div class="card border-0 shadow-sm mb-5 p-4">
    <div class="card-body form-egreso">
      <p class="card-title">Información de egreso</p>
      <p class="text-muted m-0">
        Selecciona el beneficiario que deseas reportar como egreso
      </p>
      <div class="mt-4 mb-5">
        <mat-divider></mat-divider>
      </div>
      <div class="row egreso">
        <!--********************** CAMPO UDS **********************-->
        <div class="col-sm-12 col-md-4 col-xl-3">
          <div class="form-group">
            <label for="udsId">Unidad De Servicio</label>
            <mat-form-field appearance="outline" class="bdm-select">
              <mat-select
                (selectionChange)="traerBeneficiarios($event)"
                name="udsId"
                formControlName="udsId"
                placeholder="Seleccionar UDS"
              >
                <mat-option *ngFor="let uds of udsAsignadas" [value]="uds._id">
                  {{ uds.nombre }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>home_work</mat-icon>
              <mat-error *ngIf="fc.udsId.errors?.required">
                Debes seleccionar la UDS
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO BENEFICIARIO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-3">
          <div class="form-group">
            <label for="beneficiarioId">Beneficiario a desvincular</label>
            <mat-form-field appearance="outline" class="bdm-select">
              <mat-select
                name="beneficiarioId"
                formControlName="beneficiarioId"
                placeholder="Seleccionar beneficiario"
              >
                <mat-option *ngFor="let ben of beneficiarios" [value]="ben._id">
                  {{ ben.nombre1 | nombrePropio }}
                  {{ ben.nombre2 | nombrePropio }}
                  {{ ben.apellido1 | nombrePropio }}
                  {{ ben.apellido2 | nombrePropio }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>home_work</mat-icon>
              <mat-error *ngIf="fc.beneficiarioId.errors?.required">
                Debes seleccionar un beneficiario
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO MOTIVO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-3">
          <div class="form-group">
            <label for="motivo">Motivo de egreso</label>
            <mat-form-field appearance="outline" class="bdm-select">
              <mat-select
                name="motivo"
                formControlName="motivo"
                placeholder="Seleccionar motivo"
              >
                <mat-option
                  *ngFor="let motivo of motivosDeEgreso"
                  [value]="motivo.value"
                >
                  {{ motivo.label }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>home_work</mat-icon>
              <mat-error *ngIf="fc.motivo.errors?.required">
                Debes seleccionar un motivo de egreso
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <!--********************** CAMPO FECHA DE EGRSO **********************-->
        <div class="col-sm-12 col-md-4 col-xl-2">
          <div class="form-group">
            <label for="egreso">Fecha de egreso</label>
            <mat-form-field appearance="outline" class="bdm-input">
              <input
                matInput
                [matDatepicker]="egreso"
                [matDatepickerFilter]="filtroFinDeSemana"
                [min]="minEgreso"
                [max]="maxEgreso"
                name="egreso"
                formControlName="egreso"
                autocomplete="off"
                placeholder="Elige una fecha"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="egreso"
              ></mat-datepicker-toggle>
              <mat-datepicker #egreso></mat-datepicker>
              <mat-error *ngIf="fc.egreso.errors?.required">
                Debes seleccionar una fecha de egreso
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row actions text-right">
    <div class="col-12">
      <button mat-flat-button color="warn" type="submit">
        <mat-icon class="mr-1">person_remove</mat-icon>
        Reportar egreso
      </button>
    </div>
  </div>
</form>
