<h2 mat-dialog-title>Información de beneficiario</h2>
<div *ngIf="puedeEditar" class="dialog-actions">
  <button
    *ngIf="!edicionRapida"
    mat-icon-button
    [matMenuTriggerFor]="menu"
    matTooltip="Opciones"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="edicionRapida = true" mat-menu-item>
      <mat-icon>edit</mat-icon>
      <span>Edición rápida</span>
    </button>
    <button (click)="editarBeneficiario()" mat-menu-item>
      <mat-icon>edit</mat-icon>
      <span>Editar</span>
    </button>
  </mat-menu>
  <div *ngIf="edicionRapida" class="dialog-actions-edit">
    <button
      (click)="cancelarEdicionRapida()"
      mat-icon-button
      matTooltip="Cancelar"
    >
      <mat-icon fontSet="material-icons-two-tone">cancel</mat-icon>
    </button>
    <button
      (click)="actualizarBeneficiario()"
      mat-icon-button
      matTooltip="Guardar"
    >
      <mat-icon fontSet="material-icons-two-tone">save</mat-icon>
    </button>
    <button
      (click)="eliminarBeneficiario('Eliminar')"
      mat-icon-button
      matTooltip="Eliminar"
    >
      <mat-icon fontSet="material-icons-two-tone">delete</mat-icon>
    </button>
  </div>
</div>
<mat-dialog-content>
  <div class="info-beneficiario-wrapper">
    <div class="row">
      <div class="col-12">
        <div class="beneficiario-header d-flex flex-row align-items-center">
          <div class="user-no-image mr-3">
            {{ data.nombre1 | primeraLetra }}
          </div>
          <div class="d-flex flex-column">
            <h1 class="nombre-completo">
              <span>
                {{ data.nombre1 | nombrePropio }}
              </span>
              <span *ngIf="data.nombre2 !== ''">
                {{ data.nombre2 | nombrePropio }}
              </span>
              <span>
                {{ data.apellido1 | nombrePropio }}
              </span>
              <span *ngIf="data.apellido2 !== ''">
                {{ data.apellido2 | nombrePropio }}
              </span>
            </h1>
            <div class="form-field documento mb-1">
              <div class="label">
                {{ data.tipoDoc }}.
                <span id="documento">{{ data.documento | documento }}</span>
              </div>
              <button
                type="button"
                (click)="copiar('documento')"
                mat-icon-button
                matTooltip="Copiar"
                matTooltipPosition="right"
                class="mat-btn-sm ml-2"
              >
                <mat-icon class="clipboard-icon">content_copy</mat-icon>
              </button>
            </div>
            <div
              *ngIf="!edicionRapida"
              class="badge-status alert"
              [ngClass]="{
                'alert-primary': data.estado === 'Pendiente vincular',
                'alert-warning': data.estado === 'Pendiente desvincular',
                'alert-info': data.estado === 'Dato sensible',
                'alert-danger': data.estado === 'Concurrencia',
                'alert-success': data.estado === 'Vinculado',
                'alert-secondary': data.estado === 'Desvinculado'
              }"
            >
              <div
                class="status-indicator"
                [ngClass]="{
                  'bg-primary': data.estado === 'Pendiente vincular',
                  'bg-warning': data.estado === 'Pendiente desvincular',
                  'bg-info': data.estado === 'Dato sensible',
                  'bg-danger': data.estado === 'Concurrencia',
                  'bg-success': data.estado === 'Vinculado',
                  'bg-secondary': data.estado === 'Desvinculado'
                }"
              ></div>
              <span class="status-text">{{ data.estado }}</span>
            </div>
            <mat-form-field
              *ngIf="edicionRapida"
              appearance="outline"
              class="bdm-select"
            >
              <mat-select
                #selectEstado
                [(ngModel)]="data.estado"
                (selectionChange)="obtenerIconoEstado()"
                placeholder="Seleccionar estado"
              >
                <mat-option
                  *ngFor="let estado of estados"
                  [value]="estado.value"
                >
                  <mat-icon
                    fontSet="fas"
                    fontIcon="fa-circle"
                    [class]="estado.iconColor"
                  ></mat-icon>
                  {{ estado.label }}
                </mat-option>
              </mat-select>
              <mat-icon matPrefix>trip_origin</mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <mat-tab-group dynamicHeight>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="mr-2">account_box</mat-icon>
          Beneficiario
        </ng-template>
        <div class="beneficiario-data p-4">
          <div class="d-flex flex-row">
            <div class="mr-5">
              <div
                class="form-field sexo"
                matTooltip="Sexo"
                matTooltipPosition="left"
              >
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  wc
                </mat-icon>
                <div class="label">
                  {{ data.sexo }}
                </div>
              </div>
              <div
                class="form-field nacimiento"
                matTooltip="Nacimiento"
                matTooltipPosition="left"
              >
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  cake
                </mat-icon>
                <div class="label">
                  {{ data.nacimiento }}
                </div>
              </div>
              <div
                class="form-field lugarNacimiento"
                matTooltip="Lugar de nacimiento"
                matTooltipPosition="left"
              >
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  public
                </mat-icon>
                <div class="label text-nowrap">
                  {{ data.paisNacimiento }} > {{ data.dptoNacimiento }} >
                  {{ data.municipioNacimiento }}
                </div>
              </div>
              <div
                class="form-field ingreso"
                matTooltip="Ingreso"
                matTooltipPosition="left"
              >
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  event
                </mat-icon>
                <div class="label">
                  {{ data.ingreso }}
                </div>
              </div>
              <div
                class="form-field discapacidad mb-0"
                matTooltip="Discapacidad"
                matTooltipPosition="left"
              >
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  accessible
                </mat-icon>
                <div class="label">
                  <div
                    class="badge-status alert"
                    [ngClass]="{
                      'alert-secondary': !data.discapacidad,
                      'alert-warning': data.discapacidad
                    }"
                  >
                    <div
                      class="status-indicator"
                      [ngClass]="{
                        'bg-secondary': !data.discapacidad,
                        'bg-warning': data.discapacidad
                      }"
                    ></div>
                    <span class="status-text">
                      <span *ngIf="!data.discapacidad"
                        >No presenta discapacidad</span
                      >
                      <span *ngIf="data.discapacidad"
                        >Presenta discapacidad</span
                      >
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div
                class="form-field direccion"
                matTooltip="Dirección"
                matTooltipPosition="left"
              >
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  place
                </mat-icon>
                <div class="label">{{ data.direccion }}, {{ data.barrio }}</div>
              </div>
              <div class="form-field telefono">
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  phone
                </mat-icon>
                <div class="label" id="telefono">
                  {{ data.telefono }}
                </div>
                <button
                  type="button"
                  (click)="copiar('telefono')"
                  mat-icon-button
                  matTooltip="Copiar"
                  matTooltipPosition="right"
                  class="mat-btn-sm ml-2"
                >
                  <mat-icon class="clipboard-icon">content_copy</mat-icon>
                </button>
              </div>
              <div
                class="form-field autorreconocimiento"
                matTooltip="Autorreconocimiento"
                matTooltipPosition="left"
              >
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  groups
                </mat-icon>
                <div class="label">
                  {{ data.autorreconocimiento }}
                </div>
              </div>
              <div
                class="form-field criterio"
                matTooltip="Criterio"
                matTooltipPosition="left"
              >
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  rule
                </mat-icon>
                <div class="label">
                  {{ data.criterio }}, {{ data.infoCriterio }}
                </div>
              </div>
              <div
                class="form-field relacion-acudiente mb-0"
                matTooltip="Relación acudiente"
                matTooltipPosition="left"
              >
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  escalator_warning
                </mat-icon>
                <div class="label">
                  {{ data.tipoResponsable }}
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="data.egreso !== ''" class="data-egreso">
            <mat-divider></mat-divider>
            <h2 class="mb-2 text-danger">
              Información de egreso
            </h2>
            <div
              class="form-field egreso"
              matTooltip="Egreso"
              matTooltipPosition="left"
            >
              <mat-icon
                fontSet="material-icons-two-tone"
                class="form-field-icon"
              >
                event_busy
              </mat-icon>
              <div class="label">
                {{ data.egreso }}
              </div>
            </div>
            <div
              class="form-field motivoEgreso"
              matTooltip="Motivo de egreso"
              matTooltipPosition="left"
            >
              <mat-icon
                fontSet="material-icons-two-tone"
                class="form-field-icon"
              >
                contact_support
              </mat-icon>
              <div class="label">
                {{ data.motivoEgreso }}
              </div>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="mr-2">escalator_warning</mat-icon>
          Acudiente
        </ng-template>
        <div class="responsable-data p-4">
          <div class="d-flex flex-row">
            <div class="mr-5">
              <div
                class="form-field nombre1"
                matTooltip="Nombre 1"
                matTooltipPosition="left"
              >
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  label
                </mat-icon>
                <div class="label">
                  {{ data.responsableId.nombre1 }}
                </div>
              </div>
              <div
                class="form-field nombre2"
                matTooltip="Nombre 2"
                matTooltipPosition="left"
              >
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  label
                </mat-icon>
                <div class="label">
                  {{ data.responsableId.nombre2 }}
                </div>
              </div>
              <div
                class="form-field apellido1"
                matTooltip="Apellido 1"
                matTooltipPosition="left"
              >
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  label
                </mat-icon>
                <div class="label">
                  {{ data.responsableId.apellido1 }}
                </div>
              </div>
              <div
                class="form-field apellido2 mb-0"
                matTooltip="Apellido 2"
                matTooltipPosition="left"
              >
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  label
                </mat-icon>
                <div class="label">
                  {{ data.responsableId.apellido2 }}
                </div>
              </div>
            </div>
            <div>
              <div class="form-field nacimiento">
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  account_box
                </mat-icon>
                <div class="label">
                  {{ data.responsableId.tipoDoc }}.
                  <span id="respDoc">{{
                    data.responsableId.documento | documento
                  }}</span>
                  <button
                    type="button"
                    (click)="copiar('respDoc')"
                    mat-icon-button
                    matTooltip="Copiar"
                    matTooltipPosition="right"
                    class="mat-btn-sm ml-2"
                  >
                    <mat-icon class="clipboard-icon">content_copy</mat-icon>
                  </button>
                </div>
              </div>
              <div
                class="form-field nacimiento"
                matTooltip="Nacimiento"
                matTooltipPosition="left"
              >
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  cake
                </mat-icon>
                <div class="label">
                  {{ data.responsableId.nacimiento }}
                </div>
              </div>
              <div
                class="form-field sexo"
                matTooltip="Sexo"
                matTooltipPosition="left"
              >
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  wc
                </mat-icon>
                <div class="label text-nowrap">
                  {{ data.responsableId.sexo }}
                </div>
              </div>
              <div
                class="form-field lugarNacimiento mb-0"
                matTooltip="Lugar de nacimiento"
                matTooltipPosition="left"
              >
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  public
                </mat-icon>
                <div class="label text-nowrap">
                  {{ data.responsableId.paisNacimiento }} >
                  {{ data.responsableId.dptoNacimiento }} >
                  {{ data.responsableId.municipioNacimiento }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab *ngIf="data.madreId !== null">
        <ng-template mat-tab-label>
          <mat-icon class="mr-2">person</mat-icon>
          Madre
        </ng-template>
        <div class="madre-data p-4">
          <div class="d-flex flex-row">
            <div class="mr-5">
              <div
                class="form-field nombre1"
                matTooltip="Nombre 1"
                matTooltipPosition="left"
              >
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  label
                </mat-icon>
                <div class="label">
                  {{ data.madreId.nombre1 }}
                </div>
              </div>
              <div
                class="form-field nombre2"
                matTooltip="Nombre 2"
                matTooltipPosition="left"
              >
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  label
                </mat-icon>
                <div class="label">
                  {{ data.madreId.nombre2 }}
                </div>
              </div>
              <div
                class="form-field apellido1"
                matTooltip="Apellido 1"
                matTooltipPosition="left"
              >
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  label
                </mat-icon>
                <div class="label">
                  {{ data.madreId.apellido1 }}
                </div>
              </div>
              <div
                class="form-field apellido2 mb-0"
                matTooltip="Apellido 2"
                matTooltipPosition="left"
              >
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  label
                </mat-icon>
                <div class="label">
                  {{ data.madreId.apellido2 }}
                </div>
              </div>
            </div>
            <div>
              <div class="form-field nacimiento">
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  account_box
                </mat-icon>
                <div class="label">
                  {{ data.madreId.tipoDoc }}.
                  <span id="madreDoc">{{
                    data.madreId.documento | documento
                  }}</span>
                  <button
                    type="button"
                    (click)="copiar('madreDoc')"
                    mat-icon-button
                    matTooltip="Copiar"
                    matTooltipPosition="right"
                    class="mat-btn-sm ml-2"
                  >
                    <mat-icon class="clipboard-icon">content_copy</mat-icon>
                  </button>
                </div>
              </div>
              <div
                class="form-field nacimiento"
                matTooltip="Nacimiento"
                matTooltipPosition="left"
              >
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  cake
                </mat-icon>
                <div class="label">
                  {{ data.madreId.nacimiento }}
                </div>
              </div>
              <div
                class="form-field sexo mb-0"
                matTooltip="Sexo"
                matTooltipPosition="left"
              >
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  wc
                </mat-icon>
                <div class="label text-nowrap">
                  {{ data.madreId.sexo }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab *ngIf="data.padreId !== null">
        <ng-template mat-tab-label>
          <mat-icon class="mr-2">person</mat-icon>
          Padre
        </ng-template>
        <div class="padre-data p-4">
          <div class="d-flex flex-row">
            <div class="mr-5">
              <div
                class="form-field nombre1"
                matTooltip="Nombre 1"
                matTooltipPosition="left"
              >
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  label
                </mat-icon>
                <div class="label">
                  {{ data.padreId.nombre1 }}
                </div>
              </div>
              <div
                class="form-field nombre2"
                matTooltip="Nombre 2"
                matTooltipPosition="left"
              >
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  label
                </mat-icon>
                <div class="label">
                  {{ data.padreId.nombre2 }}
                </div>
              </div>
              <div
                class="form-field apellido1"
                matTooltip="Apellido 1"
                matTooltipPosition="left"
              >
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  label
                </mat-icon>
                <div class="label">
                  {{ data.padreId.apellido1 }}
                </div>
              </div>
              <div
                class="form-field apellido2 mb-0"
                matTooltip="Apellido 2"
                matTooltipPosition="left"
              >
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  label
                </mat-icon>
                <div class="label">
                  {{ data.padreId.apellido2 }}
                </div>
              </div>
            </div>
            <div>
              <div class="form-field nacimiento">
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  account_box
                </mat-icon>
                <div class="label">
                  {{ data.padreId.tipoDoc }}.
                  <span id="madreDoc">{{
                    data.padreId.documento | documento
                  }}</span>
                  <button
                    type="button"
                    (click)="copiar('madreDoc')"
                    mat-icon-button
                    matTooltip="Copiar"
                    matTooltipPosition="right"
                    class="mat-btn-sm ml-2"
                  >
                    <mat-icon class="clipboard-icon">content_copy</mat-icon>
                  </button>
                </div>
              </div>
              <div
                class="form-field nacimiento"
                matTooltip="Nacimiento"
                matTooltipPosition="left"
              >
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  cake
                </mat-icon>
                <div class="label">
                  {{ data.padreId.nacimiento }}
                </div>
              </div>
              <div
                class="form-field sexo mb-0"
                matTooltip="Sexo"
                matTooltipPosition="left"
              >
                <mat-icon
                  fontSet="material-icons-two-tone"
                  class="form-field-icon"
                >
                  wc
                </mat-icon>
                <div class="label text-nowrap">
                  {{ data.padreId.sexo }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
    <div class="comentario-actions d-flex flex-row align-items-center mb-2">
      <span>Comentario</span>
      <button
        type="button"
        *ngIf="!editandoComentario && puedeComentar"
        (click)="editandoComentario = true"
        mat-icon-button
        matTooltip="Editar comentario"
        matTooltipPosition="right"
        class="ml-2"
      >
        <mat-icon class="clipboard-icon">rate_review</mat-icon>
      </button>
      <button
        type="button"
        *ngIf="editandoComentario"
        (click)="cancelarComentario()"
        mat-icon-button
        matTooltip="Cancelar"
        matTooltipPosition="right"
        class="ml-2"
      >
        <mat-icon class="clipboard-icon">cancel</mat-icon>
      </button>
    </div>
    <div *ngIf="!editandoComentario" class="form-field comentario-no-edit">
      <div
        *ngIf="
          data.comentario === null || data.comentario === '';
          else tieneComentario
        "
        class="comentario-no-edit alert alert-secondary mb-0"
      >
        Sin comentario
      </div>
    </div>
    <ng-template #tieneComentario>
      <div class="comentario-no-edit alert alert-info mb-0">
        {{ data.comentario }}
      </div>
    </ng-template>
    <div *ngIf="editandoComentario" class="form-field comentario-edit">
      <mat-form-field appearance="outline">
        <mat-label>Editar comentario</mat-label>
        <textarea
          matInput
          placeholder="Escribe aquí algo que quieras destacar"
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="2"
          cdkAutosizeMaxRows="5"
          [(ngModel)]="data.comentario"
        ></textarea>
        <button
          type="button"
          mat-mini-fab
          matSuffix
          color="primary"
          (click)="actualizarBeneficiario()"
        >
          <mat-icon>save</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button
    *ngIf="data.estado === 'Pendiente vincular'"
    (click)="eliminarBeneficiario('Cancela ingreso')"
    mat-button
    color="warn"
  >
    Cancelar ingreso
  </button>
  <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>
