<div class="content">
  <div class="container-fluid">
    <!------------------------------------------------------------------------------->
    <!---------------------- Tabla de beneficiarios pendientes ---------------------->
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" data-tabs="tabs">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  href="#beneficiario"
                  data-toggle="tab"
                >
                  <i class="fas fa-pencil"></i>
                  Editar beneficiario
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#responsable" data-toggle="tab">
                  <i class="fas fa-pencil"></i>
                  Editar responsable
                </a>
              </li>
            </ul>
          </div>
          <div ngi class="card-body">
            <div class="tab-content" id="myTabContent">
              <div
                *ngIf="beneficiario"
                class="tab-pane fade show active"
                id="beneficiario"
                role="tabpanel"
                aria-labelledby="beneficiario-tab"
              >
                <!--------------------------- Datos básicos -------------------------->
                <!-------------------------------------------------------------------->
                <div class="card card-body mb-3">
                  <h5 class="card-title text-success">
                    <i class="fas fa-clipboard-user mr-2"></i>Datos básicos
                  </h5>
                  <div class="row">
                    <div class="col-2">
                      <div class="form-group">
                        <label for="tipoDoc">Tipo de documento</label>
                        <ng-select
                          [items]="tiposDeDocumento"
                          bindValue="value"
                          bindLabel="label"
                          groupBy="group"
                          placeholder="Seleccionar tipo de documento"
                          [(ngModel)]="beneficiario.tipoDoc"
                          name="tipoDoc"
                          required
                        >
                          <ng-template ng-label-tmp let-item="item">
                            <i [class]="item.icon"></i>
                            {{ item.label }}
                          </ng-template>
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="form-group">
                        <label for="documento">NUIP</label>
                        <input
                          #documento
                          [(ngModel)]="beneficiario.documento"
                          name="documento"
                          type="text"
                          class="form-control"
                          placeholder="Número de NUIP"
                          autocomplete="off"
                          required
                        />
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="form-group">
                        <label for="nombre1">Primer nombre</label>
                        <input
                          [(ngModel)]="beneficiario.nombre1"
                          name="nombre1"
                          type="text"
                          class="form-control"
                          placeholder="Escribe un nombre"
                          required
                        />
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="form-group">
                        <label for="nombre2">Segundo nombre</label>
                        <input
                          [(ngModel)]="beneficiario.nombre2"
                          name="nombre2"
                          type="text"
                          class="form-control"
                          placeholder="Escribe un nombre"
                        />
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="form-group">
                        <label for="apellido1">Primer apellido</label>
                        <input
                          [(ngModel)]="beneficiario.apellido1"
                          name="apellido1"
                          type="text"
                          class="form-control"
                          placeholder="Escribe un apellido"
                          required
                        />
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="form-group">
                        <label for="apellido2">Segundo apellido</label>
                        <input
                          [(ngModel)]="beneficiario.apellido2"
                          name="apellido2"
                          type="text"
                          class="form-control"
                          placeholder="Escribe un apellido"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2">
                      <div class="form-group">
                        <label for="sexo">Sexo</label>
                        <ng-select
                          [items]="sexos"
                          bindValue="value"
                          bindLabel="label"
                          placeholder="Seleccionar sexo"
                          [(ngModel)]="beneficiario.sexo"
                          name="sexo"
                          required
                        >
                          <ng-template ng-label-tmp let-item="item">
                            <i [class]="item.icon"></i>
                            {{ item.label }}
                          </ng-template>
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="form-group">
                        <label class="label-control" for="nacimiento"
                          >Fecha nacimiento</label
                        >
                        <input
                          [(ngModel)]="beneficiario.nacimiento"
                          name="nacimiento"
                          type="date"
                          class="form-control"
                          autocomplete="off"
                        />
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="form-group">
                        <label for="paisNacimiento">País de nacimiento</label>
                        <ng-select
                          [items]="paises"
                          bindValue="value"
                          bindLabel="label"
                          placeholder="Seleccionar país"
                          [(ngModel)]="beneficiario.paisNacimiento"
                          (change)="cambiarDepartamentos($event)"
                          name="paisNacimiento"
                          required
                        >
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="form-group">
                        <label for="dptoNacimiento">Dpto. de nacimiento</label>
                        <ng-select
                          [items]="listaDepartamentos"
                          bindValue="departamento"
                          bindLabel="departamento"
                          placeholder="Seleccionar departamento"
                          [(ngModel)]="beneficiario.dptoNacimiento"
                          (change)="cambiarCiudades($event)"
                          name="dptoNacimiento"
                          required
                        >
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="form-group">
                        <label for="municipioNacimiento"
                          >Municipio de nacimiento</label
                        >
                        <ng-select
                          [items]="listaMunicipios"
                          bindValue="municipio"
                          bindLabel="municipio"
                          placeholder="Seleccionar municipio"
                          [(ngModel)]="beneficiario.municipioNacimiento"
                          name="municipioNacimiento"
                          required
                        >
                        </ng-select>
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="form-group">
                        <label for="autorreconocimiento"
                          >Autorreconocimiento</label
                        >
                        <ng-select
                          [items]="reconocimientos"
                          bindValue="value"
                          bindLabel="label"
                          placeholder="Seleccionar autorreconocimiento"
                          [(ngModel)]="beneficiario.autorreconocimiento"
                          name="autorreconocimiento"
                          required
                        >
                        </ng-select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-2">
                      <div class="form-group">
                        <label for="discapacidad">Discapacidad</label>
                        <ng-select
                          [items]="discapacidades"
                          bindValue="value"
                          bindLabel="label"
                          placeholder="Seleccionar autorreconocimiento"
                          [(ngModel)]="beneficiario.discapacidad"
                          name="discapacidad"
                          required
                        >
                        </ng-select>
                      </div>
                    </div>
                  </div>
                </div>
                <!------------------- Sección datos de ubicación --------------------->
                <!-------------------------------------------------------------------->
                <div class="card mb-3">
                  <div class="card-body">
                    <h5 class="card-title text-success">
                      <i class="fas fa-map-marked"></i> Datos de ubicación
                    </h5>
                    <div class="row">
                      <div class="col-4">
                        <div class="form-group">
                          <label for="direccion">Dirección</label>
                          <input
                            [(ngModel)]="beneficiario.direccion"
                            name="direccion"
                            type="text"
                            class="form-control"
                            placeholder="Dirección exacta"
                            autocomplete="off"
                            required
                          />
                          <small class="form-text text-muted">
                            <b>Ejemplo rural:</b> Subiendo por vía principal
                            casa verde a lado de tienda Pepita
                          </small>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="form-group">
                          <label for="barrio">Barrio</label>
                          <input
                            [(ngModel)]="beneficiario.barrio"
                            name="barrio"
                            type="text"
                            class="form-control"
                            placeholder="Barrio"
                            autocomplete="off"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="form-group">
                          <label for="telefono">Teléfono</label>
                          <input
                            [(ngModel)]="beneficiario.telefono"
                            name="telefono"
                            type="text"
                            class="form-control"
                            placeholder="Telefono"
                            autocomplete="off"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="form-group">
                          <label for="autorreconocimiento"
                            >Criterio de atención</label
                          >
                          <ng-select
                            [items]="criterios"
                            bindValue="value"
                            bindLabel="label"
                            placeholder="Seleccionar criterio"
                            [(ngModel)]="beneficiario.criterio"
                            (change)="validarCriterio($event)"
                            name="criterio"
                            required
                          >
                          </ng-select>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="form-group">
                          <label for="infoCriterio">{{
                            labelInputInfoCriterio
                          }}</label>
                          <input
                            [(ngModel)]="beneficiario.infoCriterio"
                            name="infoCriterio"
                            [attr.type]="tipoInputInfoCriterio"
                            class="form-control"
                            placeholder="Escriba"
                            autocomplete="off"
                            required
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--------------------- Sección UDS e Ingreso ----------------------->
                <!------------------------------------------------------------------->
                <div class="card mb-3">
                  <div class="card-body">
                    <h5 class="card-title text-success">
                      <i class="fas fa-address-book mr-2"></i>Datos de ingreso
                    </h5>
                    <div class="row">
                      <div class="col-2">
                        <div class="form-group">
                          <label for="codigo">Código UDS</label>
                          <input
                            [(ngModel)]="beneficiario.uds.codigo"
                            name="codigo"
                            type="text"
                            class="form-control"
                            disabled
                            required
                          />
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="form-group">
                          <label for="udsId">Unidad De Servicio</label>
                          <input
                            [(ngModel)]="beneficiario.uds.nombre"
                            name="codigo"
                            type="text"
                            class="form-control"
                            disabled
                            required
                          />
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="form-group">
                          <label class="label-control" for="ingreso"
                            >Fecha de ingreso</label
                          >
                          <input
                            [(ngModel)]="beneficiario.ingreso"
                            name="ingreso"
                            type="date"
                            class="form-control"
                            autocomplete="off"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="form-group">
                          <label for="comentario">Comentario (opcional)</label>
                          <input
                            [(ngModel)]="beneficiario.comentario"
                            name="comentario"
                            type="text"
                            class="form-control"
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--------------------- Sección datos de egreso ----------------------->
                <!------------------------------------------------------------------->
                <div class="card mb-3">
                  <div class="card-body">
                    <h5 class="card-title text-danger">
                      <i class="fas fa-running mr-2"></i>Datos de egreso
                    </h5>
                    <div class="row">
                      <div class="col-xl-2">
                        <div class="form-group">
                          <label class="label-control text-danger" for="ingreso"
                            >Fecha de egreso</label
                          >
                          <input
                            [(ngModel)]="beneficiario.egreso"
                            name="egreso"
                            type="date"
                            class="form-control"
                          />
                        </div>
                      </div>
                      <div class="col-xl-3">
                        <div class="form-group">
                          <label class="label-control text-danger" for="ingreso"
                            >Motivo de egreso</label
                          >
                          <ng-select
                            [items]="motivosDeEgreso"
                            bindValue="value"
                            bindLabel="label"
                            placeholder="Seleccionar motivo"
                            [(ngModel)]="beneficiario.motivoEgreso"
                            name="motivoEgreso"
                            required
                          >
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 text-right">
                    <button
                      (click)="actualizarBeneficiario()"
                      type="button"
                      class="btn btn-success btn-sm"
                    >
                      <i class="fas fa-sync mr-1"></i>
                      Actualizar beneficiario
                    </button>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="responsable"
                role="tabpanel"
                aria-labelledby="responsable-tab"
              >
                <!------------------- Sección datos de acudiente ------------------->
                <div class="card mb-3">
                  <div class="card-body">
                    <h5 class="card-title text-success">
                      <i class="fas fa-users mr-2"></i>Datos de acudiente
                    </h5>
                    <div *ngIf="responsable" class="row">
                      <div class="col-2">
                        <div class="form-group">
                          <label for="respTipoDoc">Tipo de documento</label>
                          <ng-select
                            [items]="tiposDeDocumento"
                            bindValue="value"
                            bindLabel="label"
                            groupBy="group"
                            placeholder="Seleccionar tipo de documento"
                            [(ngModel)]="responsable.tipoDoc"
                            name="respTipoDoc"
                            required
                          >
                            <ng-template ng-label-tmp let-item="item">
                              <i [class]="item.icon"></i>
                              {{ item.label }}
                            </ng-template>
                          </ng-select>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="form-group">
                          <label for="documento">NUIP</label>
                          <input
                            [(ngModel)]="responsable.documento"
                            name="respDocumento"
                            type="text"
                            class="form-control"
                            placeholder="Número de NUIP"
                            autocomplete="off"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="form-group">
                          <label for="respNombre1">Primer nombre</label>
                          <input
                            [(ngModel)]="responsable.nombre1"
                            name="respNombre1"
                            type="text"
                            class="form-control"
                            placeholder="Escribe un nombre"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="form-group">
                          <label for="respNombre2">Segundo nombre</label>
                          <input
                            [(ngModel)]="responsable.nombre2"
                            name="respNombre2"
                            type="text"
                            class="form-control"
                            placeholder="Escribe un nombre"
                          />
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="form-group">
                          <label for="respApellido1">Primer apellido</label>
                          <input
                            [(ngModel)]="responsable.apellido1"
                            name="respApellido1"
                            type="text"
                            class="form-control"
                            placeholder="Escribe un apellido"
                            required
                          />
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="form-group">
                          <label for="respApellido2">Segundo apellido</label>
                          <input
                            [(ngModel)]="responsable.apellido2"
                            name="respApellido2"
                            type="text"
                            class="form-control"
                            placeholder="Escribe un apellido"
                          />
                        </div>
                      </div>
                    </div>
                    <div *ngIf="responsable" class="row">
                      <div class="col-2">
                        <div class="form-group">
                          <label for="respSexo">Sexo</label>
                          <ng-select
                            [items]="sexos"
                            bindValue="value"
                            bindLabel="label"
                            placeholder="Seleccionar sexo"
                            [(ngModel)]="responsable.sexo"
                            name="respSexo"
                            required
                          >
                            <ng-template ng-label-tmp let-item="item">
                              <i [class]="item.icon"></i>
                              {{ item.label }}
                            </ng-template>
                          </ng-select>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="form-group">
                          <label class="label-control" for="respNacimiento"
                            >Fecha nacimiento</label
                          >
                          <input
                            [(ngModel)]="responsable.nacimiento"
                            name="respNacimiento"
                            id="respNacimiento"
                            type="date"
                            class="form-control"
                            autocomplete="off"
                          />
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="form-group">
                          <label for="respPaisNacimiento"
                            >País de nacimiento</label
                          >
                          <ng-select
                            [items]="paises"
                            bindValue="value"
                            bindLabel="label"
                            placeholder="Seleccionar país"
                            [(ngModel)]="responsable.paisNacimiento"
                            (change)="cambiarDepartamentosResp($event)"
                            name="respPaisNacimiento"
                            required
                          >
                          </ng-select>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="form-group">
                          <label for="respDptoNacimiento"
                            >Dpto. de nacimiento</label
                          >
                          <ng-select
                            [items]="listaDepartamentosResp"
                            bindValue="departamento"
                            bindLabel="departamento"
                            placeholder="Seleccionar departamento"
                            [(ngModel)]="responsable.dptoNacimiento"
                            (change)="cambiarCiudadesResp($event)"
                            name="respDptoNacimiento"
                            required
                          >
                          </ng-select>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="form-group">
                          <label for="respMunicipioNacimiento"
                            >Municipio de nacimiento</label
                          >
                          <ng-select
                            [items]="listaMunicipiosResp"
                            bindValue="municipio"
                            bindLabel="municipio"
                            placeholder="Seleccionar municipio"
                            [(ngModel)]="responsable.municipioNacimiento"
                            name="respMunicipioNacimiento"
                            required
                          >
                          </ng-select>
                        </div>
                      </div>
                      <div class="col-2">
                        <div class="form-group">
                          <label for="tipoResponsable">Tipo de acudiente</label>
                          <ng-select
                            [items]="tipoResponsables"
                            bindValue="value"
                            bindLabel="label"
                            placeholder="Seleccionar relación"
                            [(ngModel)]="beneficiario.tipoResponsable"
                            name="tipoResponsable"
                            required
                          >
                          </ng-select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 text-right">
                    <button
                      (click)="actualizarResponsable()"
                      type="button"
                      class="btn btn-success btn-sm"
                    >
                      <i class="fas fa-sync mr-1"></i>
                      Actualizar responsable
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
