<div class="contrato-detalle" *ngIf="!editMode; else formEdit">
  <form class="form-detalle">
    <div class="actions">
      <button type="button" mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <button type="button" (click)="editMode = true" mat-menu-item>
          <mat-icon fontSet="material-icons-two-tone">edit</mat-icon>
          <span>Editar</span>
        </button>
      </mat-menu>
      <button routerLink="/contratos" matTooltip="Cerrar" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div class="logo-icbf">
      <img src="./assets/img/logos/icbf.png" width="128" alt="" />
    </div>
    <h2 class="form-title">Contrato {{ contrato.codigo }}</h2>
    <div
      class="badge-status alert"
      [ngClass]="{
        'alert-success': contrato.activo,
        'alert-danger': !contrato.activo
      }"
    >
      <div
        class="status-indicator"
        [ngClass]="{
          'bg-success': contrato.activo,
          'bg-danger': !contrato.activo
        }"
      ></div>
      <span class="status-text" *ngIf="contrato.activo">Activo</span>
      <span class="status-text" *ngIf="!contrato.activo">Inactivo</span>
    </div>
    <div class="form-field ubicacion">
      <mat-icon fontSet="material-icons-two-tone" class="form-field-icon"
        >place</mat-icon
      >
      <div class="label">{{ contrato.regional }}, {{ contrato.cz }}</div>
    </div>
    <div class="form-field eas">
      <mat-icon fontSet="material-icons-two-tone" class="form-field-icon"
        >home_work</mat-icon
      >
      <div class="label">{{ contrato.eas }}</div>
    </div>
    <div class="form-field nit">
      <mat-icon fontSet="material-icons-two-tone" class="form-field-icon"
        >label</mat-icon
      >
      <div class="label">
        NIT <span id="nit">{{ contrato.nit }}</span>
        <button
          type="button"
          (click)="copiar('nit')"
          mat-icon-button
          matTooltip="Copiar"
          matTooltipPosition="right"
          class="clipboard-btn ml-2"
        >
          <mat-icon class="clipboard-icon">content_copy</mat-icon>
        </button>
      </div>
    </div>
    <div class="form-field cupos">
      <mat-icon fontSet="material-icons-two-tone" class="form-field-icon"
        >people</mat-icon
      >
      <div class="label">{{ contrato.cupos }} Cupos</div>
    </div>
    <div class="form-field creadoEl">
      <mat-icon fontSet="material-icons-two-tone" class="form-field-icon"
        >today</mat-icon
      >
      <div class="label">Creado el {{ contrato.creadoEl }}</div>
    </div>
    <div class="form-field uds">
      <mat-icon fontSet="material-icons-two-tone" class="form-field-icon"
        >home</mat-icon
      >
      <div class="label">Unidades De Servicio (UDS)</div>
    </div>
    <div class="list-uds">
      <mat-divider></mat-divider>
      <mat-nav-list>
        <ng-container *ngFor="let unidad of udsEnContrato">
          <a mat-list-item [routerLink]="['/dashboard/uds', unidad._id]">
            <div>{{ unidad.nombre }}</div>
          </a>
        </ng-container>
      </mat-nav-list>
    </div>
  </form>
</div>
<!-- TEMPLATE FOR EDIT MODE FORM -->
<ng-template #formEdit>
  <div class="contrato-detalle">
    <form
      class="form-detalle modo-edicion"
      ngNativeValidate
      [formGroup]="formActualizarContrato"
      (ngSubmit)="actualizar()"
    >
      <div class="actions">
        <button
          type="button"
          (click)="editMode = false"
          mat-icon-button
          matTooltip="Cancelar"
        >
          <mat-icon fontSet="material-icons-two-tone">cancel</mat-icon>
        </button>
        <button type="submit" mat-icon-button matTooltip="Guardar">
          <mat-icon fontSet="material-icons-two-tone">save</mat-icon>
        </button>
        <button
          type="button"
          (click)="eliminarContrato(contrato)"
          mat-icon-button
          matTooltip="Eliminar"
        >
          <mat-icon fontSet="material-icons-two-tone">delete</mat-icon>
        </button>
      </div>
      <div class="logo-icbf">
        <img src="./assets/img/logos/icbf.png" width="128" alt="" />
      </div>
      <div class="codigo form-field">
        <mat-form-field appearance="outline">
          <mat-label>Código de contrato</mat-label>
          <input
            matInput
            formControlName="codigo"
            name="codigo"
            placeholder="Código de contrato"
          />
        </mat-form-field>
      </div>
      <div class="activo form-field mt-4">
        <mat-slide-toggle name="activo" formControlName="activo">
          <span *ngIf="fv.activo">Activo</span>
          <span *ngIf="!fv.activo">Inactivo</span>
        </mat-slide-toggle>
      </div>
      <div class="ubicacion form-field">
        <mat-icon fontSet="material-icons-two-tone" class="form-field-icon"
          >place</mat-icon
        >
        <mat-form-field appearance="outline">
          <mat-label>Regional ICBF</mat-label>
          <input
            matInput
            formControlName="regional"
            name="regional"
            placeholder="Departamento..."
          />
        </mat-form-field>
        <mat-form-field appearance="outline" class="ml-2">
          <mat-label>Centro Zonal</mat-label>
          <input
            matInput
            formControlName="cz"
            name="cz"
            placeholder="Centro zonal..."
          />
        </mat-form-field>
      </div>
      <div class="form-field eas">
        <mat-icon fontSet="material-icons-two-tone" class="form-field-icon"
          >home_work</mat-icon
        >
        <mat-form-field appearance="outline" class="ml-2">
          <mat-label>Entidad Administradora de Servicio (EAS)</mat-label>
          <input
            matInput
            formControlName="eas"
            name="eas"
            placeholder="Entidad Administradora de Servicios..."
          />
        </mat-form-field>
      </div>
      <div class="form-field nit">
        <mat-icon fontSet="material-icons-two-tone" class="form-field-icon"
          >label</mat-icon
        >
        <mat-form-field appearance="outline" class="ml-2">
          <mat-label>NIT</mat-label>
          <input
            matInput
            formControlName="nit"
            name="nit"
            placeholder="NIT..."
          />
        </mat-form-field>
      </div>
      <div class="form-field cupos">
        <mat-icon fontSet="material-icons-two-tone" class="form-field-icon"
          >people</mat-icon
        >
        <mat-form-field appearance="outline" class="ml-2">
          <mat-label>Cupos asignados</mat-label>
          <input
            matInput
            type="numeric"
            formControlName="cupos"
            name="cupos"
            placeholder="Cupos asignados..."
          />
        </mat-form-field>
      </div>
      <div class="form-field uds">
        <mat-icon fontSet="material-icons-two-tone" class="form-field-icon"
          >home</mat-icon
        >
        <div class="label">Unidades De Servicio (UDS)</div>
      </div>
      <div class="form-field agregar-uds mt-1">
        <ng-select
          #udsDisp
          [items]="udsDisponibles"
          bindLabel="nombre"
          bindValue="_id"
          placeholder="Asignar UDS disponible"
          [loading]="cargandoUdsDisponibles"
          (change)="agregarUdsContrato($event)"
        ></ng-select>
      </div>
      <div class="list-uds">
        <mat-divider></mat-divider>
        <mat-nav-list>
          <ng-container *ngFor="let unidad of udsEnContrato">
            <a mat-list-item [routerLink]="['/dashboard/uds', unidad._id]">
              <div>{{ unidad.nombre }}</div>
            </a>
          </ng-container>
        </mat-nav-list>
      </div>
    </form>
  </div>
</ng-template>
