<div class="content">
  <div class="container-fluid">
    <app-breadcrumb></app-breadcrumb>
    <div class="BDM_fadeInUp">
      <h3 class="mt-3">{{ nombre }}</h3>
      <p class="text-muted">{{ codigo }}</p>
      <div class="row mb-4">
        <div class="col-3">
          <div class="card card-body text-center" style="position: relative;">
            <h5 class="card-subtitle">Cobertura</h5>
            <app-pie-chart
              [pieChartData]="[
                totalVinculados + totalDS,
                cupos - (totalVinculados + totalDS)
              ]"
            ></app-pie-chart>

            <div class="card-graphic-info">
              <i class="fas fa-user" style="color: #51d0c5;"></i>
              <span class="graphic-number">{{
                totalVinculados + totalDS
              }}</span>
              <span class="text-muted data-desc">Beneficiarios</span>
            </div>
            <span class="text-muted mt-3 .card-graphic-sub-info"
              >Faltantes: {{ cupos - (totalVinculados + totalDS) }}</span
            >
          </div>
        </div>
        <!-- <div class="col-3">
          <div class="card card-body text-center" style="position: relative;">
            <h5 class="card-subtitle">Datos sensibles</h5>
            <app-pie-chart
              [pieChartData]="[totalDS, cupos - totalVinculados]"
              [bgColors]="['#fd4962']"
            ></app-pie-chart>
            <div class="card-graphic-info">
              <i class="fas fa-user-edit" style="color: #fd4962;"></i>
              <span class="graphic-number">{{ totalDS }}</span>
              <span class="text-muted data-desc">Beneficiarios</span>
            </div>
            <span class="text-muted mt-3 .card-graphic-sub-info"
              >Con calidad: {{ cupos - totalDS }}</span
            >
          </div>
        </div> -->
        <div class="col-3">
          <div class="card card-body pb-5">
            <h5 class="card-title">Tipos de beneficiarios</h5>
            <app-pie-chart
              [pieChartData]="[totalMG, totalLactantes, totalMayoresSeisMeses]"
              [bgColors]="['#f06495', '#2dc6d6', '#02abc0']"
              [labels]="[
                'Mujer gestante',
                'Menores de seis meses',
                'Mayores de seis meses'
              ]"
              [holeSize]="70"
              [legendDisplay]="true"
            ></app-pie-chart>
          </div>
        </div>
        <div class="col-6">
          <div class="card card-body">
            <h5 class="card-title">Novedades</h5>
            <!-- <div class="text-right">
                <div class="btn-group btn-group-toggle mb-2" data-toggle="buttons">
                  <label class="btn btn-light btn-sm active">
                    <input type="radio" name="options" id="option1" checked /> Cali
                  </label>
                  <label class="btn btn-light btn-sm">
                    <input type="radio" name="options" id="option2" /> Dagua
                  </label>
                </div>
              </div> -->
            <app-line-chart
              *ngIf="mostrarGraficaLinea"
              [ingresos]="ingresosPorMes"
              [egresos]="egresosPorMes"
              [meses]="meses"
            ></app-line-chart>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="card card-body mb-1">
            <h5 class="card-title mb-0">Información adicional</h5>
          </div>
          <ul class="list-group">
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Cambios pendientes
              <span class="badge badge-primary badge-pill">{{
                totalPendientes
              }}</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Mujeres gestantes adolescentes
              <span class="badge badge-primary badge-pill">{{
                mgAdolescente
              }}</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Beneficiarios con discapacidad
              <span class="badge badge-primary badge-pill">{{
                conDiscapacidad
              }}</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Beneficiarios con dato sensible
              <span class="badge badge-primary badge-pill">{{ totalDS }}</span>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
            >
              Beneficiarios en concurrencia
              <span class="badge badge-primary badge-pill">{{
                totalConcurrencia
              }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
