<div class="sidebar">
  <div class="sidebar-header">
    <div class="actions">
      <div class="logo">
        <img src="./assets/img/Icono-dark.svg" width="28px" alt="" />
      </div>
      <div class="spacer"></div>
      <div class="notificactions">
        <button mat-icon-button>
          <mat-icon>alarm_outline</mat-icon>
        </button>
      </div>
      <div class="user-btn">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="user-btn">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <div class="user-info-menu">
            <span>Iniciaste como</span>
            <span class="email">{{ usuario.correo }}</span>
          </div>
          <mat-divider></mat-divider>
          <button (click)="irAyuda()" mat-menu-item>
            <mat-icon fontSet="material-icons-two-tone">help</mat-icon>
            <span>Ayuda</span>
          </button>
          <button (click)="irAjustes()" mat-menu-item>
            <mat-icon fontSet="material-icons-two-tone">settings</mat-icon>
            <span>Ajustes</span>
          </button>
          <mat-divider></mat-divider>
          <button (click)="cerrarSesion()" mat-menu-item>
            <mat-icon>power_settings_new</mat-icon>
            <span>Cerrar sesión</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <div class="user-profile">
      <div class="avatar">
        <img src="./assets/img/developer.png" width="100%" alt="" />
      </div>
      <div class="info">
        <div class="name">{{ usuario.nombre | nombrePropio }}</div>
        <div class="email">{{ usuario.correo }}</div>
      </div>
    </div>
  </div>
  <div *ngFor="let menu of menuUsuario" class="navigation-group">
    <div class="navigation-title-wrapper">
      <div class="navigation-group-title">{{ menu.titulo }}</div>
      <div class="navigation-group-subtitle">{{ menu.subtitulo }}</div>
    </div>
    <div
      class="navigation-item"
      *ngFor="let menuItem of menu.items"
      routerLinkActive="active"
    >
      <a [routerLink]="menuItem.url" class="navigation-link">
        <mat-icon>{{ menuItem.gIcon }}</mat-icon>
        <div class="navigation-link-text">{{ menuItem.nombre }}</div>
      </a>
    </div>
  </div>
  <div *ngIf="false" class="navigation-group group-bottom">
    <div class="navigation-item" routerLinkActive="active">
      <a href="#" class="navigation-link">
        <mat-icon>sms_failed</mat-icon>
        <div class="navigation-link-text">Fallo</div>
      </a>
    </div>
  </div>
</div>

<!-- Modal -->
<!-- <div
  class="modal fade"
  id="modal-reporte"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <i class="fa fa-exclamation-triangle text-warning mr-2"></i> Reportar
          fallo
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <div class="col-12">
              <p>Qué tipo de reporte quieres hacer?</p>
              <div class="form-check form-check-inline">
                <input
                  [(ngModel)]="reporte.tipo"
                  class="form-check-input"
                  type="radio"
                  name="tipoReporte"
                  id="fallo"
                  value="Fallo"
                />
                <label class="form-check-label" for="fallo">Fallo</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  [(ngModel)]="reporte.tipo"
                  class="form-check-input"
                  type="radio"
                  name="tipoReporte"
                  id="sugerencia"
                  value="Sugerencia"
                />
                <label class="form-check-label" for="sugerencia"
                  >Sugerencia</label
                >
              </div>
              <div class="form-check form-check-inline">
                <input
                  [(ngModel)]="reporte.tipo"
                  class="form-check-input"
                  type="radio"
                  name="tipoReporte"
                  id="mensaje"
                  value="Mensaje"
                />
                <label class="form-check-label" for="mensaje">Mensaje</label>
              </div>
              <textarea
                [(ngModel)]="reporte.descripcion"
                name="descripción"
                class="form-control"
                rows="5"
              ></textarea>
              <small class="text-muted"
                ><i class="fa fa-info-circle"></i> Por favor, sé lo más claro
                posible en la redacción de tu observación</small
              >
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button (click)="crearReporte()" type="button" class="btn btn-primary">
          Reportar a administrador
        </button>
      </div>
    </div>
  </div>
</div> -->
