<div class="sidebar">
  <div class="sidebar-header">
    <div class="actions">
      <div class="logo">
        <img src="./assets/img/Icono-dark.svg" width="28px" alt="" />
      </div>
      <div class="spacer"></div>
      <div class="notificactions">
        <button mat-icon-button>
          <mat-icon>alarm_outline</mat-icon>
        </button>
      </div>
      <div class="user-btn">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="user-btn">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <div class="user-info-menu">
            <span>Iniciaste como</span>
            <span class="email">{{ usuario.correo }}</span>
          </div>
          <mat-divider></mat-divider>
          <button (click)="irAyuda()" mat-menu-item>
            <mat-icon fontSet="material-icons-two-tone">help</mat-icon>
            <span>Ayuda</span>
          </button>
          <button (click)="irAjustes()" mat-menu-item>
            <mat-icon fontSet="material-icons-two-tone">settings</mat-icon>
            <span>Ajustes</span>
          </button>
          <mat-divider></mat-divider>
          <button (click)="cerrarSesion()" mat-menu-item>
            <mat-icon>power_settings_new</mat-icon>
            <span>Cerrar sesión</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <div class="user-profile">
      <div class="avatar">
        <img src="./assets/img/developer.png" width="100%" alt="" />
      </div>
      <div class="info">
        <div class="name">{{ usuario.nombre | nombrePropio }}</div>
        <div class="email">{{ usuario.correo }}</div>
      </div>
    </div>
  </div>
  <div *ngFor="let menu of menuUsuario" class="navigation-group">
    <div class="navigation-title-wrapper">
      <div class="navigation-group-title">{{ menu.titulo }}</div>
      <div class="navigation-group-subtitle">{{ menu.subtitulo }}</div>
    </div>
    <div
      class="navigation-item"
      *ngFor="let menuItem of menu.items"
      routerLinkActive="active"
    >
      <a [routerLink]="menuItem.url" class="navigation-link">
        <mat-icon>{{ menuItem.gIcon }}</mat-icon>
        <div class="navigation-link-text">{{ menuItem.nombre }}</div>
      </a>
    </div>
  </div>
  <div *ngIf="false" class="navigation-group group-bottom">
    <div class="navigation-item" routerLinkActive="active">
      <a href="#" class="navigation-link">
        <mat-icon>sms_failed</mat-icon>
        <div class="navigation-link-text">Fallo</div>
      </a>
    </div>
  </div>
</div>
