<h2 mat-dialog-title>Acerca de</h2>
<mat-dialog-content class="mat-typography">
  <p>
    Esta aplicación permite a las Entidades Administradoras de Servicicio - EAS
    (Aliados estratégicos del Insituto Colombiano del Bienestar Familiar) a
    administrar la información de sus servicios, las personas autorizadas al uso
    de esta aplicación reconocen que se manipula la información personal de sus
    beneficiarios y se comprometen a registrar sólo la información solicitada.
  </p>
  <p>
    Es importante resaltar que esta aplicación amplía las herramientas básicas
    utilizada por la EAS para la manipulación de la información de sus
    beneficiarios, la información aquí consignada perdurará hasta la fecha que
    la EAS tenga contratada con ICBF, posterior a la fecha de finalización de
    contrato se eliminará toda la información relacionada a los beneficiarios
    sin copia de seguridad alguna para garantizar la privacidad de los mismos.
  </p>
  <p>
    Actualmente la aplicación se encuentra en fase de desarrollo (beta), por
    ende, es probable que se realicen cambios a nivel técnico y/o visual.
  </p>
  <p>
    Esta aplicación hace uso de Cookies para almacenar datos se sesión.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close color="primary">Entendido</button>
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>
