<div #dialog class="update-notes">
  <div class="card border-0 shadow-lg updates-dialog BDM_fadeInUp">
    <div class="card-header">Notas de despliegue</div>
    <div class="card-body">
      <!-- 1.0.2 -->
      <section class="1.0.2 mb-4">
        <h2 class="m-0">Versión 1.0.2</h2>
        <small class="text-muted">03/11/2020</small>
        <mat-divider></mat-divider>
        <ul class="list-unstyled">
          <li class="mb-2">
            <div class="badge-status alert alert-danger d-inline-block">
              <div class="status-text">Corregido</div>
            </div>
            Número de documento sin separadores en formulario
            <b>Reportar nacimiento</b>.
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-danger d-inline-block">
              <div class="status-text">Corregido</div>
            </div>
            Fecha de nacimiento de padre en formulario
            <b>Reportar nacimiento</b>.
          </li>
        </ul>
      </section>
      <!-- 1.0.1 -->
      <section class="1.0.1 mb-4">
        <h2 class="m-0">Versión 1.0.1</h2>
        <small class="text-muted">29/10/2020</small>
        <mat-divider></mat-divider>
        <ul class="list-unstyled">
          <li class="mb-2">
            <div class="badge-status alert alert-warning d-inline-block">
              <div class="status-text">Mejorado</div>
            </div>
            Vista de beneficiarios en UDS por Grupos según su estado o Tabla
            general
            <small class="text-muted">[Sugerido: Jhon Piedrahita]</small>
          </li>
        </ul>
      </section>
      <!-- 1.0.0 -->
      <section class="1.0.0 mb-4">
        <h2 class="m-0">Versión 1.0.0</h2>
        <small class="text-muted">22/10/2020 - Oficial Release</small>
        <mat-divider></mat-divider>
        <ul class="list-unstyled">
          <li class="mb-2">
            <div class="badge-status alert alert-warning d-inline-block">
              <div class="status-text">Mejorado</div>
            </div>
            Rediseño de interfaz gráfica general 🌟
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-success d-inline-block">
              <div class="status-text">Nuevo</div>
            </div>
            Animación de carga para páginas
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-success d-inline-block">
              <div class="status-text">Nuevo</div>
            </div>
            Validaciones de formularios robustas
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-success d-inline-block">
              <div class="status-text">Nuevo</div>
            </div>
            Centro de ayuda (Guías, Preguntas frecuentes y Soporte)
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-success d-inline-block">
              <div class="status-text">Nuevo</div>
            </div>
            Vista de pantalla completa
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-success d-inline-block">
              <div class="status-text">Nuevo</div>
            </div>
            Cambio de temas en página de <b>Ajustes</b> (Default, Dark Mode y
            Cyan)
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-success d-inline-block">
              <div class="status-text">Nuevo</div>
            </div>
            Notificaciones de usuario para Datos Sensibles, Ingresos,
            Concurrencias y Actualizaciones 🌟
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-success d-inline-block">
              <div class="status-text">Nuevo</div>
            </div>
            Buscador de registros en cada tabla de página
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-success d-inline-block">
              <div class="status-text">Nuevo</div>
            </div>
            Filtro de búsqueda
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-success d-inline-block">
              <div class="status-text">Nuevo</div>
            </div>
            Indicadores clave en panel de análisis (Sexo, Tipo de Beneficiario,
            Población vulnerable, Mayores de 2 años, Colombianos sin documento)
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-success d-inline-block">
              <div class="status-text">Nuevo</div>
            </div>
            Copia de datos al portapapeles
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-success d-inline-block">
              <div class="status-text">Nuevo</div>
            </div>
            Enlace de mensaje a WhatsApp en página de usuarios
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-warning d-inline-block">
              <div class="status-text">Mejorado</div>
            </div>
            Bloqueo de formulario <b>Reportar nacimiento</b> durante las semanas
            3, 4 y 5 del mes vigente
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-warning d-inline-block">
              <div class="status-text">Mejorado</div>
            </div>
            Búsqueda general se realizal al escribir + un tiempo de espera de
            500ms
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-warning d-inline-block">
              <div class="status-text">Mejorado</div>
            </div>
            Vista individual de registros dentro de la misma página
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-warning d-inline-block">
              <div class="status-text">Mejorado</div>
            </div>
            Ventana modal de beneficiario en listados
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-warning d-inline-block">
              <div class="status-text">Mejorado</div>
            </div>
            Animaciones generales
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-danger d-inline-block">
              <div class="status-text">Corregido</div>
            </div>
            Conteo de beneficiarios en panel de análisis
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-danger d-inline-block">
              <div class="status-text">Corregido</div>
            </div>
            Errores generales
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-danger d-inline-block">
              <div class="status-text">Eliminado</div>
            </div>
            Componente de registros buscados, en su lugar al dar clic en la
            búsqueda general se redirigirá a la UDS donde se encuentra el
            beneficiario (sólo si esta UDS esta asignada a tu perfil)
          </li>
        </ul>
      </section>
      <!-- β~0.6.2 -->
      <section class="β~0.6.2 mb-4">
        <h2 class="m-0">Versión β~0.6.2</h2>
        <mat-divider></mat-divider>
        <ul class="list-unstyled">
          <li class="mb-2">
            <div class="badge-status alert alert-danger d-inline-block">
              <div class="status-text">Corregido</div>
            </div>
            Se corrigieron errores en formulario de <b>Ingreso</b>
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-danger d-inline-block">
              <div class="status-text">Corregido</div>
            </div>
            Se corrigieron errores en formulario de <b>Nacimiento</b>
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-danger d-inline-block">
              <div class="status-text">Corregido</div>
            </div>
            Se corrigieron errores generales
          </li>
        </ul>
      </section>
      <!-- β~0.6.1 -->
      <section class="β~0.6.1 mb-4">
        <h2 class="m-0">Versión β~0.6.1</h2>
        <mat-divider></mat-divider>
        <ul class="list-unstyled">
          <li class="mb-2">
            <div class="badge-status alert alert-success d-inline-block">
              <div class="status-text">Nuevo</div>
            </div>
            Se agregó en formulario de <b>reporte de nacimiento</b> la sección
            de información del padre
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-warning d-inline-block">
              <div class="status-text">Mejorado</div>
            </div>
            Se cambiaron algunos estilos de los formularios para una mejor
            visualización de profundidad
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-danger d-inline-block">
              <div class="status-text">Corregido</div>
            </div>
            Se corrigió la gráfica de Población (ahora Tipos de beneficiarios)
            en la página de
            <b>Dashboard</b>. Esta grafica correctamente los tipos de
            beneficiarios <b>Mujer gestante</b>, <b>Menores de seis meses</b> y
            <b>Mayores de seis meses</b>
          </li>
        </ul>
      </section>
      <!-- β~0.6.0 -->
      <section class="β~0.6.0 mb-4">
        <h2 class="m-0">Versión β~0.6.0</h2>
        <mat-divider></mat-divider>
        <ul class="list-unstyled">
          <li class="mb-2">
            <div class="badge-status alert alert-success d-inline-block">
              <div class="status-text">Nuevo</div>
            </div>
            Información de padre o madre se mostrará en ventana modal de
            <b>Mis beneficiarios</b> en caso de que el beneficiario cuente con
            dichos registros
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-success d-inline-block">
              <div class="status-text">Nuevo</div>
            </div>
            Se agregó en formulario de ingreso <b>Datos Madre/Padre</b>, se
            añadió la posibilidad de copiar datos del responsable en caso de que
            este sea padre o madre
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-danger d-inline-block">
              <div class="status-text">Corregido</div>
            </div>
            Se corrigió los estilos de listado UDS Dagua en <b>Dashboard</b>
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-danger d-inline-block">
              <div class="status-text">Corregido</div>
            </div>
            Se corrigió el error de dos tipo de responsable <b>Madre</b>
          </li>
        </ul>
      </section>
      <!-- β~0.5.1 -->
      <section class="β~0.5.1 mb-4">
        <h2 class="m-0">Versión β~0.5.1</h2>
        <mat-divider></mat-divider>
        <ul class="list-unstyled">
          <li class="mb-2">
            <div class="badge-status alert alert-success d-inline-block">
              <div class="status-text">Nuevo</div>
            </div>
            Se agregó la opción <b>Cambio a bebé lactante</b> a los motivos de
            egreso para asignar al egreso de Mujeres Gestantes
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-warning d-inline-block">
              <div class="status-text">Mejorado</div>
            </div>
            Se cambió la posición de los selectores de UDS en formularios, este
            ahora irá antes del campo de código UDS.
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-danger d-inline-block">
              <div class="status-text">Corregido</div>
            </div>
            Se corrigió la carga de datos del responsable en formulario de
            ingreso
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-danger d-inline-block">
              <div class="status-text">Corregido</div>
            </div>
            Se corrigió el error al iniciar sesión de algunos usuarios
          </li>
        </ul>
      </section>
      <!-- β~0.5.0 -->
      <section class="β~0.5.0 mb-4">
        <h2 class="m-0">Versión β~0.5.0</h2>
        <mat-divider></mat-divider>
        <ul class="list-unstyled">
          <li class="mb-2">
            <div class="badge-status alert alert-success d-inline-block">
              <div class="status-text">Nuevo</div>
            </div>
            Usuarios con rol
            <b>DOCENTE</b> al iniciar sesión ingresarán al <b>Dashboard</b> de
            su UDS asignada (en caso de tener dos o más, ingresará a la primera)
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-success d-inline-block">
              <div class="status-text">Nuevo</div>
            </div>
            Página <b>Dashboard</b> permite graficar datos de cada UDS
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-warning d-inline-block">
              <div class="status-text">Mejorado</div>
            </div>
            Página <b>Novedades</b>, al seleccionar un beneficiario extranjero,
            automáticamente se cambia valor de autorreconocimiento a
            <b>Ninguno</b>
            <small class="text-muted"> [Sugerencia: Jhon Piedrahita]</small>
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-warning d-inline-block">
              <div class="status-text">Mejorado</div>
            </div>
            Carga de datos en <b>Dashboard</b> ahora se realiza una sóla vez
            durante la sesión. (menor tiempo de espera)
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-warning d-inline-block">
              <div class="status-text">Mejorado</div>
            </div>
            Carga de listado <b>UDS asignadas</b> ahora se realiza una sóla vez
            durante la sesión. (menor tiempo de espera)
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-danger d-inline-block">
              <div class="status-text">Corregido</div>
            </div>
            Se corrigió el error al visualizar beneficiarios
          </li>
          <li class="mb-2">
            <div class="badge-status alert alert-danger d-inline-block">
              <div class="status-text">Corregido</div>
            </div>
            Se corrigió estado de beneficiario en página de búsqueda
          </li>
        </ul>
      </section>
    </div>
    <div class="card-actions border-top text-right">
      <button (click)="masTarde()" mat-stroked-button class="mr-2">
        Lo leeré más tarde
      </button>
      <button (click)="entendido()" mat-flat-button color="primary">
        Entendido
      </button>
    </div>
  </div>
</div>
