<div class="content">
  <div class="container-fluid">
    <app-breadcrumb></app-breadcrumb>
    <div class="row">
      <div class="col-12">
        <div class="card BDM_fadeInUp">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs" data-tabs="tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#ingreso" data-toggle="tab">
                  <i class="fas fa-user-plus"></i>
                  Reportar ingreso
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#egreso" data-toggle="tab">
                  <i class="fas fa-user-times"></i>
                  Reportar egreso
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#nacimiento" data-toggle="tab">
                  <i class="fad fa-baby"></i>
                  Reportar nacimiento
                </a>
              </li>
            </ul>
          </div>
          <div class="card-body ">
            <div class="tab-content">
              <!-------------------------------------------- 
                Formulario para ingreso de participantes
               --------------------------------------------->
              <div class="tab-pane active" id="ingreso">
                <app-form-ingresos
                  [udsAsignadas]="udsAsignadas"
                ></app-form-ingresos>
              </div>
              <!-------------------------------------------- 
                Formulario para egreso de participantes
               --------------------------------------------->
              <div class="tab-pane" id="egreso">
                <app-form-egresos
                  [udsAsignadas]="udsAsignadas"
                ></app-form-egresos>
              </div>
              <!-------------------------------------------- 
                Formulario para nacimientos de participantes
               --------------------------------------------->
              <div class="tab-pane" id="nacimiento">
                <div class="alert alert-warning alert-dismissible fade show">
                  El reporte de nacimiento y/o cambio de mujer gestante debe
                  realizarse en la última o primera semana del mes vigente, esto
                  permite tener un control mensual de un ingreso nuevo para
                  cargue de acompañamientos en la plataforma SPES y talleres de
                  formación en CUÉNTAME.
                  <button
                    type="button"
                    class="close"
                    data-dismiss="alert"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <app-form-cambios
                  [udsAsignadas]="udsAsignadas"
                ></app-form-cambios>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
