@import '~@ng-select/ng-select/themes/default.theme.css';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

html,
body {
  height: 100%;
  font-size: 14px;
  font-family: 'Inter', Roboto, 'Helvetica Neue', sans-serif !important;
  margin: 0;
}

/* Sobre escritura de bootstrap */
button:focus {
  outline: none;
}

.mat-spacer {
  flex: 1 1 auto;
}

.mat-divider {
  margin: 8px 0 !important;
}

.vric-container {
  height: 100vh;
}

.mat-drawer-inner-container {
  overflow-x: hidden !important;
}

.mat-drawer-side {
  border: none !important;
}

.login-navbar .logo {
  width: 200px;
}

.page-content {
  padding: 2rem;
  background-color: #f1f4f9;
}

.page-content h1,
.page-content h2 {
  font-size: 32px;
  letter-spacing: -0.022em;
  line-height: 1.25;
  font-family: 'Inter';
  font-weight: 600;
}

.page-content h2.title {
  font-size: 1.8rem;
}

.page-content .btn {
  color: #32405a;
  font-weight: 500;
  font-size: 0.9rem;
  padding-top: 2px;
  padding-bottom: 2px;
}

.header {
  margin: 1rem 0;
}

.page-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.sidenav-uds-list {
  width: 280px;
  padding: 1rem;
}
.sidenav-uds-list .mat-list-item-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

// ApexCharts ***************************************************************
.apexchart .chart-title {
  text-transform: uppercase;
  color: #64748b;
  font-weight: 600;
  font-size: 1.1rem;
}
.apexchart .chart-subtitle {
  font-size: 0.9rem;
}

.apexchart .list-group {
  font-size: 0.9rem;
}

.apexchart .label {
  flex-direction: row;
  width: 50%;
}

.apexchart .label-color {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 10px;
}

.apexchart .data {
  font-weight: 500;
  width: 35px;
  margin: 0 auto;
  text-align: end;
}

.apexchart .percent {
  width: 55px;
  text-align: end;
}

.apexchart .percent,
.apexchart .chart-actions {
  color: #64748b;
}

// Animaciones **************************************************************
.BDM_fadeInUp {
  opacity: 0;
  /* transform: translate(0, 30px); */
  animation: fadeInUp 0.2s ease-in-out 0s forwards;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d((0, 40px, 0));
    transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeOutDown {
  from {
    opacity: 0;
    -webkit-transform: none;
    transform: none;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }
}

// Media Querys *************************************************************
@media (max-width: 640px) {
  .login-navbar {
    position: relative !important;
  }

  .login-navbar .logo {
    width: 150px;
  }

  .login-wrapper {
    align-items: baseline !important;
    height: auto !important;
    padding-top: 1rem;
    text-align: center;
  }
}
