@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '~@ng-select/ng-select/themes/default.theme.css';

* {
  font-family: Roboto, 'Sans-serif';
}

html,
body {
  font-size: 14px;
}

a,
.cursor {
  cursor: pointer;
}

input.form-control::placeholder {
  color: #999;
  font-size: 0.95rem;
  font-weight: 100;
  opacity: 1;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #f9f9f9;
  opacity: 1;
}

.app-wrapper {
  height: 100vh;
  display: flex;
  transition: all 0.2s ease;
}

.app-sidebar {
  width: 260px;
  background-color: rgb(68, 68, 68);
  height: 100%;
  transition: all 0.2s ease;
}

.app-sidebar-min {
  margin-left: -260px;
  /* transform: translateX(-260px); */
}

/***************************** ESTILOS SIDEBAR **************************************/
/************************************************************************************/

/*************************** FIN ESTILOS SIDEBAR ************************************/
/************************************************************************************/

.app-pages {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease;
}

.page-navbar {
  /* flex: 1; */
}

.option-menu {
  margin-top: -9.6px;
  margin-bottom: -9.6px;
  margin-left: -27px;
  background-color: #f1f1f1;
  height: 56px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

#nav-icon {
  width: 25px;
  height: 20px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #017cff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0%;
}

#nav-icon span:nth-child(2) {
  top: calc(50% - 1.5px);
}

#nav-icon span:nth-child(3) {
  top: calc(100% - 3px);
}

#nav-icon.open span:nth-child(1) {
  top: 9px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon.open span:nth-child(3) {
  top: 9px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.page-navbar .btn-menu {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-left: -15px;
  transition: all 0.2s ease;
}

.page-navbar .btn-menu div {
  height: 2px;
  background-color: #000;
  margin-bottom: 2px;
}

.page-navbar .menu-open {
  transition: all 0.2s ease;
}

.page-navbar .menu-open div:first-child {
  transform: rotate(-45deg) translate(-4px, 2px);
}

.page-navbar .menu-open div:nth-child(2) {
  opacity: 0;
}

.page-navbar .menu-open div:last-child {
  transform: rotate(45deg) translate(-3px, -2px);
}

.page-content {
  flex: 1;
  background-color: #f6f7fb;
  overflow-y: scroll;
}

.page-content .content {
  padding: 1rem 1rem 2rem;
}

/* Estilos para los íconos de FontAwesome en sidebar*/
.sidebar .sidebar-wrapper .nav svg {
  font-size: 1rem;
  float: left;
  margin-right: 15px;
  line-height: 30px;
  height: 30px;
  width: 30px;
  text-align: center;
  color: #a9afbb;
  padding: 4.6px;
}

.sidebar > .logo {
  background-image: url('./assets/img/Logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 1rem 0;
  padding-bottom: 4.5rem;
  border-bottom: 1px solid #eee;
}

.navbar .logo {
  background-image: url('./assets/img/Logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 40px;
  width: 200px;
}

.btn > i {
  font-size: 1rem;
}

.btn-circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #eff3f6;
  border: none;
}

.bdm-btn-circle {
  border-radius: 50%;
}

.bootstrap-select {
  border: 1px solid #ced4da !important;
  border-radius: 4px;
}

.texto-tachado {
  text-decoration: line-through;
  opacity: 0.7;
}

/***************** Breadcrumbs v2 *****************/
.card-breadcrumb {
  margin-top: 0;
  margin-bottom: 1.5em;
}

.page-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-title .title {
  flex-grow: 8;
  text-transform: capitalize;
  font-weight: 700;
  margin: 0;
  font-size: 1.3rem;
}

.page-title .breadcrumbs-v2 {
  flex-grow: 2;
  list-style: none;
  margin-bottom: 0;
}

.page-title .breadcrumbs-v2 .breadcrumb-item {
  display: inline;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '>';
}
/***************** Fin breadcrumbs v2 *****************/
.card-graphic-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-graphic-info svg {
  font-size: 1.3rem;
}

.card-graphic-info .graphic-number {
  font-size: 36px;
  font-weight: 400;
  color: #646777;
  margin-bottom: -10px;
}

.card-graphic-info .data-desc {
  font-size: 0.7rem;
}

.card-graphic-sub-info {
  font-size: 0.8rem;
}

.table thead th {
  font-weight: lighter;
  border-bottom: 1px solid #dee2e6;
  color: #a4a4a4;
  border-top: none;
  text-transform: capitalize;
}

.table tbody td {
  vertical-align: middle;
}

.popover-body {
  background-color: hsla(0, 0%, 0%, 0.719);
  padding: 0.2rem 0.5rem;
  color: #fff;
}

.bs-popover-bottom > .arrow::after {
  border-bottom-color: hsl(0, 0%, 28%);
}

/* defines the animation */
.BDM_fadeInUp {
  opacity: 0;
  /* transform: translate(0, 30px); */
  animation: fadeInUp 0.2s ease-in-out 0s forwards;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d((0, 40px, 0));
    transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeOutDown {
  from {
    opacity: 0;
    -webkit-transform: none;
    transform: none;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 12px;
  }

  .sidebar > .logo {
    margin: 0 1rem 1rem;
    padding-bottom: 3.5rem;
    padding-top: 1rem;
    background-size: 80%;
  }

  .card-graphic-info .graphic-number {
    font-size: 1.7rem;
    margin-bottom: -8px;
  }

  .card-graphic-info .data-desc {
    font-size: 0.7rem;
  }

  .card-graphic-sub-info {
    font-size: 0.6rem;
  }
}
