a {
  cursor: pointer;
}

.app-wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 100%;
  grid-template-areas: 'sidebar pages' 'sidebar pages';
}

.app-sidebar {
  grid-area: sidebar;
  background-color: rgb(68, 68, 68);
  height: 100%;
}

.app-pages {
  display: grid;
  grid-area: pages;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 100%;
  grid-template-areas: 'header' 'page';
}

.page-navbar {
  grid-area: header;
}

.page-content {
  grid-area: page;
  background-color: #eee;
}

.page-content .content {
  padding: 30px 15px;
  height: 100%;
}

/* Estilos para los íconos de FontAwesome en sidebar*/
.sidebar .sidebar-wrapper .nav svg {
  font-size: 1rem;
  float: left;
  margin-right: 15px;
  line-height: 30px;
  height: 30px;
  width: 30px;
  text-align: center;
  color: #a9afbb;
  padding: 4.6px;
}

/***************** Breadcrumbs v2 *****************/
.card-breadcrumb {
  margin-top: 0;
  margin-bottom: 0;
}

.page-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.page-title .title {
  flex-grow: 8;
  text-transform: capitalize;
  font-weight: 700;
  margin: 0;
  font-size: 1.3rem;
}

.page-title .breadcrumbs-v2 {
  flex-grow: 2;
  list-style: none;
  margin-bottom: 0;
}

.page-title .breadcrumbs-v2 .breadcrumb-item {
  display: inline;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '>';
}
/***************** Fin breadcrumbs v2 *****************/

.nav-tabs .nav-link svg {
  font-size: 1rem;
  margin-right: 0.3rem;
}

.table tbody tr td .btn {
  padding: 0.40625rem 0.75rem;
  margin: -3px 0;
}

.card-header-icon.icon-sm {
  width: 63px;
  height: 66px;
  margin-top: -25px;
  text-align: center;
}

.card-header-icon.icon-sm .card-icon {
  line-height: 3.5em;
}

.card .card-title.title-top {
  margin: -40px 0 15px 65px;
  font-weight: 100;
  color: #6b6b6b;
}

.form-group > .bootstrap-select {
  width: 100% !important;
}

.selectpicker + .btn {
  background-color: white;
  box-shadow: none;
  border-bottom: 1px solid #d2d2d2;
  padding: 11px 25px 6px 5px;
  margin: 0;
  color: #4f5057;
  border-radius: none;
}

.selectpicker + .btn:active,
.selectpicker + .btn:hover,
.show > .btn.dropdown-toggle,
.show > .btn.dropdown-toggle:hover,
.show > .btn.dropdown-toggle:focus {
  background-color: #fff;
  color: #4f5057;
  border-bottom: 1px solid #d2d2d2;
  box-shadow: none;
}

.bootstrap-select .dropdown-menu li.disabled a,
.bootstrap-select .dropdown-menu li.disabled a:hover {
  background-color: #fff;
  box-shadow: none;
  cursor: default;
  color: #999 !important;
}

.bootstrap-select.show-tick .dropdown-menu .selected span.check-mark {
  top: 10px;
}

/*************** Sobreescribir estilo de DateTimePicer ***************/
/*Días deshabilitados*/
.bootstrap-datetimepicker-widget table td.day.disabled,
.bootstrap-datetimepicker-widget table td.disabled > div,
.bootstrap-datetimepicker-widget table td.disabled:hover > div {
  background: none;
  color: hsla(0, 0%, 80%, 1);
  cursor: not-allowed;
}

/***************** Sobreescribir estilo de SweetAlert *****************/
.swal2-popup {
  width: 30em;
  padding: 0.55em 1em;
  border-radius: 4px;
  box-shadow: 0 0 20px 3px hsla(0, 0%, 0%, 0.4);
}

.swal2-content {
  font-size: 1rem;
}

.swal2-styled.swal2-confirm {
  background-color: #9c28b1;
}

.swal2-styled.swal2-confirm,
.swal2-styled.swal2-cancel {
  border-radius: 3px;
  font-size: 0.76em;
}

.swal2-styled {
  padding: 0.525em 1.5em;
  box-shadow: 0 2px 5px #bdbdbd;
}
/***************** Fin sobreescribir estilo de SweetAlert *****************/

.invalid-feedback {
  display: block;
  width: 100%;
  /* margin-top: -15px; */
  font-size: 100%;
  color: #f44336;
}

.valid-feedback {
  display: block;
  width: 100%;
  /* margin-top: -15px; */
  font-size: 100%;
  color: #4caf50;
}
