@import '~@ng-select/ng-select/themes/default.theme.css';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';

* {
  font-family: Roboto, 'Sans-serif';
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

/* Sobre escritura de bootstrap */
button:focus {
  outline: none;
}

.mat-spacer {
  flex: 1 1 auto;
}

.mat-divider {
  margin: 8px 0 !important;
}

.vric-container {
  height: 100vh;
}

.mat-drawer-inner-container {
  overflow-x: hidden !important;
}

.mat-drawer-side {
  border: none !important;
}

.login-navbar .logo {
  width: 200px;
}

.page-content {
  padding: 1rem 0;
}

// Media Querys **************************************************
@media (max-width: 640px) {
  .login-navbar {
    position: relative !important;
  }

  .login-navbar .logo {
    width: 150px;
  }

  .login-wrapper {
    align-items: baseline !important;
    height: auto !important;
    padding-top: 1rem;
    text-align: center;
  }
}
