// @import '~@ng-select/ng-select/themes/default.theme.css';
@import '~@ng-select/ng-select/themes/material.theme.css';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

html,
body {
  height: 100%;
  font-size: 14px;
  font-family: 'Inter', Roboto, 'Helvetica Neue', sans-serif !important;
  margin: 0;
}

/* Sobre escritura de bootstrap */
button:focus {
  outline: none;
}

.btn {
  padding-bottom: 0.2rem !important;
  padding-top: 0.2rem !important;
}

.mat-spacer {
  flex: 1 1 auto;
}

.mat-divider {
  margin: 8px 0 !important;
}

.vric-container {
  height: 100vh;
}

.header-toolbar .mat-toolbar {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.mat-drawer-inner-container {
  overflow-x: hidden !important;
}

.mat-drawer-side {
  border: none !important;
}

.login-navbar .logo {
  width: 200px;
}

.mat-drawer-container {
  background-color: #f1f4f9 !important;
  min-height: calc(100% - 64px);
}
.page-content {
  padding: 2rem;
  background-color: #f1f4f9;
}

.header {
  margin: 1rem 0;
}
.header h1,
.header h2,
.page-title .title {
  font-size: 32px;
  letter-spacing: -0.022em;
  line-height: 1.25;
  font-family: 'Inter';
  font-weight: 600;
}

.header .search-input .mat-form-field-wrapper {
  padding-bottom: 0;
  margin: 0;
}
.header .search-input .mat-form-field-flex {
  min-height: 40px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.header .search-input .mat-form-field-flex:hover .mat-form-field-outline-start,
.header .search-input .mat-form-field-flex:hover .mat-form-field-outline-gap,
.header .search-input .mat-form-field-flex:hover .mat-form-field-outline-end {
  // border-color: #cfd8e3;
  border-width: 1px;
}
.header .search-input .mat-form-field-prefix {
  color: #97a6ba;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 30px;
}
.header .search-input .mat-form-field-infix {
  display: flex;
  width: 130px;
  height: 40px;
  border: none;
  padding: 0;
  margin-left: 2px;
}
.header .search-input .mat-form-field-infix input::-webkit-input-placeholder {
  font-weight: 500;
}

.page-title .title-bold {
  font-weight: 800;
}

.page-content .subtitle {
  font-size: 1.8rem;
}

.page-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.page-actions .btn-md {
  min-height: 40px;
}

.sidenav-uds-list {
  width: 280px;
  padding: 1rem;
}
.sidenav-uds-list .mat-list-item-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mat-table {
  width: 100%;
  box-shadow: none;
  font-family: Inter, Roboto, Arial, sans-serif;
}
.contratos-lista tr.mat-row {
  height: 64px;
  cursor: pointer;
}
.contratos-lista tr.mat-header-row {
  background-color: #fcfdff;
}
.contratos-lista tr.mat-header-row th {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 0.9rem;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.contratos-lista tr.mat-row {
  position: relative;
}
.contratos-lista tr.mat-row:hover {
  background-color: #f1f5ff;
}
.contratos-lista tr.mat-row td:first-child,
.contratos-lista tr.mat-header-row th:first-child {
  padding-left: 32px;
}
.contratos-lista tr.mat-row td:last-child,
.contratos-lista tr.mat-header-row th:last-child {
  padding-right: 32px;
}

.td-row-link {
  position: absolute;
  width: 100%;
  height: 64px;
  left: 0;
  bottom: 0;
}

// SIDENAV DETAIL COMPONENTS ********************************************
.contrato-detalle {
  position: relative;
  width: 480px;
  height: 100%;
  background-color: #fff;
  border-left: 1px solid #eee;
}
.contrato-detalle .actions {
  position: absolute;
  top: 32px;
  right: 24px;
  display: flex;
  flex-direction: row;
}
.contrato-detalle .actions button:hover {
  background-color: #eee;
}
.form-detalle {
  padding: 56px 64px 64px 80px;
}
.form-detalle .form-title {
  font-size: 2rem;
  font-weight: 700;
}

.form-detalle .status {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
  border: none;
}
.form-detalle .status .status-indicator {
  width: 8px;
  height: 8px;
  border-radius: 5rem;
  background-color: #4e9dff;
  margin-right: 5px;
  box-shadow: 0 0 2px #9a9a9a;
}
.form-detalle .status .status-text {
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-bottom: -2px;
}
.form-detalle .form-field mat-form-field.mat-form-field,
.form-detalle .form-field ng-select.ng-select {
  width: 100%;
}
.form-detalle
  .form-field
  mat-form-field.mat-form-field
  .mat-form-field-wrapper {
  padding-bottom: 0;
}
.form-detalle .form-field mat-form-field.mat-form-field .mat-form-field-infix {
  width: auto;
  font-family: Inter, Roboto, Arial, Helvetica, sans-serif;
  font-size: 0.92rem;
}
.form-detalle .form-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 0;
  max-width: 100%;
}
.form-detalle .form-field .form-field-icon {
  margin: 0 25px 0 -50px;
  color: #64748b;
}
.form-detalle.modo-edicion .form-field .form-field-icon {
}

.clipboard-btn:hover {
  background-color: #eee;
}
.clipboard-btn .clipboard-icon {
  color: #525252;
  font-size: 1.5rem;
}

.logo-icbf {
  border: 1px solid #d2d2d2;
  width: 128px;
  height: 128px;
  margin-bottom: 32px;
  padding: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
}
.logo-icbf img {
  width: 100%;
}

// ApexCharts ***************************************************************
.apexchart .chart-title {
  text-transform: uppercase;
  color: #64748b;
  font-weight: 600;
  font-size: 1.1rem;
}
.apexchart .chart-subtitle {
  font-size: 0.9rem;
}

.apexchart .list-group {
  font-size: 0.9rem;
}

.apexchart .label {
  flex-direction: row;
  width: 50%;
}

.apexchart .label-color {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 10px;
}

.apexchart .data {
  font-weight: 500;
  width: 35px;
  margin: 0 auto;
  text-align: end;
}

.apexchart .chart-data h2 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 0.5rem !important;
}

.apexchart .percent {
  width: 55px;
  text-align: end;
}

.apexchart .percent,
.apexchart .chart-actions {
  color: #64748b;
}

// Animaciones **************************************************************
.BDM_fadeInUp {
  opacity: 0;
  /* transform: translate(0, 30px); */
  animation: fadeInUp 0.2s ease-in-out 0s forwards;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d((0, 40px, 0));
    transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeOutDown {
  from {
    opacity: 0;
    -webkit-transform: none;
    transform: none;
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }
}

// Media Querys *************************************************************
@media (max-width: 640px) {
  .login-navbar {
    position: relative !important;
  }

  .login-navbar .logo {
    width: 150px;
  }

  .login-wrapper {
    align-items: baseline !important;
    height: auto !important;
    padding-top: 1rem;
    text-align: center;
  }
}
