<mat-sidenav-container [hasBackdrop]="true">
  <mat-sidenav #uds mode="over" position="end">
    <div class="sidenav-uds-list">
      <mat-nav-list>
        <ng-container *ngFor="let unidad of udsCali">
          <a mat-list-item [routerLink]="['/dashboard/uds', unidad._id]">
            <div>{{ unidad.nombre }}</div>
            <button mat-icon-button>
              <mat-icon fontSet="material-icons-outlined" color="primary"
                >info</mat-icon
              >
            </button>
          </a>
        </ng-container>
      </mat-nav-list>
      <mat-divider></mat-divider>
      <mat-nav-list>
        <ng-container *ngFor="let unidad of udsDagua">
          <div class="d-flex justify-content-between">
            <a mat-list-item [routerLink]="['/dashboard/uds', unidad._id]">
              {{ unidad.nombre }}
            </a>
            <button mat-icon-button>
              <mat-icon fontSet="material-icons-outlined" color="primary"
                >info</mat-icon
              >
            </button>
          </div>
        </ng-container>
      </mat-nav-list>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="page-content bg-blue-grey">
      <div class="container-fluid BDM_fadeInUp">
        <div class="row">
          <div class="col-12 text-right">
            <button
              (click)="crearNotificacion(true)"
              mat-flat-button
              type="button"
              color="primary"
            >
              Crear notificación general
            </button>
          </div>
        </div>
        <div class="header-dashboard row">
          <div class="page-title col-xl-6 p-0">
            <h2 class="m-0">Panel de análisis</h2>
            <div class="text-muted">
              Supervisión de métricas generales del contrato
            </div>
          </div>
          <div class="page-actions col-xl-6 p-0">
            <button
              mat-stroked-button
              (click)="obtenerDatos()"
              [disabled]="cargandoDatos"
              type="button"
              class="btn mr-2"
            >
              <mat-icon>update</mat-icon>
              <span *ngIf="cargandoDatos">Actualizando...</span>
              <span *ngIf="!cargandoDatos">Actualizar</span>
            </button>
            <button
              (click)="uds.toggle()"
              mat-stroked-button
              type="button"
              class="btn"
            >
              <mat-icon>assignment</mat-icon> Supervisión UDS
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-4">
            <div class="mb-3">
              <app-apex-line-chart-min
                titulo="Ingresos"
                subtitulo="Registrados en CUÉNTAME"
                [seriesNombre]="'Ingresos'"
                [series]="ingresosPorMes"
                [colors]="['#69c18e']"
                [categorias]="mesesFull"
              ></app-apex-line-chart-min>
            </div>
          </div>
          <div class="col-xl-4">
            <div class="mb-4">
              <app-apex-line-chart-min
                titulo="Egresos"
                subtitulo="Registrados en esta aplicación"
                [seriesNombre]="'Egresos'"
                [series]="egresosPorMes"
                [colors]="['#f05251']"
                [categorias]="mesesFull"
              ></app-apex-line-chart-min>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 mb-4 pt-2">
            <h2 class="subtitle mb-0">Beneficiarios</h2>
            <div class="text-muted">
              Información demográfica y comportamiento general de los
              beneficiarios
            </div>
          </div>
          <div class="col-sm-12 col-xl-3 mb-4">
            <app-apex-pie-chart
              titulo="Cobertura Cali"
              [series]="[
                totalCaliVinculados + totalCaliDS,
                cuposCali - (totalCaliVinculados + totalCaliDS)
              ]"
              [labels]="['Vinculados', 'Cupos disponibles']"
              [colors]="['#309794', '#4fd1c5']"
            ></app-apex-pie-chart>
          </div>
          <div class="col-sm-12 col-xl-3 mb-4">
            <app-apex-pie-chart
              titulo="Cobertura Dagua"
              [series]="[
                totalDaguaVinculados + totalDaguaDS,
                cuposDagua - (totalDaguaVinculados + totalDaguaDS)
              ]"
              [labels]="['Vinculados', 'Cupos disponibles']"
              [colors]="['#805ad4', '#b793f3']"
            ></app-apex-pie-chart>
          </div>
          <div class="col-sm-12 col-xl-3 mb-4">
            <app-apex-pie-chart
              titulo="Cobertura Total"
              [series]="[
                totalVinculados + totalDatosSensibles,
                cuposTotal - totalVinculados
              ]"
              [labels]="['Vinculados', 'Cupos disponibles']"
              [colors]="['#c45194', '#f07bb2']"
            ></app-apex-pie-chart>
          </div>
          <div class="col-sm-12 col-xl-3 mb-4">
            <app-apex-pie-chart
              titulo="Datos sensibles"
              [series]="[totalDatosSensibles, totalVinculados]"
              [labels]="['Datos sensibles', 'Registros con calidad']"
              [colors]="['#dd6c20', '#eee']"
            ></app-apex-pie-chart>
          </div>
          <div class="col-sm-12 col-xl-4">
            <div class="mb-4">
              <app-apex-bar-chart-stacked
                titulo="Sexo"
                [series]="[totalSexoMujer, totalSexoHombre, totalSexoOtro]"
                [seriesNombre]="['Mujeres', 'Hombres', 'Otro']"
                [categoria]="['Sexo']"
                [colores]="['#EC407A', '#F06292', '#F48FB1']"
              ></app-apex-bar-chart-stacked>
            </div>
          </div>
          <div class="col-sm-12 col-xl-4">
            <div class="mb-4">
              <app-apex-bar-chart-stacked
                titulo="Tipo de beneficiario"
                [series]="[totalMayoresSeisMeses, totalLactantes, totalMG]"
                [seriesNombre]="[
                  'Mayores de seis meses',
                  'Menores de seis meses',
                  'Mujeres gestantes'
                ]"
                [categoria]="['Tipo de beneficiario']"
                [colores]="['#00ACC1', '#00BCD4', '#26C6DA']"
              ></app-apex-bar-chart-stacked>
            </div>
          </div>
          <div class="col-sm-12 col-xl-4">
            <div class="mb-4">
              <app-apex-bar-chart-stacked
                titulo="Población vulnerable"
                [series]="[totalDiscapacitados, totalEtnia, totalExtranjeros]"
                [seriesNombre]="[
                  'Presentan discapacidad',
                  'Autorreconocen una población',
                  'Extranjeros'
                ]"
                [categoria]="['Población vulnerable']"
                [colores]="['#689F38', '#7CB342', '#8BC34A']"
              ></app-apex-bar-chart-stacked>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 mb-4 pt-2">
            <h2 class="subtitle mb-0">Datos populares</h2>
            <div class="text-muted">
              Información específica de beneficiarios según porpularidad de
              datos requeridos
            </div>
          </div>
          <div class="col-sm-12 col-xl-3">
            <div class="bg-white shadow-sm pt-3 pb-3 mb-4">
              <div class="p-3 pb-0">
                <h3 class="card-title mb-0">Datos especiales</h3>
                <mat-divider></mat-divider>
              </div>
              <mat-selection-list #shoes [multiple]="false">
                <mat-list-option>
                  <p class="d-flex justify-content-between">
                    <span>Mujeres gestantes adolescentes</span>
                    <span class="badge bg-info">{{ mgAdolescente }}</span>
                  </p>
                </mat-list-option>
                <mat-list-option>
                  <p class="d-flex justify-content-between">
                    <span>
                      Mayores de 2 años
                      <small class="text-muted">(Cali)</small>
                    </span>
                    <span class="badge bg-warning">{{
                      caliMayoresDe2Anios
                    }}</span>
                  </p>
                </mat-list-option>
                <mat-list-option>
                  <p class="d-flex justify-content-between">
                    <span>
                      Mayores de 2 años
                      <small class="text-muted">(Dagua)</small>
                    </span>
                    <span class="badge bg-warning">{{
                      daguaMayoresDe2Anios
                    }}</span>
                  </p>
                </mat-list-option>
                <mat-list-option>
                  <p class="d-flex justify-content-between">
                    <span>
                      Colombianos sin documento
                    </span>
                    <span class="badge bg-info">{{ colombianosSinDoc }}</span>
                  </p>
                </mat-list-option>
                <mat-list-option
                  [routerLink]="['/beneficiarios/estado/Concurrencia']"
                  matTooltip="Ver en mis UDS"
                  matTooltipPosition="right"
                >
                  <p class="d-flex justify-content-between">
                    <span>Beneficiarios en concurrencia</span>
                    <span class="badge bg-danger">{{ enConcurrencia }}</span>
                  </p>
                </mat-list-option>
              </mat-selection-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
