<div class="contrato-detalle">
  <form
    class="form-detalle modo-edicion"
    ngNativeValidate
    [formGroup]="formUsuario"
    (ngSubmit)="crearUsuario()"
  >
    <div class="actions">
      <button
        type="button"
        (click)="cancelar()"
        mat-icon-button
        matTooltip="Cancelar"
      >
        <mat-icon fontSet="material-icons-two-tone">cancel</mat-icon>
      </button>
      <button type="submit" mat-icon-button matTooltip="Guardar">
        <mat-icon fontSet="material-icons-two-tone">save</mat-icon>
      </button>
    </div>
    <div class="user-no-image">
      {{ fv.nombre || 'N' | primeraLetra }}
    </div>
    <div class="nombre form-field">
      <mat-form-field appearance="outline">
        <mat-label>Nombre completo</mat-label>
        <input
          matInput
          formControlName="nombre"
          name="nombre"
          placeholder="ej. Brayan Devia Machado"
        />
      </mat-form-field>
    </div>
    <div class="activo form-field mt-4">
      <mat-slide-toggle name="activo" formControlName="activo">
        <span *ngIf="fv.activo">Activo</span>
        <span *ngIf="!fv.activo">Inactivo</span>
      </mat-slide-toggle>
    </div>
    <div class="documento form-field">
      <mat-icon fontSet="material-icons-two-tone" class="form-field-icon"
        >account_box</mat-icon
      >
      <mat-form-field appearance="outline">
        <mat-label>No. Documento</mat-label>
        <input
          matInput
          formControlName="documento"
          name="documento"
          placeholder="Número de documento..."
        />
      </mat-form-field>
    </div>
    <div class="correo form-field">
      <mat-icon fontSet="material-icons-two-tone" class="form-field-icon"
        >email</mat-icon
      >
      <mat-form-field appearance="outline">
        <mat-label>Correo electrónico</mat-label>
        <input
          matInput
          formControlName="correo"
          name="correo"
          placeholder="usuario@dominio.com"
        />
      </mat-form-field>
    </div>
    <div class="form-field telefono">
      <mat-icon fontSet="material-icons-two-tone" class="form-field-icon"
        >local_phone</mat-icon
      >
      <mat-form-field appearance="outline">
        <mat-label>Telefono</mat-label>
        <input
          matInput
          type="numeric"
          formControlName="telefono"
          name="telefono"
          placeholder="telefono..."
        />
      </mat-form-field>
    </div>
    <div class="form-field rol">
      <mat-icon fontSet="material-icons-two-tone" class="form-field-icon"
        >supervisor_account</mat-icon
      >
      <mat-form-field appearance="outline" class="bdm-select">
        <mat-select
          placeholder="Establecer rol"
          name="rol"
          formControlName="rol"
        >
          <mat-option *ngFor="let rol of roles" [value]="rol.value">
            <mat-icon
              fontSet="fas"
              [fontIcon]="rol.icon"
              [class]="rol.iconColor"
            ></mat-icon>
            {{ rol.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-field contratos">
      <mat-icon fontSet="material-icons-two-tone" class="form-field-icon"
        >book</mat-icon
      >
      <mat-form-field appearance="outline" class="bdm-select">
        <mat-select
          name="contratos"
          formControlName="contratos"
          placeholder="Asignar contratos"
          multiple
        >
          <mat-option
            *ngFor="let contrato of contratosDisponibles"
            [value]="contrato._id"
            >{{ contrato.codigo }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-field password">
      <mat-icon fontSet="material-icons-two-tone" class="form-field-icon"
        >lock</mat-icon
      >
      <mat-form-field appearance="outline">
        <mat-label>Nueva contraseña</mat-label>
        <input
          matInput
          name="password"
          formControlName="password"
          [type]="hide ? 'password' : 'text'"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </form>
</div>
