<form ngNativeValidate [formGroup]="formCambio" (ngSubmit)="reportarCambio()">
  <div class="card card mt-3 mb-5 p-3 border-0 shadow-sm">
    <div class="card-body">
      <h5 class="card-title text-success">
        <i class="fas fa-female mr-2"></i>Madre del beneficiario
      </h5>
      <div class="row">
        <div class="col-lg-4 col-xl-3">
          <div class="form-group">
            <label for="udsId">Seleccionar UDS</label>
            <ng-select
              [items]="udsAsignadas"
              bindValue="_id"
              bindLabel="nombre"
              placeholder="Seleccionar Unidad de Servicio"
              [loading]="!udsAsignadas"
              (change)="traerMadres($event)"
              formControlName="selectUds"
              name="selectUds"
              required
            >
            </ng-select>
          </div>
        </div>
        <div class="col-lg-4 col-xl-3">
          <div class="form-group">
            <label for="beneficiarioId">Seleccionar Madre del bebé</label>
            <ng-select
              [items]="beneficiarios"
              bindValue="_id"
              bindLabel="nombre1"
              placeholder="Seleccionar beneficiario"
              [loading]="cargandoBeneficiarios"
              [closeOnSelect]="true"
              (change)="mostrarInfoMadre($event)"
              formControlName="beneficiarioId"
              name="beneficiarioId"
              required
            >
              <!-- item seleccionado (label) -->
              <ng-template ng-label-tmp let-item="item">
                {{ item.nombre1 }} {{ item.nombre2 }} {{ item.apellido1 }}
                {{ item.apellido2 }}
              </ng-template>
              <!-- opciones -->
              <ng-template ng-option-tmp let-item="item">
                {{ item.nombre1 }} {{ item.nombre2 }} {{ item.apellido1 }}
                {{ item.apellido2 }}
              </ng-template>
            </ng-select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="madreSeleccionada !== null">
    <!------------------- Sección datos básicos ------------------->
    <div class="card card mb-5 p-3 border-0 shadow-sm">
      <div class="card-body">
        <h5 class="card-title text-success">
          <i class="fas fa-clipboard-user mr-2"></i>Datos básicos del bebé
        </h5>
        <div class="row">
          <div class="col-lg-3 col-xl-2">
            <div class="form-group">
              <label for="tipoDoc">Tipo de documento</label>
              <ng-select
                #tipoDoc
                [items]="tiposDeDocumento"
                bindValue="value"
                bindLabel="label"
                groupBy="group"
                placeholder="Seleccionar tipo de documento"
                (change)="comprobarSD($event, 'documento')"
                formControlName="tipoDoc"
                name="tipoDoc"
                required
              >
                <ng-template ng-label-tmp let-item="item">
                  <i [class]="item.icon"></i>
                  {{ item.label }}
                </ng-template>
              </ng-select>
            </div>
          </div>
          <div class="col-lg-3 col-xl-2">
            <div class="form-group">
              <label for="documento">NUIP</label>
              <input
                #documento
                [value]="fv.documento | documento"
                formControlName="documento"
                name="documento"
                type="text"
                class="form-control"
                [ngClass]="
                  fc.documento.errors && fc.documento.touched
                    ? 'is-invalid'
                    : ''
                "
                placeholder="Número de NUIP"
                autocomplete="off"
                required
              />
              <div
                *ngIf="fc.documento.errors?.required"
                class="invalid-feedback"
              >
                El NUIP es obligatorio
              </div>
              <div
                *ngIf="fc.documento.errors?.minlength"
                class="invalid-feedback"
              >
                Debe tener mínimo 7 dígitos
              </div>
              <div
                *ngIf="fc.documento.errors?.maxlength"
                class="invalid-feedback"
              >
                Debe tener máximo 10 dígitos
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-xl-2">
            <div class="form-group">
              <label for="nombre1">Primer nombre</label>
              <input
                #nombre1
                formControlName="nombre1"
                name="nombre1"
                type="text"
                class="form-control"
                placeholder="ej. Brayan"
                required
              />
            </div>
          </div>
          <div class="col-lg-3 col-xl-2">
            <div class="form-group">
              <label for="nombre2">Segundo nombre</label>
              <input
                #nombre2
                formControlName="nombre2"
                name="nombre2"
                type="text"
                class="form-control"
                placeholder="..."
              />
            </div>
          </div>
          <div class="col-lg-3 col-xl-2">
            <div class="form-group">
              <label for="apellido1">Primer apellido</label>
              <input
                #apellido1
                formControlName="apellido1"
                name="apellido1"
                type="text"
                class="form-control"
                placeholder="ej. Devia"
                required
              />
            </div>
          </div>
          <div class="col-lg-3 col-xl-2">
            <div class="form-group">
              <label for="apellido2">Segundo apellido</label>
              <input
                #apellido2
                formControlName="apellido2"
                name="apellido2"
                type="text"
                class="form-control"
                placeholder="..."
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-xl-2">
            <div class="form-group">
              <label for="sexo">Sexo</label>
              <ng-select
                #sexo
                [items]="sexos"
                bindValue="value"
                bindLabel="label"
                placeholder="Seleccionar sexo"
                formControlName="sexo"
                name="sexo"
                required
              >
                <ng-template ng-label-tmp let-item="item">
                  <i [class]="item.icon"></i>
                  {{ item.label }}
                </ng-template>
              </ng-select>
            </div>
          </div>
          <div class="col-lg-3 col-xl-2">
            <div class="form-group">
              <label class="label-control" for="nacimiento"
                >Fecha nacimiento</label
              >
              <input
                formControlName="nacimiento"
                name="nacimiento"
                type="date"
                class="form-control"
                autocomplete="off"
              />
            </div>
          </div>
          <div class="col-lg-3 col-xl-2">
            <div class="form-group">
              <label for="paisNacimiento">País de nacimiento</label>
              <ng-select
                #paisNacimiento
                [items]="paises"
                bindValue="value"
                bindLabel="label"
                placeholder="Seleccionar país"
                (change)="cambiarDepartamentos($event)"
                formControlName="paisNacimiento"
                name="paisNacimiento"
                required
              >
              </ng-select>
            </div>
          </div>
          <div class="col-lg-3 col-xl-2">
            <div class="form-group">
              <label for="dptoNacimiento">Dpto. de nacimiento</label>
              <ng-select
                #dptoNacimiento
                [items]="listaDepartamentos"
                bindValue="departamento"
                bindLabel="departamento"
                placeholder="Seleccionar departamento"
                (change)="cambiarCiudades($event)"
                formControlName="dptoNacimiento"
                name="dptoNacimiento"
                required
              >
              </ng-select>
            </div>
          </div>
          <div class="col-lg-3 col-xl-2">
            <div class="form-group">
              <label for="municipioNacimiento">Municipio de nacimiento</label>
              <ng-select
                #municipioNacimiento
                [items]="listaMunicipios"
                bindValue="municipio"
                bindLabel="municipio"
                placeholder="Seleccionar municipio"
                formControlName="municipioNacimiento"
                name="municipioNacimiento"
                required
              >
              </ng-select>
            </div>
          </div>
          <div class="col-lg-3 col-xl-2">
            <div class="form-group">
              <label for="autorreconocimiento">Autorreconocimiento</label>
              <ng-select
                #autorreconocimiento
                [items]="reconocimientos"
                bindValue="value"
                bindLabel="label"
                placeholder="Seleccionar autorreconocimiento"
                formControlName="autorreconocimiento"
                name="autorreconocimiento"
                required
              >
              </ng-select>
            </div>
          </div>
          <div class="col-lg-3 col-xl-2">
            <div class="form-group">
              <label for="discapacidad">Discapacidad</label>
              <ng-select
                #discapacidad
                [items]="discapacidades"
                bindValue="value"
                bindLabel="label"
                placeholder="Seleccionar autorreconocimiento"
                formControlName="discapacidad"
                name="discapacidad"
                required
              >
              </ng-select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!------------------- Carta datos acudiente ------------------->
    <div class="card card mb-5 p-3 border-0 shadow-sm">
      <div class="card-body">
        <h5 class="card-title text-success">
          <i class="fas fa-users mr-2"></i>Datos de acudiente y madre
        </h5>
        <div class="row">
          <div class="col-12">
            <div class="row">
              <div class="col-lg-6 col-xl-5">
                <ul class="list-unstyled">
                  <li>
                    <b>Nombre completo: </b>
                    {{ madreSeleccionada.nombre1 }}
                    {{ madreSeleccionada.nombre2 }}
                    {{ madreSeleccionada.apellido1 }}
                    {{ madreSeleccionada.apellido2 }}
                  </li>
                  <li>
                    <b>Fecha nacimiento: </b>
                    {{ madreSeleccionada.nacimiento }}
                  </li>
                  <li>
                    <b>Lugar de nacimiento:</b>
                    {{ madreSeleccionada.paisNacimiento }},
                    {{ madreSeleccionada.dptoNacimiento }} -
                    {{ madreSeleccionada.municipioNacimiento }}
                  </li>
                </ul>
              </div>
              <div class="col-lg-2 col-xl-3">
                <ul class="list-unstyled">
                  <li>
                    <b>{{ madreSeleccionada.tipoDoc }}: </b>
                    {{ madreSeleccionada.documento }}
                  </li>
                  <li>
                    <b>Sexo: </b>
                    {{ madreSeleccionada.sexo }}
                  </li>
                </ul>
              </div>
              <div class="col-lg-4 col-xl-4">
                <ul class="list-unstyled">
                  <li>
                    <b>Dirección: </b>
                    {{ madreSeleccionada.direccion }}
                  </li>
                  <li>
                    <b>Barrio/Rural: </b>
                    {{ madreSeleccionada.barrio }}
                  </li>
                  <li><b>Telefono: </b>{{ madreSeleccionada.telefono }}</li>
                  <li>
                    <b>Criterio de atención: </b>
                    {{ madreSeleccionada.criterio }},
                    {{ madreSeleccionada.infoCriterio }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-----------------*******************-- Sección datos de padre --*******************----------------->
    <div class="card card mb-5 p-3 border-0 shadow-sm">
      <div class="card-body">
        <h5 class="card-title text-info">
          <i class="fas fa-male mr-2"></i>Datos padre del beneficiario
        </h5>
        <div class="card-actions mb-3">
          <!--******************************** Toggle tiene o no madre ********************************-->
          <div class="form-group form-check">
            <input
              (change)="desactivarCamposPadre()"
              [(ngModel)]="tienePadre"
              [ngModelOptions]="{ standalone: true }"
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"
              >Tiene padre</label
            >
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-xl-2">
            <div class="form-group">
              <label for="padreTipoDoc">Tipo de documento</label>
              <ng-select
                #padreTipoDoc
                [items]="tiposDeDocumentoAdultos"
                bindValue="value"
                bindLabel="label"
                groupBy="group"
                labelForId="padreTipoDoc"
                placeholder="Seleccionar tipo de documento"
                (change)="comprobarSD($event, 'padreDocumento')"
                formControlName="padreTipoDoc"
                name="padreTipoDoc"
                required
              >
                <ng-template ng-label-tmp let-item="item">
                  <i [class]="item.icon"></i>
                  {{ item.label }}
                </ng-template>
              </ng-select>
            </div>
          </div>
          <div class="col-lg-3 col-xl-2">
            <div class="form-group">
              <label for="documento">NUIP</label>
              <input
                #padreDocumento
                [value]="fv.padreDocumento | documento"
                formControlName="padreDocumento"
                name="padreDocumento"
                type="text"
                class="form-control"
                [ngClass]="
                  fc.padreDocumento.errors && fc.padreDocumento.touched
                    ? 'is-invalid'
                    : ''
                "
                placeholder="Número de NUIP"
                autocomplete="off"
                required
              />
              <div
                *ngIf="fc.padreDocumento.errors?.required"
                class="invalid-feedback"
              >
                El NUIP es obligatorio
              </div>
              <div
                *ngIf="fc.padreDocumento.errors?.minlength"
                class="invalid-feedback"
              >
                Debe tener mínimo 7 dígitos
              </div>
              <div
                *ngIf="fc.padreDocumento.errors?.maxlength"
                class="invalid-feedback"
              >
                Debe tener máximo 10 dígitos
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-xl-2">
            <div class="form-group">
              <label for="padreNombre1">Primer nombre</label>
              <input
                #padreNombre1
                formControlName="padreNombre1"
                name="padreNombre1"
                type="text"
                class="form-control"
                placeholder="ej. Miguel"
                required
              />
            </div>
          </div>
          <div class="col-lg-3 col-xl-2">
            <div class="form-group">
              <label for="padreNombre2">Segundo nombre</label>
              <input
                #padreNombre2
                formControlName="padreNombre2"
                name="padreNombre2"
                type="text"
                class="form-control"
                placeholder="..."
              />
            </div>
          </div>
          <div class="col-lg-3 col-xl-2">
            <div class="form-group">
              <label for="padreApellido1">Primer apellido</label>
              <input
                #padreApellido1
                formControlName="padreApellido1"
                name="padreApellido1"
                type="text"
                class="form-control"
                placeholder="ej. Devia"
                required
              />
            </div>
          </div>
          <div class="col-lg-3 col-xl-2">
            <div class="form-group">
              <label for="padreApellido2">Segundo apellido</label>
              <input
                #padreApellido2
                formControlName="padreApellido2"
                name="padreApellido2"
                type="text"
                class="form-control"
                placeholder="..."
              />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-xl-2">
            <div class="form-group">
              <label for="padreSexo">Sexo</label>
              <ng-select
                #padreSexo
                [items]="sexos"
                bindValue="value"
                bindLabel="label"
                labelForId="padreSexo"
                placeholder="Seleccionar sexo"
                formControlName="padreSexo"
                name="padreSexo"
                required
              >
                <ng-template ng-label-tmp let-item="item">
                  <i [class]="item.icon"></i>
                  {{ item.label }}
                </ng-template>
              </ng-select>
            </div>
          </div>
          <div class="col-lg-3 col-xl-2">
            <div class="form-group">
              <label class="label-control" for="padreNacimiento"
                >Fecha nacimiento</label
              >
              <input
                #padreNacimiento
                formControlName="padreNacimiento"
                name="padreNacimiento"
                id="padreNacimiento"
                type="date"
                class="form-control"
                autocomplete="off"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!------------------- Sección UDS e Ingreso ------------------->
    <div class="card card mb-3 p-3 border-0 shadow-sm">
      <div class="card-body">
        <h5 class="card-title text-success">
          <i class="fas fa-address-book mr-2"></i>Datos de ingreso
        </h5>
        <div class="row">
          <div class="col-lg-4 col-xl-2">
            <div class="form-group">
              <label for="udsId">Unidad De Servicio</label>
              <ng-select
                [items]="udsAsignadas"
                bindValue="_id"
                bindLabel="nombre"
                placeholder="Seleccionar Unidad de Servicio"
                (change)="cambiarCodigoUds($event)"
                formControlName="udsId"
                name="udsId"
                required
              >
              </ng-select>
            </div>
          </div>
          <div class="col-lg-3 col-xl-2">
            <div class="form-group text-muted">
              <label for="codigo">Código</label>
              <input
                formControlName="codigo"
                name="codigo"
                type="text"
                class="form-control"
                disabled
              />
            </div>
          </div>
          <div class="col-lg-3 col-xl-2">
            <div class="form-group">
              <label class="label-control" for="ingreso"
                >Fecha de ingreso</label
              >
              <input
                formControlName="ingreso"
                name="ingreso"
                type="date"
                class="form-control"
                autocomplete="off"
                required
              />
            </div>
          </div>
          <div class="col-lg-4 col-xl-2">
            <div class="form-group">
              <label for="comentario">Comentario (opcional)</label>
              <input
                formControlName="comentario"
                name="comentario"
                type="text"
                class="form-control"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-right">
        <button *ngIf="!creando" type="submit" class="btn btn-success">
          <i class="fas fa-user-plus mr-1"></i>
          Reportar ingreso
        </button>
        <button
          *ngIf="creando"
          [disabled]="creando"
          type="submit"
          class="btn btn-success"
        >
          <span
            class="spinner-border spinner-border-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Reportando...
        </button>
      </div>
    </div>
  </div>
</form>
