<div class="content">
  <div class="container-fluid">
    <app-breadcrumb></app-breadcrumb>
    <div class="row">
      <div class="col-12">
        <div class="card BDM_fadeInUp">
          <div class="card-header">
            Detalles de Unidad de Servicio
          </div>
          <div *ngIf="uds != null" class="card-body ">
            <form
              ngNativeValidate
              [formGroup]="formActualizarUds"
              (ngSubmit)="actualizar()"
            >
              <div class="row">
                <div class="col-2">
                  <div class="form-group">
                    <label for="codigo">Código</label>
                    <input
                      [ngModel]="uds.codigo"
                      formControlName="codigo"
                      name="codigo"
                      type="number"
                      class="form-control"
                      placeholder="Código..."
                      required
                    />
                    <small id="emailHelp" class="form-text text-muted"
                      >El código debe ser único.</small
                    >
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input
                      [ngModel]="uds.nombre"
                      formControlName="nombre"
                      name="nombre"
                      type="text"
                      class="form-control"
                      placeholder="Número..."
                      autocomplete="off"
                      required
                    />
                  </div>
                </div>
                <div class="col-1">
                  <div class="form-group">
                    <label for="cupos">Cupos</label>
                    <input
                      [ngModel]="uds.cupos"
                      formControlName="cupos"
                      name="cupos"
                      type="number"
                      class="form-control"
                      placeholder="Cupos..."
                    />
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <label for="ubicacion">Ubicación</label>
                    <input
                      [ngModel]="uds.ubicacion"
                      formControlName="ubicacion"
                      name="ubicacion"
                      type="text"
                      class="form-control"
                      placeholder="Ubicación..."
                    />
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <label for="creadoEl">Creada el</label>
                    <input
                      [ngModel]="uds.creadoEl"
                      formControlName="creadoEl"
                      name="creadoEl"
                      type="date"
                      class="form-control"
                      placeholder="Fecha de creación..."
                      readonly
                    />
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <label for="arriendo">Arrendamiento</label>
                    <ng-select
                      [items]="estadoArriendo"
                      bindValue="value"
                      bindLabel="label"
                      placeholder="Seleccionar"
                      [searchable]="false"
                      [(ngModel)]="uds.arriendo"
                      formControlName="arriendo"
                      name="arriendo"
                    ></ng-select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-3">
                  <div class="form-group">
                    <label for="coordinador">Coordinador</label>
                    <ng-select
                      [items]="coordinadores"
                      bindValue="_id"
                      bindLabel="nombre"
                      placeholder="Seleccionar coordinador"
                      [loading]="cargandoCoords"
                      [(ngModel)]="uds.coordinador._id"
                      formControlName="coordinador"
                      name="coordinador"
                    ></ng-select>
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="gestor">Gestor</label>
                    <ng-select
                      [items]="gestores"
                      bindValue="_id"
                      bindLabel="nombre"
                      placeholder="Seleccionar gestor"
                      [loading]="cargandoGestores"
                      [(ngModel)]="uds.gestor._id"
                      formControlName="gestor"
                      name="gestor"
                    ></ng-select>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label for="docentes">Docentes</label>
                    <ng-select
                      [items]="docentes"
                      bindValue="_id"
                      bindLabel="nombre"
                      placeholder="Seleccionar docentes"
                      [multiple]="true"
                      [hideSelected]="true"
                      [closeOnSelect]="false"
                      [maxSelectedItems]="2"
                      [loading]="cargandoDocentes"
                      [(ngModel)]="docentesEnUds"
                      formControlName="docentes"
                      name="docentes"
                    ></ng-select>
                  </div>
                </div>
                <div class="col-2">
                  <div class="form-group">
                    <label for="activa">Estado</label>
                    <ng-select
                      [items]="estadoUds"
                      bindValue="value"
                      bindLabel="label"
                      placeholder="Seleccionar estado"
                      [searchable]="false"
                      [(ngModel)]="uds.activa"
                      formControlName="activa"
                      name="activa"
                    ></ng-select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <span class="text-muted"
                    >UDS creada por: {{ uds.creadoPor.nombre }}</span
                  >
                  <br />
                  <span class="text-muted">
                    Contrato asignado:
                    <span *ngIf="uds.enContrato === null">No asignado</span>
                    <span *ngIf="uds.enContrato !== null">
                      {{ uds.enContrato.codigo }}</span
                    >
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col-12 text-right">
                  <button
                    *ngIf="!cargando"
                    type="submit"
                    class="btn btn-success btn-sm"
                  >
                    <i class="far fa-sync"></i>
                    Actualizar
                  </button>
                  <button
                    *ngIf="cargando"
                    type="submit"
                    class="btn btn-success btn-sm"
                  >
                    <i class="far fa-sync fa-spin"></i>
                    Actualizando
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
