<div
  class="page-wrapper d-flex justify-content-center bg-blue-grey help-center"
>
  <div class="main">
    <div class="header text-left">
      <a routerLink="/ayuda" mat-button color="primary" class="btn-back mb-4">
        <mat-icon>arrow_back</mat-icon> Volver al centro de ayuda
      </a>
      <h1 class="m-0">Preguntas realizadas frecuentemente</h1>
    </div>
    <div class="faqs">
      <h2>Más realizadas</h2>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Puedo eliminar un beneficiario después de reportado?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="text-muted">
            Puedes eliminar sólo los beneficiarios reportados como nuevo
            ingreso, sin embargo, esto sólo si el Gestor antes no ha realizado
            el cambio de estado a "Vinculado" ya que una vez realizdo el cambio
            de estado, este registro ya no se podrá eliminar.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Por qué no puedo reportar un nacimiento después de la primera
              semana?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="text-muted">
            Lo mejor para llevar el registro de un beneficiario Lactante (menor
            de seis meses) es hacerlo al inicio de un mes, puesto que, permite
            que el acompañamiento y cargue de formación se dé de manera
            armónica, hacerlo de otra manera es posible, sin embargo, presenta
            una dificultad al realizar su seguimiento en las plataformas.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="faqs">
      <h2>Preguntas generales</h2>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Puedo eliminar un beneficiario después de reportado?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="text-muted">
            Puedes eliminar sólo los beneficiarios reportados como nuevo
            ingreso, sin embargo, esto sólo si el Gestor antes no ha realizado
            el cambio de estado a "Vinculado" ya que una vez realizdo el cambio
            de estado, este registro ya no se podrá eliminar.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Por qué no puedo reportar un nacimiento después de la primera
              semana?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="text-muted">
            Lo mejor para llevar el registro de un beneficiario Lactante (menor
            de seis meses) es hacerlo al inicio de un mes, puesto que, permite
            que el acompañamiento y cargue de formación se dé de manera
            armónica, hacerlo de otra manera es posible, sin embargo, presenta
            una dificultad al realizar su seguimiento en las plataformas.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="faqs">
      <h2>Licencias</h2>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Puedo eliminar un beneficiario después de reportado?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="text-muted">
            Puedes eliminar sólo los beneficiarios reportados como nuevo
            ingreso, sin embargo, esto sólo si el Gestor antes no ha realizado
            el cambio de estado a "Vinculado" ya que una vez realizdo el cambio
            de estado, este registro ya no se podrá eliminar.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Por qué no puedo reportar un nacimiento después de la primera
              semana?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="text-muted">
            Lo mejor para llevar el registro de un beneficiario Lactante (menor
            de seis meses) es hacerlo al inicio de un mes, puesto que, permite
            que el acompañamiento y cargue de formación se dé de manera
            armónica, hacerlo de otra manera es posible, sin embargo, presenta
            una dificultad al realizar su seguimiento en las plataformas.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="faqs">
      <h2>Pagos</h2>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Puedo eliminar un beneficiario después de reportado?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="text-muted">
            Puedes eliminar sólo los beneficiarios reportados como nuevo
            ingreso, sin embargo, esto sólo si el Gestor antes no ha realizado
            el cambio de estado a "Vinculado" ya que una vez realizdo el cambio
            de estado, este registro ya no se podrá eliminar.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Por qué no puedo reportar un nacimiento después de la primera
              semana?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="text-muted">
            Lo mejor para llevar el registro de un beneficiario Lactante (menor
            de seis meses) es hacerlo al inicio de un mes, puesto que, permite
            que el acompañamiento y cargue de formación se dé de manera
            armónica, hacerlo de otra manera es posible, sin embargo, presenta
            una dificultad al realizar su seguimiento en las plataformas.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
