<div
  class="page-wrapper d-flex justify-content-center bg-blue-grey help-center"
>
  <div class="main">
    <div class="header text-left">
      <a
        [routerLink]="['/ayuda']"
        mat-button
        color="primary"
        class="btn-back mb-4"
      >
        <mat-icon>arrow_back</mat-icon> Volver al centro de ayuda
      </a>
      <h1 class="m-0">Preguntas realizadas frecuentemente</h1>
    </div>
    <div class="faqs">
      <h2>Más realizadas</h2>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Los datos de mi beneficiario cambiaron después de vinculado, qué
              pasó?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="text-muted">
            Esta aplicación es una capa de abstracción del CUENTAME, es decir,
            cuando se verifica que existe el registro de un beneficiario en
            CUENTAME, pero con datos distintos, el gestor actualiza los datos
            dentro de esta aplicación para que el usuario evidencie que es un
            dato sensible, para así poder realizar el reporte a ICBF.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Puedo eliminar un beneficiario que ingresé por error?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="text-muted">
            Puedes eliminar sólo los beneficiarios reportados como nuevo ingreso
            "Pendiente vincular", sin embargo, esto sólo antes de que el Gestor
            realice la vinculación, ya que una vez vinculado, no es posible.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Por qué no puedo reportar un nacimiento después de la primera
              semana?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="text-muted">
            Lo mejor para llevar el registro de un beneficiario Lactante (menor
            de seis meses) es hacerlo al inicio de un mes, puesto que, permite
            que el acompañamiento y cargue de formación se dé de manera
            armónica, hacerlo de otra manera es posible, sin embargo, presenta
            una dificultad al realizar su seguimiento en las plataformas.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Cuánto se tarda realizar un proceso de vinculación/desvinculación?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="text-muted">
            Los gestores de datos tienen 5 días hábiles para realizar algun
            movimiento en el aplicativo, sin embargo, esto no quiere decir que
            todos los cambios duren 5 días, eso depende de la cantidad de
            beneficiarios reportados en el mismo periodo desde las distintas
            Unidades De Servicio.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Al realizar un reporte de nacimiento no puedo cambiar los datos de
              la mamá?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="text-muted">
            Las actualizaciones de datos debes notificarlas al gestor para que
            este realice el cambio en este aplicactivo y en CUENTAME. También
            puedes <a href="#">realizar un ingreso nuevo</a>.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="faqs">
      <h2>Preguntas generales</h2>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Puedo eliminar un beneficiario después de reportado?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="text-muted">
            Puedes eliminar sólo los beneficiarios reportados como nuevo
            ingreso, sin embargo, esto sólo si el Gestor antes no ha realizado
            el cambio de estado a "Vinculado" ya que una vez realizdo el cambio
            de estado, este registro ya no se podrá eliminar.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Por qué no puedo reportar un nacimiento después de la primera
              semana?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="text-muted">
            Lo mejor para llevar el registro de un beneficiario Lactante (menor
            de seis meses) es hacerlo al inicio de un mes, puesto que, permite
            que el acompañamiento y cargue de formación se dé de manera
            armónica, hacerlo de otra manera es posible, sin embargo, presenta
            una dificultad al realizar su seguimiento en las plataformas.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="faqs">
      <h2>Licencias</h2>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Puedo eliminar un beneficiario después de reportado?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="text-muted">
            Puedes eliminar sólo los beneficiarios reportados como nuevo
            ingreso, sin embargo, esto sólo si el Gestor antes no ha realizado
            el cambio de estado a "Vinculado" ya que una vez realizdo el cambio
            de estado, este registro ya no se podrá eliminar.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Por qué no puedo reportar un nacimiento después de la primera
              semana?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="text-muted">
            Lo mejor para llevar el registro de un beneficiario Lactante (menor
            de seis meses) es hacerlo al inicio de un mes, puesto que, permite
            que el acompañamiento y cargue de formación se dé de manera
            armónica, hacerlo de otra manera es posible, sin embargo, presenta
            una dificultad al realizar su seguimiento en las plataformas.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
    <div class="faqs">
      <h2>Pagos</h2>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Puedo eliminar un beneficiario después de reportado?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="text-muted">
            Puedes eliminar sólo los beneficiarios reportados como nuevo
            ingreso, sin embargo, esto sólo si el Gestor antes no ha realizado
            el cambio de estado a "Vinculado" ya que una vez realizdo el cambio
            de estado, este registro ya no se podrá eliminar.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Por qué no puedo reportar un nacimiento después de la primera
              semana?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p class="text-muted">
            Lo mejor para llevar el registro de un beneficiario Lactante (menor
            de seis meses) es hacerlo al inicio de un mes, puesto que, permite
            que el acompañamiento y cargue de formación se dé de manera
            armónica, hacerlo de otra manera es posible, sin embargo, presenta
            una dificultad al realizar su seguimiento en las plataformas.
          </p>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
